.color1 {background-color: #121000;}
.color2 {background-color: #323028;}
.color3 {background-color: #787056;}
.color4 {background-color: #BFB287;}
.color5 {background-color: #E0d4b5;}

.colorGrey {background-color: #E0DBDB;}
.colorGreyDarker {background-color: #CCC8C8;}
.colorGreyWhiter {background-color: rgb(224, 219, 219);}
.colorWhite {background-color: #F0EAEB;}

.coloredText {color: #787056 !important;}
.colorText {color: #F0EAEB !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #787056 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #323028 solid;
}

/*Fondos dinámicos*/
/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/adaptados/protanopia/adaptada\ \(5\).png');
}

.cardMain{
    background-image: url('../../images/fondos/adaptados/protanopia/adaptada\ \(2\).png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/adaptados/protanopia/adaptada\ \(1\).png');
}

.informeCard{
    background-image: url('../../images/fondos/adaptados/protanopia/adaptada\ \(2\).png');
}

.iconSecondary{
    background-image: url('../../images/fondos/adaptados/protanopia/adaptada\ \(1\).png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/adaptados/protanopia/adaptada\ \(3\).png');
}

.fondoDinamico{
    background-image: url('../../images/fondos/adaptados/protanopia/adaptada\ \(4\).png');
}

.icon_app{
    background-image: url('../../images/logo_app/grey_icon.png');
}


/*Barra de carga*/
.progress .indeterminate {
    background-color: #323028;
}


/*Hover de los botones*/
.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: #787056 !important;
    color: #fff !important;
}

/*Color de los formularios dinamico*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #787056;
    -webkit-box-shadow: 0 1px 0 0 #787056;
    box-shadow: 0 1px 0 0 #787056;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #787056;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #787056;
    background-color: #787056;
}