.color1 {background-color: #140F04;}
.color2 {background-color: rgb(54, 46, 45);}
.color3 {background-color: rgb(130, 108, 97);}
.color4 {background-color: rgb(208, 171, 144);}
.color5 {background-color: rgb(245, 205, 186);}

.colorGrey {background-color: rgb(241, 213, 222);}
.colorGreyDarker {background-color: rgb(220, 194, 203);}
.colorGreyWhiter {background-color: rgb(220, 194, 203);}
.colorWhite {background-color: rgb(255, 229, 237);}

.coloredText {color: rgb(130, 108, 97) !important;}
.colorText {color: rgb(255, 229, 237) !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px rgb(130, 108, 97) solid;
}

.borderDecorationStrong{
    border-bottom: 5px rgb(54, 46, 45) solid;
}

/*Fondos dinámicos*/
/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/adaptados/deuteranopia/adaptada\ \(5\).png');
}

.cardMain{
    background-image: url('../../images/fondos/adaptados/deuteranopia/adaptada\ \(2\).png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/adaptados/deuteranopia/adaptada\ \(1\).png');
}

.informeCard{
    background-image: url('../../images/fondos/adaptados/deuteranopia/adaptada\ \(2\).png');
}

.iconSecondary{
    background-image: url('../../images/fondos/adaptados/deuteranopia/adaptada\ \(1\).png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/adaptados/deuteranopia/adaptada\ \(3\).png');
}

.fondoDinamico{
    background-image: url('../../images/fondos/adaptados/deuteranopia/adaptada\ \(4\).png');
}

.icon_app{
    background-image: url('../../images/logo_app/grey_icon.png');
}


/*Barra de carga*/
.progress .indeterminate {
    background-color: rgb(54, 46, 45);
}

/*Hover de los botones*/
.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: rgb(130, 108, 97) !important;
    color: #fff !important;
}

/*Color de los formularios dinamico*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(130, 108, 97);
    -webkit-box-shadow: 0 1px 0 0 rgb(130, 108, 97);
    box-shadow: 0 1px 0 0 rgb(130, 108, 97);
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: rgb(130, 108, 97);
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid rgb(130, 108, 97);
    background-color: rgb(130, 108, 97);
}