.color1 {background-color:  #26334d;}
.color2 {background-color:  #4c4668;}
.color3 {background-color:  #7a5a89;}
.color4 {background-color:  #be77b0;}
.color5 {background-color:  #dc91d1;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}

.coloredText {color: #7a5a89 !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #7a5a89 solid;
}