.color1 {background-color:  #2b2631;}
.color2 {background-color:  #4d4147;}
.color3 {background-color:  #75656a;}
.color4 {background-color:  #b4a2b2;}
.color5 {background-color:  #e0c8e0;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}
.colorWhite {background-color: #fff;}

.coloredText {color: #75656a !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #75656a solid;
}

.borderDecorationStrong{
    border-bottom: 5px #4d4147 solid;
}