.color1 {background-color:  #251d22;}
.color2 {background-color:  #4a3238;}
.color3 {background-color:  #775e57;}
.color4 {background-color:  #a4927e;}
.color5 {background-color:  #c2bb99;}

.colorGrey {background-color: #dddddd;}
.colorText {color: #fff !important;}