.color1 {background-color:  #131c25;}
.color2 {background-color:  #1c2936;}
.color3 {background-color:  #3e5b65;}
.color4 {background-color:  #5f91a4;}
.color5 {background-color:  #85d0e5;}

.colorGrey {background-color: #dddddd;}
.colorGreyDarker {background-color: #cacaca;}
.colorGreyWhiter {background-color: #ececec;}
.colorWhite {background-color: #fff;}

.coloredText {color: #3e5b65 !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #3e5b65 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #1c2936 solid;
}


/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/azul/azul_4.png');
}

.cardMain{
    background-image: url('../../images/fondos/azul/azul_3.png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/azul/azul_2.png');
}

.informeCard{
    background-image: url('../../images/fondos/azul/azul_3.png');
}

.iconSecondary{
    background-image: url('../../images/fondos/azul/azul_2.png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/azul/azul_1.png');
}

.fondoDinamico{
    background-image: url('../../images/fondos/azul/azul_3.png');
}

.icon_app{
    background-image: url('../../images/logo_app/blue_icon.png');
}



/*Barra de carga*/
.progress .indeterminate {
    background-color: #1c2936;
}