.color1 {background-color: #12141d;}
.color2 {background-color: #122d3e;}
.color3 {background-color: #125163;}
.color4 {background-color: #157a93;}
.color5 {background-color: #1dafc7;}

.colorGrey {background-color: #dddddd;}
.colorText {color: #fff !important;} 