.color1 {background-color:  #12090b;}
.color2 {background-color:  #1c2936;}
.color3 {background-color:  #3e5b65;}
.color4 {background-color:  #5f91a4;}
.color5 {background-color:  #85d0e5;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}