.color1 {background-color: #000a00;}
.color2 {background-color: #0c3226;}
.color3 {background-color: #377e5b;}
.color4 {background-color: #9bbd8c;}
.color5 {background-color: #d8d8b8;}

.colorGrey {background-color: #dddddd;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}