.color1 {background-color:  #26334d;}
.color2 {background-color:  #4c4668;}
.color3 {background-color:  #7a5a89;}
.color4 {background-color:  #be77b0;}
.color5 {background-color:  #dc91d1;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}
.colorWhite {background-color: #fff;}

.coloredText {color: #7a5a89 !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #7a5a89 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #4c4668 solid;
}

/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/morado/morado_2.png');
}

.cardMain{
    background-image: url('../../images/fondos/morado/morado_3.png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/morado/morado_2.png');
}

.informeCard{
    background-image: url('../../images/fondos/morado/morado_3.png');
}

.iconSecondary{
    background-image: url('../../images/fondos/morado/morado_2.png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/morado/morado_1.png');
}