.color1 {background-color:  #4d2c4c;}
.color2 {background-color:  #743b5e;}
.color3 {background-color:  #b0537a;}
.color4 {background-color:  #fb7799;}
.color5 {background-color:  #ffb2bf;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}
.colorWhite {background-color: #fff;}

.coloredText {color: #b0537a !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #b0537a solid;
}

.borderDecorationStrong{
    border-bottom: 5px #743b5e solid;
}

/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/rosa/rosa_2.png');
}

.cardMain{
    background-image: url('../../images/fondos/rosa/rosa_4.png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/rosa/rosa_3.png');
}

.informeCard{
    background-image: url('../../images/fondos/rosa/rosa_6.png');
}

.iconSecondary{
    background-image: url('../../images/fondos/rosa/rosa_5.png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/rosa/rosa_7.png');
}

/*Barra de carga*/
.progress .indeterminate {
    background-color: #743b5e;
}