.color1 {background-color:  #4f1502;}
.color2 {background-color:  #712c00;}
.color3 {background-color:  #9b4b00;}
.color4 {background-color:  #cf7800;}
.color5 {background-color:  #ffad07;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}
.colorWhite {background-color: #fff;}

.coloredText {color: #9b4b00 !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #9b4b00 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #712c00 solid;
}