.color1 {background-color:  #4d2c4c;}
.color2 {background-color:  #743b5e;}
.color3 {background-color:  #b0537a;}
.color4 {background-color:  #fb7799;}
.color5 {background-color:  #ffb2bf;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}

.coloredText {color: #b0537a !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #b0537a solid;
}

.borderDecorationStrong{
    border-bottom: 5px #743b5e solid;
}