.color1 {background-color:  #5c1928;}
.color2 {background-color:  #74232d;}
.color3 {background-color:  #9c3537;}
.color4 {background-color:  #d45044;}
.color5 {background-color:  #ff7751;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}

.coloredText {color: #9c3537 !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #9c3537 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #74232d solid;
}