.color1 {background-color:  #0e0e0e;}
.color2 {background-color:  #0f0f0f;}
.color3 {background-color:  #161616;}
.color4 {background-color:  #2c2c2c;}
.color5 {background-color:  #303030;}

.colorGrey {background-color: #252525;}
.colorGreyWhiter {background-color: #272727;}
.colorWhite {background-color: #0f0f0f;}

.coloredText {color: rgb(255, 255, 255) !important;}
.colorText {color: rgb(255, 255, 255) !important;}
.colorTextReverse {color: rgb(255, 255, 255) !important;}

.borderDecoration{
    border-bottom: 5px #161616 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #0f0f0f solid;
}

body{
    background-color: #181818;
}

h1,h2,h3,h4,h5, p{
    color: #fff !important;
}