.color1 {background-color:  #5c1928;}
.color2 {background-color:  #74232d;}
.color3 {background-color:  #9c3537;}
.color4 {background-color:  #d45044;}
.color5 {background-color:  #ff7751;}

.colorGrey {background-color: #dddddd;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}