.color1 {background-color:  #5a1411;}
.color2 {background-color:  #842b19;}
.color3 {background-color:  #bc521c;}
.color4 {background-color:  #fa8c1e;}
.color5 {background-color:  #ffd530;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}

.coloredText {color: #bc521c !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #bc521c solid;
}

.borderDecorationStrong{
    border-bottom: 5px #842b19 solid;
}
