::selection { 
    background: #777777;
    color:#fff; 
}

.color1 {background-color:  #313131;}
.color2 {background-color:  #444444;}
.color3 {background-color:  #747474;}
.color4 {background-color:  #bbbbbb;}
.color5 {background-color:  #e2e2e2;}

.colorGrey {background-color: #dddddd;}
.colorGreyDarker {background-color: #cacaca;}
.colorGreyWhiter {background-color: #ececec;}
.colorWhite {background-color: #fff;}

.coloredText {color: #777777 !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #747474 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #4d4d4d solid;
}

/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/gotico/gotico_1.png');
}

.cardMain{
    background-image: url('../../images/fondos/gotico/gotico_3.png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/gotico/gotico_4.png');
}

.informeCard{
    background-image: url('../../images/fondos/gotico/gotico_5.png');
}

.iconSecondary{
    background-image: url('../../images/fondos/gotico/gotico_6.png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/gotico/gotico_1.png');
}

.fondoDinamico{
    background-image: url('../../images/fondos/gotico/gotico_1.png');
}

.icon_app{
    background-image: url('../../images/logo_app/grey_icon.png');
}

.iconBoxInfoDinamico{
    background-image: url('../../images/brand_app/triple_gris.png');
}


/*Barra de carga*/
.progress .indeterminate {
    background-color: #4d4d4d;
}

/*Hover de los botones*/
.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: #747474 !important;
    color: #fff !important;
}


/*Color de los formularios dinamico*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #707070;
    -webkit-box-shadow: 0 1px 0 0 #707070;
    box-shadow: 0 1px 0 0 #707070;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #707070;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #707070;
    background-color: #707070;
}

/* Date Display */
.datepicker-date-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: #707070;
    color: #fff;
    padding: 20px 22px;
    font-weight: 500;
}

.datepicker-table td.is-selected {
    background-color: #707070;
    color: #fff;
}

.datepicker-table td.is-today {
    color: #707070;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: #707070;
    padding: 0 1rem;
}

/*Para los type radio*/
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #707070;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #707070;
}

/*Para el icono de prefijo*/
.input-field .prefix.active {
    color: #707070;
}

/*Para los textos de los dropdown*/
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    font-weight: 650;
    color: #707070;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

/*Para el reloj*/
/* Clock Digital Display */
.timepicker-digital-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: #707070;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    font-weight: 300;
}

.timepicker-canvas line {
    stroke: #bbbbbb;
    stroke-width: 4;
    stroke-linecap: round;
}

.timepicker-canvas-out {
    opacity: 0.25;
}

.timepicker-canvas-bearing {
    stroke: none;
    fill: #bbbbbb;
}

.timepicker-canvas-bg {
    stroke: none;
    fill: #bbbbbb;
}

.timepicker-close {
    color: #000;
}

@media only screen and (max-width: 601px) {
    .timepicker-digital-display {
        border-radius: 20px 20px 0 0;
    }
}