.color1 {background-color:  #4f1502;}
.color2 {background-color:  #712c00;}
.color3 {background-color:  #9b4b00;}
.color4 {background-color:  #cf7800;}
.color5 {background-color:  #ffad07;}

.colorGrey {background-color: #dddddd;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}