.color1 {background-color:  #000006;}
.color2 {background-color:  #0c1f26;}
.color3 {background-color:  #284856;}
.color4 {background-color:  #467e95;}
.color5 {background-color:  #559c9e;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}