.color1 {background-color:  #26334d;}
.color2 {background-color:  #4c4668;}
.color3 {background-color:  #7a5a89;}
.color4 {background-color:  #be77b0;}
.color5 {background-color:  #dc91d1;}

.colorGrey {background-color: #dddddd;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}