.color1 {background-color:  #5a1411;}
.color2 {background-color:  #842b19;}
.color3 {background-color:  #bc521c;}
.color4 {background-color:  #fa8c1e;}
.color5 {background-color:  #ffd530;}

.colorGrey {background-color: #dddddd;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}