::selection { 
    background: #121b1d;
    color:#fff; 
}

.color1 {background-color: #121b1d;}
.color2 {background-color: #123b3e;}
.color3 {background-color: #126063;}
.color4 {background-color: #158a93;}
.color5 {background-color: #1dc7be;}

.colorGrey {background-color: #dddddd;}
.colorGreyDarker {background-color: #cacaca;}
.colorGreyWhiter {background-color: #ececec;}
.colorWhite {background-color: #fff;}

.coloredText {color: #121b1d !important;}
.colorText {color: #fff !important;} 
.colorTextReverse {color: #000 !important;} 

.borderDecoration{
    border-bottom: 5px #121b1d solid;
}

.borderDecorationStrong{
    border-bottom: 5px #090e0f solid;
}

/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/aqua/aqua_1.png');
}

.cardMain{
    background-image: url('../../images/fondos/aqua/aqua_1.png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/aqua/aqua_4.png');
}

.informeCard{
    background-image: url('../../images/fondos/aqua/aqua_3.png');
}

.iconSecondary{
    background-image: url('../../images/fondos/aqua/aqua_5.png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/aqua/aqua_6.png');
}

.fondoDinamico{
    background-image: url('../../images/fondos/aqua/aqua_1.png');
}

.icon_app{
    background-image: url('../../images/logo_app/aqua_icon.png');
}

.iconBoxInfoDinamico{
    background-image: url('../../images/brand_app/triple_aqua.png');
}


/*Barra de carga*/
.progress .indeterminate {
    background-color: #121b1d;
}


/*Hover de los botones*/
.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: #126063 !important;
    color: #fff !important;
}


/*Color de los formularios dinamico*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #126063;
    -webkit-box-shadow: 0 1px 0 0 #126063;
    box-shadow: 0 1px 0 0 #126063;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #126063;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #126063;
    background-color: #126063;
}