.color1 {background-color:  #2c1b18;}
.color2 {background-color:  #4e342e;}
.color3 {background-color:  #5d4037;}
.color4 {background-color:  #bcaaa4;}
.color5 {background-color:  #d7ccc8;}

.colorGrey {background-color: #dddddd;}
.colorGreyDarker {background-color: #cacaca;}
.colorGreyWhiter {background-color: #ececec;}
.colorWhite {background-color: #fff;}


.coloredText {color: #5d4037 !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #5d4037 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #4e342e solid;
}


/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/cafe/cafe_4.png');
}

.cardMain{
    background-image: url('../../images/fondos/cafe/cafe_3.png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/cafe/cafe_2.png');
}

.informeCard{
    background-image: url('../../images/fondos/cafe/cafe_5.png');
}

.iconSecondary{
    background-image: url('../../images/fondos/cafe/cafe_6.png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/cafe/cafe_1.png');
}

.fondoDinamico{
    background-image: url('../../images/fondos/cafe/cafe_1.png');
}

.icon_app{
    background-image: url('../../images/logo_app/brown_icon.png');
}


/*Barra de carga*/
.progress .indeterminate {
    background-color: #4e342e;
}