.color1 {background-color:  #251d22;}
.color2 {background-color:  #4a3238;}
.color3 {background-color:  #775e57;}
.color4 {background-color:  #a4927e;}
.color5 {background-color:  #c2bb99;}

.colorGrey {background-color: #dddddd;}
.colorGreyWhiter {background-color: #ececec;}
.colorWhite {background-color: #fff;}


.coloredText {color: #775e57 !important;}
.colorText {color: #fff !important;}
.colorTextReverse {color: #000 !important;}

.borderDecoration{
    border-bottom: 5px #775e57 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #4a3238 solid;
}


/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/cafe/cafe_4.png');
}

.cardMain{
    background-image: url('../../images/fondos/cafe/cafe_3.png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/cafe/cafe_2.png');
}

.informeCard{
    background-image: url('../../images/fondos/cafe/cafe_5.png');
}

.iconSecondary{
    background-image: url('../../images/fondos/cafe/cafe_6.png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/cafe/cafe_1.png');
}

.fondoDinamico{
    background-image: url('../../images/fondos/cafe/cafe_1.png');
}

/*Barra de carga*/
.progress .indeterminate {
    background-color: #4a3238;
}