::selection { 
    background: #420000;
    color:#fff; 
}

.color1 {background-color:  #2c0000;}
.color2 {background-color:  #0f0f0f;}
.color3 {background-color:  #380000;}
.color4 {background-color:  #490000;}
.color5 {background-color:  #420000;}

.colorGrey {background-color: #333333;}
.colorGreyWhiter {background-color: #272727;}
.colorWhite {background-color: #2b2b2b;}
.colorGreyDarker {background-color: #242424;}

.coloredText {color: rgb(255, 255, 255) !important;}
.colorText {color: rgb(255, 255, 255) !important;}
.colorTextReverse {color: rgb(255, 255, 255) !important;}

.borderDecoration{
    border-bottom: 5px #380000 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #380000 solid;
}

body{
    background-color: #181818;
}

h1,h2,h3,h4,h5, p{
    color: #fff !important;
}

/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/black/black_1.png');
}

.cardMain{
    background-image: url('../../images/fondos/black/black_2.png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/black/black_3.png');
}

.informeCard{
    background-image: url('../../images/fondos/black/black_4.png');
}

.iconSecondary{
    background-image: url('../../images/fondos/black/black_2.png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/black/black_1.png');
}

.fondoDinamico{
    background-image: url('../../images/fondos/black/black_1.png');
}

.icon_app{
    background-image: url('../../images/logo_app/grey_icon.png');
}

.iconBoxInfoDinamico{
    background-image: url('../../images/brand_app/triple_oscuro.png');
}


/*Barra de carga*/
.progress .indeterminate {
    background-color: #2c2c2c;
}

/*Hover de los botones*/
.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: #252525 !important;
    color: #fff !important;
}

/*Color de los formularios dinamico*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #c70000;
    -webkit-box-shadow: 0 1px 0 0 #c70000;
    box-shadow: 0 1px 0 0 #c70000;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #c70000;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #c70000;
    background-color: #c70000;
}

/* Date Display */
.datepicker-date-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: #2b2b2b;
    color: #fff;
    padding: 20px 22px;
    font-weight: 500;
}

.datepicker-table td.is-selected {
    background-color: #1b1b1b;
    color: #fff;
}

.datepicker-table td.is-today {
    color: #fff;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: #fff;
    padding: 0 1rem;
}

.datepicker-calendar-container {
    -webkit-box-flex: 2.5;
    -webkit-flex: 2.5 auto;
    -ms-flex: 2.5 auto;
    flex: 2.5 auto;
    background-color: #252525;
    color: #fff;
}

.datepicker-controls {
    background-color: #fff;
    border-radius: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 280px;
    margin: 0 auto;
}