::selection { 
    background: #002442;
    color:#fff; 
}

.color1 {background-color:  #00122c;}
.color2 {background-color:  #0f0f0f;}
.color3 {background-color:  #001d38;}
.color4 {background-color:  #002849;}
.color5 {background-color:  #002442;}

.colorGrey {background-color: #333333;}
.colorGreyWhiter {background-color: #272727;}
.colorWhite {background-color: #2b2b2b;}
.colorGreyDarker {background-color: #242424;}

.coloredText {color: rgb(255, 255, 255) !important;}
.colorText {color: rgb(255, 255, 255) !important;}
.colorTextReverse {color: rgb(255, 255, 255) !important;}

.borderDecoration{
    border-bottom: 5px #001d38 solid;
}

.borderDecorationStrong{
    border-bottom: 5px #001d38 solid;
}

body{
    background-color: #181818;
}

h1,h2,h3,h4,h5, p{
    color: #fff !important;
}

/*Fondos dinámicos*/
.cardCarouselMainHead{
    background-image: url('../../images/fondos/black/black_1.png');
}

.cardMain{
    background-image: url('../../images/fondos/black/black_2.png');
}

.cardMainDesktopPanelHead{
    background-image: url('../../images/fondos/black/black_3.png');
}

.informeCard{
    background-image: url('../../images/fondos/black/black_4.png');
}

.iconSecondary{
    background-image: url('../../images/fondos/black/black_2.png') ;
}

.card-bienvenida,.card-bienvenida-text{
    background-image: url('../../images/fondos/black/black_1.png');
}

.fondoDinamico{
    background-image: url('../../images/fondos/black/black_1.png');
}

.icon_app{
    background-image: url('../../images/logo_app/grey_icon.png');
}

.iconBoxInfoDinamico{
    background-image: url('../../images/brand_app/triple_oscuro.png');
}


/*Barra de carga*/
.progress .indeterminate {
    background-color: #2c2c2c;
}

/*Hover de los botones*/
.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: #252525 !important;
    color: #fff !important;
}

/*Color de los formularios dinamico*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0055b6;
    -webkit-box-shadow: 0 1px 0 0 #0055b6;
    box-shadow: 0 1px 0 0 #0055b6;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #0055b6;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #0055b6;
    background-color: #0055b6;
}