<!DOCTYPE html>
<html lang="en">

<head>
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

    <title>Comunidad</title>
</head>

<body class="oculto colorGrey">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 shadow-2e" style="z-index:20000;">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Comunidad.</a>
            <a href="/bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Comunidad.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="/bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>

    <section class="container_browser" id="container_browser_id_uno">
        <div class="fondoDinamico headerComunidad shadow-2e" id="fondo_browser_id_dos"></div>
        <div class="contenedorBuscador centerAligner" id="container_browser_id_dos">
            <div class="icon_browser_mine" id="icon_browser_mine"><i class="material-icons colorText">search</i></div>
            <div class="box_browser">
                <input type="text" class="browser-default shadow-2e flow-text" placeholder="Buscar cuestionarios"
                    id="buscadorInput_tres">
            </div>
            <div class="icon_search_voice_mine shadow-2 bordered5 color3 colorText" id="icon_search_voice_mine"><i
                    class="material-icons">keyboard_voice</i></div>
        </div>
    </section>

    <br><br>

    <!--Slider palabras clave-->
    <div class="title-general">
        <h5 class="hide-on-large-only">Resultados</h5>
        <h4 class="hide-on-med-and-down">Resultados</h4>
    </div>
    <section class="cardsResultsCommunityBig_BankData_container">
        {% for item in general %}
        <a href="/genera_cuestionarios_por_lenguaje?id={{item.idCuestionario}}">
            <div class="cardsResultsCommunityBig_BankData_card bordered1 colorGreyWhiter shadow-1">
                {% if item.lenguaje == "Python" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_uno.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/py.png')"></p>
                </div>
                {% elif item.lenguaje == "Java" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_dos.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/java.png')"></p>
                </div>
                {% elif item.lenguaje == "C" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_tres.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/c.png')"></p>
                </div>
                {% endif %}
                <div class="cardsResultsCommunityBig_BankData_card_data">
                    <p class="cardsResultsCommunityBig_BankData_card_data_1 colorTextReverse">{{item.titulo}}</p>
                    <p class="cardsResultsCommunityBig_BankData_card_data_2 colorTextReverse">{{item.temas}}</p>
                    <p class="cardsResultsCommunityBig_BankData_card_data_3 colorText">{{item.autor}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
    <!--Para las pantallas de celular-->
    <section class="mainBodyAdicional">
        <!--Seccion para dispositivos moviles-->
        <section class="owl-five owl-carousel owl-theme hide-on-med-and-up">
            {% for item in general %}

            <div class="item" style="margin-left: 20px;">
                <a href="/genera_cuestionarios_por_lenguaje?id={{item.idCuestionario}}">
                    <div class="cardComunidadBusqueda colorGreyWhiter bordered1 shadow-2e">
                        <div class="cardBackgroundBusqueda bordered1" {% if item.lenguaje=="Python" %}
                            style="background-image: url('../../static/images/python.png');" {% elif
                            item.lenguaje=="Java" %} style="background-image: url('../../static/images/java.jpg');" {%
                            elif item.lenguaje=="C" %} style="background-image: url('../../static/images/loc.png');" {%
                            endif %}>
                        </div>
                        <div class="cardTitleBusqueda">
                            <div class="miniBadge colorTextReverse">{{item.titulo}}</div>
                        </div>
                        <div class="cardUserBusqueda">
                            <div class="aligner_image_name">
                                <div class="docente_name_card_community">
                                    <p class="colorTextReverse" style="width: 100%;">{{item.autor}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </section>
    </section>

    <!--Recomendaciones extra-->
    <div class="title-general">
        <h5 class="hide-on-large-only">Podría interesarle</h5>
        <h4 class="hide-on-med-and-down">Podría interesarle</h4>
    </div>
    <section class="cardsResultsCommunityBig_BankData_container">
        {% for item in python %}
        <a href="/genera_cuestionarios_por_lenguaje?id={{item.idCuestionario}}">
            <div class="cardsResultsCommunityBig_BankData_card bordered1 colorGreyWhiter shadow-1">
                {% if item.lenguaje == "Python" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_uno.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/py.png')"></p>
                </div>
                {% elif item.lenguaje == "Java" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_dos.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/java.png')"></p>
                </div>
                {% elif item.lenguaje == "C" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_tres.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/c.png')"></p>
                </div>
                {% endif %}
                <div class="cardsResultsCommunityBig_BankData_card_data">
                    <p class="cardsResultsCommunityBig_BankData_card_data_1 colorTextReverse">{{item.titulo}}</p>
                    <p class="cardsResultsCommunityBig_BankData_card_data_2 colorTextReverse">{{item.temas}}</p>
                    <p class="cardsResultsCommunityBig_BankData_card_data_3 colorText">{{item.autor}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
        {% for item in lenguajec %}
        <a href="/genera_cuestionarios_por_lenguaje?id={{item.idCuestionario}}">
            <div class="cardsResultsCommunityBig_BankData_card bordered1 colorGreyWhiter shadow-1">
                {% if item.lenguaje == "Python" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_uno.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/py.png')"></p>
                </div>
                {% elif item.lenguaje == "Java" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_dos.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/java.png')"></p>
                </div>
                {% elif item.lenguaje == "C" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_tres.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/c.png')"></p>
                </div>
                {% endif %}
                <div class="cardsResultsCommunityBig_BankData_card_data">
                    <p class="cardsResultsCommunityBig_BankData_card_data_1 colorTextReverse">{{item.titulo}}</p>
                    <p class="cardsResultsCommunityBig_BankData_card_data_2 colorTextReverse">{{item.temas}}</p>
                    <p class="cardsResultsCommunityBig_BankData_card_data_3 colorText">{{item.autor}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
        {% for item in java %}
        <a href="/genera_cuestionarios_por_lenguaje?id={{item.idCuestionario}}">
            <div class="cardsResultsCommunityBig_BankData_card bordered1 colorGreyWhiter shadow-1">
                {% if item.lenguaje == "Python" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_uno.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/py.png')"></p>
                </div>
                {% elif item.lenguaje == "Java" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_dos.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/java.png')"></p>
                </div>
                {% elif item.lenguaje == "C" %}
                <div class="cardsResultsCommunityBig_BankData_card_img"
                    style="background-image: url('../../static/images/fondos/a_cards_comunidad/fondo_tres.png')">
                    <p class="cardsResultsCommunityBig_BankData_card_icon"
                        style="background-image: url('../../static/images/fondos/a_cards_comunidad/c.png')"></p>
                </div>
                {% endif %}
                <div class="cardsResultsCommunityBig_BankData_card_data">
                    <p class="cardsResultsCommunityBig_BankData_card_data_1 colorTextReverse">{{item.titulo}}</p>
                    <p class="cardsResultsCommunityBig_BankData_card_data_2 colorTextReverse">{{item.temas}}</p>
                    <p class="cardsResultsCommunityBig_BankData_card_data_3 colorText">{{item.autor}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
           
    <section class="mainBodyAdicional">
        <!--Seccion para dispositivos moviles-->
        <section class="owl-five owl-carousel owl-theme hide-on-med-and-up">
            {% for item in python %}
            <div class="item" style="margin-left: 20px;">
                <a href="/genera_cuestionarios_por_lenguaje?id={{item.idCuestionario}}">
                    <div class="cardComunidadBusqueda colorGreyWhiter bordered1 shadow-2e">
                        <div class="cardBackgroundBusqueda bordered1" {% if item.lenguaje=="Python" %}
                            style="background-image: url('../../static/images/python.png');" {% elif
                            item.lenguaje=="Java" %} style="background-image: url('../../static/images/java.jpg');" {%
                            elif item.lenguaje=="C" %} style="background-image: url('../../static/images/loc.png');" {%
                            endif %}>
                        </div>
                        <div class="cardTitleBusqueda">
                            <div class="miniBadge colorTextReverse">{{item.titulo}}</div>
                        </div>
                        <div class="cardUserBusqueda">
                            <div class="aligner_image_name">
                                <div class="docente_name_card_community">
                                    <p class="colorTextReverse" style="width: 100%;">{{item.autor}}</p>
                                    <p class="colorTextReverse" style="width: 100%;">{{item.temas}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% for item in lenguajec %}
            <div class="item" style="margin-left: 20px;">
                <a href="/genera_cuestionarios_por_lenguaje?id={{item.idCuestionario}}">
                    <div class="cardComunidadBusqueda colorGreyWhiter bordered1 shadow-2e">
                        <div class="cardBackgroundBusqueda bordered1" {% if item.lenguaje=="Python" %}
                            style="background-image: url('../../static/images/python.png');" {% elif
                            item.lenguaje=="Java" %} style="background-image: url('../../static/images/java.jpg');" {%
                            elif item.lenguaje=="C" %} style="background-image: url('../../static/images/loc.png');" {%
                            endif %}>
                        </div>
                        <div class="cardTitleBusqueda">
                            <div class="miniBadge colorTextReverse">{{item.titulo}}</div>
                        </div>
                        <div class="cardUserBusqueda">
                            <div class="aligner_image_name">
                                <div class="docente_name_card_community">
                                    <p class="colorTextReverse" style="width: 100%;">{{item.autor}}</p>
                                    <p class="colorTextReverse" style="width: 100%;">{{item.temas}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% for item in java %}
            <div class="item" style="margin-left: 20px;">
                <a href="/genera_cuestionarios_por_lenguaje?id={{item.idCuestionario}}">
                    <div class="cardComunidadBusqueda colorGreyWhiter bordered1 shadow-2e">
                        <div class="cardBackgroundBusqueda bordered1" {% if item.lenguaje=="Python" %}
                            style="background-image: url('../../static/images/python.png');" {% elif
                            item.lenguaje=="Java" %} style="background-image: url('../../static/images/java.jpg');" {%
                            elif item.lenguaje=="C" %} style="background-image: url('../../static/images/loc.png');" {%
                            endif %}>
                        </div>
                        <div class="cardTitleBusqueda">
                            <div class="miniBadge colorTextReverse">{{item.titulo}}</div>
                        </div>
                        <div class="cardUserBusqueda">
                            <div class="aligner_image_name">
                                <div class="docente_name_card_community">
                                    <p class="colorTextReverse" style="width: 100%;">{{item.autor}}</p>
                                    <p class="colorTextReverse" style="width: 100%;">{{item.temas}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </section>
    </section>
</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}
<script src="../../static/js/stickyBrowser.js"></script>
<script src="../../static/js/vistaElementos.js"></script>

</html>