<!DOCTYPE html>
<html lang="en">

<head>
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

    <title>Comunidad</title>
</head>

<body class="oculto">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Comunidad.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Comunidad.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>
    <br><br>

    <section>
        <div class="fondoDinamico headerComunidad shadow-2e headerComunidad"></div>
        <div class="contenedorBuscador centerAligner">
            <input type="text" class="browser-default shadow-2e flow-text" placeholder="Buscar cuestionarios"
                id="buscadorInput">
        </div>
    </section>

    <!--Slider palabras clave-->
    {% include "includes/comunidadDocente/sliderRecomendaciones.html" %}
    
    <!--Carousel-->
    <div class="title-general">
        <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Resultados</h5>
        <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Resultados</h4>
    </div>
    <section class="mainBodyAdicional">
        <!--Seccion para dispositivos moviles-->
        <section class="owl-five owl-carousel owl-theme hide-on-med-and-up">
            <div class="item" style="margin-left: 20px;">
                <a href="gestionar_grupos">
                    <div class="cardComunidadBusqueda colorGreyWhiter bordered1 shadow-2e">
                        <div class="cardBackgroundBusqueda bordered1"
                            style="background-image: url('../../static/images/carousel_two.jpg');">
                        </div>
                        <div class="cardTitleBusqueda">
                            <div class="miniBadge colorTextReverse">Nombre_cuestionario</div>
                        </div>
                        <div class="cardUserBusqueda">
                            <div class="aligner_image_name">
                                <div class="imageUserBusqueda">
                                    <img src="../../static/images/user.png" class="bordered5">
                                </div>
                                <div class="docente_name_card_community">
                                    <p class="colorTextReverse" style="width: 100%;">Docente XYZ.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item" style="width: 200px;">
            </div>
        </section>
    </section>

    <!--Recomendaciones extra-->
    <div class="title-general">
        <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Podría interesarle</h5>
        <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Podría interesarle</h4>
    </div>
    <section class="mainBodyAdicional">
        <div class="card_Comunidad_Grande bordered2 colorGrey">
            <div class="imagen_card_Comunidad_Grande">
                <img src="../../static/images/carousel_three.jpg" class="bordered2Up">
            </div>
            <div class="padre_datos_card_Comunidad">
                <div class="imagen_card_usuario_Comunidad_Grande">
                    <img src="../../static/images/user.png" class="shadow-2e bordered5">
                </div>
                <div class="text_card_grande">
                    <p class="truncate">Nombre del cuestionario</p>
                    <p class="truncate">Nombre del docente</p>
                </div>
            </div>
        </div>
    </section>
    <section class="mainBodyAdicional">
        <!--Seccion para dispositivos moviles-->
        <section class="owl-five owl-carousel owl-theme hide-on-med-and-up">
            <div class="item" style="margin-left: 20px;">
                <a href="gestionar_grupos">
                    <div class="cardComunidadBusqueda colorGreyWhiter bordered1 shadow-2e">
                        <div class="cardBackgroundBusqueda bordered1"
                            style="background-image: url('../../static/images/carousel_two.jpg');">
                        </div>
                        <div class="cardTitleBusqueda">
                            <div class="miniBadge colorTextReverse">Nombre_cuestionario</div>
                        </div>
                        <div class="cardUserBusqueda">
                            <div class="aligner_image_name">
                                <div class="imageUserBusqueda">
                                    <img src="../../static/images/user.png" class="bordered5">
                                </div>
                                <div class="docente_name_card_community">
                                    <p class="colorTextReverse" style="width: 100%;">Docente XYZ.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item" style="width: 200px;">
            </div>
        </section>
    </section>

    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}
</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

</html>