<!DOCTYPE html>
<html lang="en">

<head>
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

    <title>Saber más</title>
</head>

<body class="oculto">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Comunidad.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Comunidad.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>
    <br><br>

    <section>
        <div class="fondoDinamico headerComunidad shadow-2e headerComunidad"></div>
        <div class="contenedorBuscador centerAligner">
            <input type="text" class="browser-default shadow-2e flow-text" placeholder="Buscar cuestionarios" id="buscadorInput">
        </div>
    </section>

    <!--Metemos el footer en la app-->
    {% include "includes/comunidadDocente/sliderRecomendaciones.html" %}

    <section>
        <div class="cardComunidadBusqueda colorGrey bordered2">
            <div class="cardBackgroundBusqueda bordered2 shadow-3e"
             style="background-image: url('https://dical.es/modules/ph_simpleblog/covers/18.jpg');">
            </div>
            <div class="cardTitleBusqueda">
                <div class="miniBadge colorWhite shadow-2e bordered5">Cuestionario Ejemplo</div>
            </div>
            <div class="cardUserBusqueda">
                <div class="imageUserBusqueda">
                    <img src="../../static/images/user.png" class="shadow-2e bordered5">
                </div>
                <div></div>
            </div>
        </div>
    </section>

    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}
</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

</html>