<!DOCTYPE html>
<html lang="en">

<head>
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

    <title>Saber más</title>
</head>

<body class="oculto colorGrey">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Estadísticas.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Estadísticas.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
        <!--Sección para elegir el tipo de stat-->
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1 color2">
            <li class="tab"><a class="active coloredText colorText" href="#test1">Informes</a></li>
            <li class="tab"><a href="#test2" class="colorText">Grupos</a></li>
            <li class="tab"><a href="#test3" class="colorText">Cuestionarios</a></li>
            <li class="tab"><a href="#test4" class="colorText">Comunidad</a></li>
            <li class="tab"><a href="#test5" class="colorText">Estudiantes</a></li>
        </ul>
        <div class="progress color4 hidderMine" id="hidder" style="margin: 0px;">
            <div class="indeterminate"></div>
        </div>
    </nav>
    <br><br><br><br><br><br>

    <!--Datos generales para tabletas y escritorio-->
    {% include "includes/estadisticasDocente/1_datos_generales_med_large.html" %}

    <!--Datos generales para moviles-->
    {% include "includes/estadisticasDocente/1_datos_generales_small.html" %}


    <div id="test1" class="col s12">
        {% include "includes/estadisticasDocente/3_informes_estadisticas.html" %}
    </div>
    <div id="test2" class="col s12">
        <!--Graficas de la seccion.-->
        {% include "includes/estadisticasDocente/2_datos_graficas_grupos.html" %}
    </div>
    <div id="test3" class="col s12">
        <!--Graficas de la seccion.-->
        {% include "includes/estadisticasDocente/2_datos_graficas_cuestionarios.html" %}
    </div>
    <div id="test4" class="col s12">
        <!--Graficas de la seccion.-->
        {% include "includes/estadisticasDocente/2_datos_graficas_comunidad.html" %}
    </div>
    <div id="test5" class="col s12">
        <!--Listado de los alumnos por grupo.-->
        {% include "includes/estadisticasDocente/4_alumnos_por_grupo.html" %}

        <!--Listado de los alumnos por grupo.-->
        {% include "includes/estadisticasDocente/4_alumnos_graficas.html" %}
    </div>






    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}

</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

</html>