<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}| JCP{% endblock %}</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Grupos.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Grupos.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>

    <!--Seccion para dispositivos tableta-->
    <section class="mainBodyAdicional">
        <div class="title-general colorGrey">
            <h4 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Gestión grupos</h4>
            <h3 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Gestión grupos</h3>
        </div>

        <section class="centerAligner containerTabletaSecondary hide-on-small-only hide-on-large-only colorGrey">
                <a href="gestionar_grupos">
                    <div class="cardSecondary cardSecondaryTablet shadow-2 bordered2 colorGreyWhiter">
                        <div class="centerAligner iconSecondary">
                            <p><i class="material-icons">group_add</i></p>
                        </div>
                        <div class="centerAligner textSecondary">Crear grupos</div>
                    </div>
                </a>

                <a href="gestionar_grupos">
                    <div class="cardSecondary cardSecondaryTablet shadow-2 bordered2 colorGreyWhiter">
                        <div class="centerAligner iconSecondary">
                            <p><i class="material-icons">groups</i></p>
                        </div>
                        <div class="centerAligner textSecondary">Ver grupos</div>
                    </div>
                </a>

                <a href="gestionar_grupos">
                    <div class="cardSecondary cardSecondaryTablet shadow-2 bordered2 colorGreyWhiter">
                        <div class="centerAligner iconSecondary">
                            <p><i class="material-icons">supervised_user_circle</i></p>
                        </div>
                        <div class="centerAligner textSecondary">Comunidad</div>
                    </div>
                </a>
        </section>
    </section>

    <!--Seccion para dispositivos escritorio-->
    <section class="mainBodyAdicional hide-on-small-only hide-on-med-only colorGrey">
        <section class="centerAligner horizontalAligner">
            <div class="cardMainDesktopPanel shadow-2 bordered2">
                <div class="cardMainDesktopPanelHead centerAligner">Crear grupos</div>
                <div class="centerAligner verticalAligner">
                    <div class="cardMainDesktopPanelLeft cardMainDesktopPanelLeftEDITED centerAlignerNoWidth colorGreyWhiter">
                        <p><i class="material-icons">group_add</i></p>
                    </div>
                    <div class="cardMainDesktopPanelRight cardMainDesktopPanelRightEDITED flow-text centerAlignerNoWidth colorGreyWhiter">Genere nuevos grupos y agregue alumnos.</div>
                </div>
            </div>

            <div class="cardMainDesktopPanel shadow-2 bordered2">
                <div class="cardMainDesktopPanelHead centerAligner">Ver grupos</div>
                <div class="centerAligner verticalAligner">
                    <div class="cardMainDesktopPanelLeft cardMainDesktopPanelLeftEDITED centerAlignerNoWidth colorGreyWhiter">
                        <p><i class="material-icons">groups</i></p>
                    </div>
                    <div class="cardMainDesktopPanelRight cardMainDesktopPanelRightEDITED flow-text centerAlignerNoWidth colorGreyWhiter">Vea los grupos que ha creado y editelos.</div>
                </div>
            </div>

            <div class="cardMainDesktopPanel shadow-2 bordered2">
                <div class="cardMainDesktopPanelHead centerAligner">Comunidad</div>
                <div class="centerAligner verticalAligner">
                    <div class="cardMainDesktopPanelLeft cardMainDesktopPanelLeftEDITED centerAlignerNoWidth colorGreyWhiter">
                        <p><i class="material-icons">supervised_user_circle</i></p>
                    </div>
                    <div class="cardMainDesktopPanelRight cardMainDesktopPanelRightEDITED flow-text centerAlignerNoWidth colorGreyWhiter">Más contenido en la comunidad.</div>
                </div>
            </div>
        </section>
    </section>

    <!--Seccion para dispositivos moviles-->
    <section class="mainBodyAdicional">
        <section class="owl-carousel owl-theme hide-on-med-and-up colorGrey">
            <div class="item">
                <a href="gestionar_grupos">
                    <div class="cardSecondary shadow-2 bordered2 colorGreyWhiter">
                        <div class="centerAligner iconSecondary">
                            <p><i class="material-icons">group_add</i></p>
                        </div>
                        <div class="centerAligner textSecondary">Crear grupos</div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="gestionar_grupos">
                    <div class="cardSecondary shadow-2 bordered2 colorGreyWhiter">
                        <div class="centerAligner iconSecondary">
                            <p><i class="material-icons">groups</i></p>
                        </div>
                        <div class="centerAligner textSecondary">Ver grupos</div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="gestionar_grupos">
                    <div class="cardSecondary shadow-2 bordered2 colorGreyWhiter">
                        <div class="centerAligner iconSecondary">
                            <p><i class="material-icons">supervised_user_circle</i></p>
                        </div>
                        <div class="centerAligner textSecondary">Comunidad</div>
                    </div>
                </a>
            </div>

            <div class="item" style="width: 200px;">
            </div>
        </section>
    </section>

    <!--Seccion de alumnos en los grupos-->
    <div class="title-general">
        <h4 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Alumnos</h4>
        <h3 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Alumnos</h3>
    </div>

    <section style="margin: 30px;">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Nombre del grupo</div>
                <div class="collapsible-body">
                    <section class="centerAligner verticalAligner">
                        <a href="#!" class="waves-effect waves-light" style="width: 100%;">
                            <div class="cardAlumno shadow-2 bordered1 centerAligner colorGreyWhiter">
                                <div class="iconoAlumno centerAligner"><img class="bordered5"
                                        src="../../static/images/user.png" alt="alumno de grupo"></div>
                                <div class="nombreAlumno centerAligner">
                                    <p class="flow-text colorTextReverse truncate">Nombre del alumno</p>
                                </div>
                            </div>
                        </a>

                        <div class="cardAlumno shadow-2 bordered1 centerAligner colorGreyWhiter">
                            <div class="iconoAlumno centerAligner"><img class="bordered5"
                                    src="../../static/images/user.png" alt="alumno de grupo"></div>
                            <div class="nombreAlumno centerAligner">
                                <p class="flow-text colorTextReverse truncate">Nombre del alumno</p>
                            </div>
                        </div>

                        <div class="cardAlumno shadow-2 bordered1 centerAligner colorGreyWhiter">
                            <div class="iconoAlumno centerAligner"><img class="bordered5"
                                    src="../../static/images/user.png" alt="alumno de grupo"></div>
                            <div class="nombreAlumno centerAligner">
                                <p class="flow-text colorTextReverse truncate">Nombre del alumno</p>
                            </div>
                        </div>
                        <div class="cardAlumno shadow-2 bordered1 centerAligner colorGreyWhiter">
                            <div class="iconoAlumno centerAligner"><img class="bordered5"
                                    src="../../static/images/user.png" alt="alumno de grupo"></div>
                            <div class="nombreAlumno centerAligner">
                                <p class="flow-text colorTextReverse truncate">Nombre del alumno</p>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Nombre del grupo 2</div>
                <div class="collapsible-body">
                    <section class="row">
                        <div class="cardAlumno shadow-2 bordered1 centerAligner colorGreyWhiter">
                            <div class="iconoAlumno centerAligner"><img class="bordered5"
                                    src="../../static/images/user.png" alt="alumno de grupo"></div>
                            <div class="nombreAlumno centerAligner">
                                <p class="flow-text colorTextReverse truncate">Nombre del alumno</p>
                            </div>
                        </div>

                        <div class="cardAlumno shadow-2 bordered1 centerAligner colorGreyWhiter">
                            <div class="iconoAlumno centerAligner"><img class="bordered5"
                                    src="../../static/images/user.png" alt="alumno de grupo"></div>
                            <div class="nombreAlumno centerAligner">
                                <p class="flow-text colorTextReverse truncate">Nombre del alumno</p>
                            </div>
                        </div>

                        <div class="cardAlumno shadow-2 bordered1 centerAligner colorGreyWhiter">
                            <div class="iconoAlumno centerAligner"><img class="bordered5"
                                    src="../../static/images/user.png" alt="alumno de grupo"></div>
                            <div class="nombreAlumno centerAligner">
                                <p class="flow-text colorTextReverse truncate">Nombre del alumno</p>
                            </div>
                        </div>
                        <div class="cardAlumno shadow-2 bordered1 centerAligner colorGreyWhiter">
                            <div class="iconoAlumno centerAligner"><img class="bordered5"
                                    src="../../static/images/user.png" alt="alumno de grupo"></div>
                            <div class="nombreAlumno centerAligner">
                                <p class="flow-text colorTextReverse truncate">Nombre del alumno</p>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
        </ul>
    </section>

    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}

</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

</html>