<!DOCTYPE html>
<html lang="en">

<head>
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

    <title>Saber más</title>
</head>

<body class="oculto colorGrey">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Estadísticas.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Estadísticas.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>
    <br><br><br>

    <!--Seccion de datos relevantes en las estadisticas
        para las tabletas y para los esxritorios.-->
    <section class="mainBodyAdicional">
        <div class="title-general colorGrey">
            <h4 class="hide-on-large-only hide-on-small-only">&nbsp;&nbsp;&nbsp;&nbsp;Datos relevantes</h4>
            <h5 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;</h5>
        </div>

        <section class="containerTabletaSecondary hide-on-small-only colorGreyWhiter bordered2 shadow-1e row"
            style="margin: 0 65px 0 65px; padding: 20px;">
            <div class="col s12 hide-on-med-and-down">
                <h5>Datos relevantes</h5>
            </div>
            <div class="col s12 m6 l3">
                <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                    <a href="#!" id="coloresAqua">
                        <div class="card-stacked">
                            <div class="card-content centerAligner verticalAligner">
                                <div>
                                    <p class="colorTextReverse fontTabletSummary">Dato relevante 1</p>
                                </div>
                                <div class="fontCounterSummary colorTextReverse">
                                    80
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                    <a href="#!" id="coloresAqua">
                        <div class="card-stacked">
                            <div class="card-content centerAligner verticalAligner">
                                <div>
                                    <p class="colorTextReverse fontTabletSummary">Dato relevante 2</p>
                                </div>
                                <div class="fontCounterSummary colorTextReverse">
                                    80
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                    <a href="#!" id="coloresAqua">
                        <div class="card-stacked">
                            <div class="card-content centerAligner verticalAligner">
                                <div>
                                    <p class="colorTextReverse fontTabletSummary">Dato relevante 3</p>
                                </div>
                                <div class="fontCounterSummary colorTextReverse">
                                    80
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                    <a href="#!" id="coloresAqua">
                        <div class="card-stacked">
                            <div class="card-content centerAligner verticalAligner">
                                <div>
                                    <p class="colorTextReverse fontTabletSummary">Dato relevante 4</p>
                                </div>
                                <div class="fontCounterSummary colorTextReverse">
                                    80
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </section>

    <div class="title-general colorGrey">
        <h4 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Datos relevantes</h4>
        <h5 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;</h5>
    </div>
    <!--Seccion de las estadisticas gráficas para la 
        version de dispositvos moviles.-->
        <section class="mainBodyAdicional centerAligner">
            <section class="owl-carousel owl-three owl-theme hide-on-med-and-up colorGrey">
                <div class="item">
                    <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
                        <div class="counterSummaryCarousel center-align bordered3 color3 colorText shadow-1e">8</div>
                        <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de grupos</div>
                    </div>
                </div>
                <div class="item">
                    <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
                        <div class="counterSummaryCarousel center-align bordered3 color4 colorText shadow-1e">120</div>
                        <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de estudiantes</div>
                    </div>
                </div>
                <div class="item">
                    <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
                        <div class="counterSummaryCarousel center-align bordered3 color2 colorText shadow-1e">19</div>
                        <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de cuestionarios</div>
                    </div>
                </div>
                <div class="item">
                    <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
                        <div class="counterSummaryCarousel center-align bordered3 color1 colorText shadow-1e">19</div>
                        <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de temas</div>
                    </div>
                </div>
                
                <div class="item" style="width: 200px;">
                </div>
            </section>
        </section>
        
        <!--Seccion de datos relevantes en las estadisticas
            para los dispositivos moviles.-->
        <section class="mainBodyAdicional centerAligner">
            <section class="owl-carousel owl-three owl-theme hide-on-med-and-up colorGrey">
                <div class="item">
                    
                </div>
                <div class="item">
                    
                </div>
                <div class="item">
                    
                </div>
                <div class="item">
                    
                </div>
    
                <div class="item" style="width: 200px;">
                </div>
            </section>
        </section>
        
        <!--Metemos el footer en la app-->
        {% include "includes/footer.html" %}
        
    </body>
    
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/footerRecursos.html" %}
    
    </html>