<!doctype html>
<html lang="en">

<head>
    <title class="TDI">Gestionar cuestionarios</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only TDI">Cuestionarios.</a>
            <a href="/bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up TDI">Cuestionarios.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="/bienvenidaProfesor" class="btn color3 button-rounded TDI">Volver</a></li>
            </ul>
        </div>
    </nav>

    <!--Menu lateral para las pantallas grandes-->
    <section class="operationContainerPrincipal">
        <section class="operationSideNav">
            <div class="infoUserOperation fondoDinamico shadow-2e" id="fondoBienvenida">
                {% if datos %}
                <div class="imagenOperationContainer">
                    <a href="/perfil_docente">
                        <img src="../../static/images/docentes/{{datos[3]}}" class="shadow-2e circle"
                            style="border: 3px solid #fff; width: 80px;">
                    </a>
                </div>
                <div class="dataUserOperationContainer">
                    <p class="colorText"> {{datos[1]}}</p>
                    <p class="colorText" id="correoUserData">{{datos[4]}}</p>
                    <!--<button value="{{datos[4]}}" id="correoUserData" style="display: none;"></button>-->
                </div>
                {% endif %}
            </div>
            <div class="colorGreyWhiter operationsContainerSecondarySideNav">
                <div class="operationButtonSideNav">
                    <h6 class="TDI">Operaciones.</h6>
                    <a class="waves-effect waves-light btn color2 shadow-2e modal-trigger"
                        href="/creacion_cuestionarios/{{datos[0]}}" id="buttonNuevoGrupo"><i
                            class="material-icons left">add</i>
                        <span class="TDI">
                            Crear cuestionario
                        </span>
                    </a>
                    <a class="waves-effect waves-light btn color2 shadow-2e modal-trigger"
                        href="/revisionCuestionarios/{{datos[0]}}" id="buttonNuevoGrupo"><i
                            class="material-icons left">check</i>
                        <span class="TDI">
                            Revisar
                        </span>
                    </a>
                </div>
                <div class="operationButtonSideNav">
                    <h6 class="TDI">Buscador.</h6>
                    <input type="text" name="buscadorGruposGestor" id="buscadorGruposGestor"
                        class="buscadorGruposGestor">
                    <a class="waves-effect waves-light btn colorGrey colorTextReverse" id="buscadorGruposButton"><i
                            class="material-icons left">search</i>
                        <span class="TDI">
                            Buscar
                        </span>
                    </a>
                </div>
                <div class="operationButtonSideNav">
                    <h6 class="TDI">Conteo.</h6>

                    <div class="contadorElementosCardOperation colorGrey shadow-1e">
                        <p class="colorGreyWhiter">
                            <span class="TDI">
                                Hechos:
                            </span>
                            <span>{{conteoIDS_CuestionariosHechos}}</span>
                        </p>
                        <p class="colorGreyWhiter">
                            <span class="TDI">
                                Cuestionarios:
                            </span>
                            <span>{{contadorCuestionarios}}</span>
                        </p>
                        <p class="colorGreyWhiter">
                            <span class="TDI">
                                Alumnos:
                            </span>
                            <span>{{contadorAlumnos}}</span>
                        </p>
                        <p class="colorGreyWhiter">
                            <span class="TDI">
                                Grupos:
                            </span>
                            <span>{{contadorGrupos}}</span>
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <!--Button para ir a la revisión de examenes pendientes-->
        <a id="buttonRevisarPendientes" href="/revisionCuestionarios/{{datos[0]}}"
            class="hide-on-large-only waves-effect waves-light btn color1 colorText button-rounded centerAlignerNoWidth"><i
                class="material-icons md-24">check</i></a>

        <!--Contenedor principal-->
        <section class="operationMainNav">
            <!--Titulos de la página-->
            <div class="title-general color1 fixedTitleOperationMain shadow-2e" id="cajaTituloBuscadorId">
                <h6 class="colorText hide-on-large-only hide-on-med-only TDI" id="cajaTituloBuscadorContenidoId">
                    Cuestionarios creados</h6>
                <h5 class="colorText hide-on-small-only TDI" id="cajaTituloBuscadorContenidoLargeId">Cuestionarios
                    creados
                </h5>
            </div>

            <!--Buscador para los dispositivos moviles-->
            <section class="container_browser hide-on-large-only" id="container_browser_id_uno">
                <div class="fondoDinamico headerComunidad shadow-2e" id="fondo_browser_id_dos"></div>
                <div class="contenedorBuscador centerAligner" id="container_browser_id_dos">
                    <div class="icon_browser_mine shadow-2 bordered5 color3 colorText" id="icon_browser_mine"><i
                            class="material-icons colorText">search</i></div>
                    <div class="box_browser">
                        <input type="text" class="colorGreyWhiter browser-default shadow-2e flow-text" placeholder="🔎"
                            id="buscadorInput_tres">
                    </div>
                    <div class="icon_search_voice_mine shadow-2 bordered5 color3 colorText" id="icon_search_voice_mine">
                        <i class="material-icons colorText">keyboard_voice</i>
                    </div>
                </div>
            </section>

            <!--Menu lateral para pantallas grandes-->
            <div class="viewsContainerOperation">
                <div>
                    <a id="buttonVistasAlternateGroup"
                        class="hide-on-small-only waves-effect waves-light btn colorGreyWhiter colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                            id="iconVistasAlternateGroup" class="material-icons md-28">grid_view</i></a>

                    <a id="buttonVistasAlternateGroupMobile"
                        class="hide-on-large-only hide-on-med-only waves-effect waves-light btn color1 colorText button-rounded centerAlignerNoWidth"><i
                            id="iconVistasAlternateGroupMobile" class="material-icons md-24">grid_view</i></a>
                </div>
            </div>

            <div class="contenedorCardsGruposOperation" id="contenedorCardsGruposOperationId">
                {% if datosCuestionarios %}
                {% if datosGrupos %}
                {%for i in range(0, datosCuestionarios|length)%}
                <div>
                    <div class="cardOperationGroup shadow-1 cardOperationGroupListId">
                        <div class="sectionCardOperationTitle fondoDinamico colorText sectionCardOperationTitleId"
                            style="background-image: url('../../static/images/fondos/black/black_7.png'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                            <div>
                                <h5 class="titleGroupContentId">{{datosCuestionarios[i][3]}}</h5>
                            </div>
                            <div class="studentCountCardOperation">
                                <div>
                                    <i class="material-icons md-22"></i>
                                    <span class="contadorAlumnosNumber"></span>
                                </div>
                                <div>
                                    <i class="material-icons md-22">how_to_reg</i> <span
                                        class="contadorAlumnosNumber">{{cuestionariosHechosPorAlumnosNumeroRespuestas[i][0]}}</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="sectionCardOperationDescription colorGreyWhiter sectionCardOperationDescriptionListId">
                            <p style="margin: 10px 0 0 0 !important;"><b>Group: {{datosGrupos[i][0][0]}}</b></p>
                            <p class="hide-on-small-only colorGrey bordered1"
                                style="padding: 10px; margin: 5px 0 !important;">{{datosCuestionarios[i][7]}}</p>
                        </div>
                        <div class="sectionCardOperationActions colorGreyWhiter sectionCardOperationActionsId">
                            <!--Botones de cada grupo-->
                            <a href="/editCuestionario/{{datosCuestionarios[i][0]}}"
                                class="modal-trigger classIdentifierGroupButtonDelete waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                    class="material-icons md-24">edit</i></a>
                            <a href="/duplicarCuestionarios/{{datosCuestionarios[i][0]}}"
                                class="modal-trigger classIdentifierGroupButtonDelete waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                    class="material-icons md-24">file_copy</i></a>
                            <a href="/viewCuestionario/{{datosCuestionarios[i][0]}}"
                                class="modal-trigger classIdentifierGroupButtonDelete waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                    class="material-icons md-24">visibility</i></a>
                            <a href="#modal{{datosCuestionarios[i][0]}}"
                                class="modal-trigger classIdentifierGroupButtonDelete waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                    class="material-icons md-24">delete</i></a>
                        </div>
                    </div>
                </div>
                <!--Pop up de eliminar el grupo-->
                <div id="modal{{datosCuestionarios[i][0]}}" class="modal bordered2 colorGrey">
                    <div class="modal-content">
                        <h4>¿🚮?😕</h4>
                        <hr>
                        <a href="/deleteCuestionario/{{datosCuestionarios[i][0]}}"
                            class="waves-effect waves-light btn badColorButton shadow-2e button-rounded"
                            style="width: 100%;"><i class="material-icons">delete</i></a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endif %}
            </div>
        </section>

        {% if datos %}
        <!--Boton para los dispositivos moviles-->
        <section class="navbarOperationGroup color2 shadow-up-1e">
            <div></div>
            <div>
                <a href="/creacion_cuestionarios/{{datos[0]}}" class="modal-trigger" id="buttonNuevoGrupoMobile">
                    <div class="navbarOperationGroupCircle shadow-up-1e colorGrey">
                        <div class="waves-effect">
                            <i class="material-icons colorTextReverse md-28">add</i>
                        </div>
                    </div>
                </a>
            </div>
            <div></div>
        </section>
        {% endif %}
    </section>
    <!--Botones para que el gestor de idiomas no falle-->
    <span class="hiddenElement" id="seleccionarEspanol"></span>
    <span class="hiddenElement" id="seleccionarIngles"></span>
    <span class="hiddenElement" id="seleccionarPortugues"></span>
    <span class="hiddenElement" id="seleccionarChino"></span>

</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<script src="../../static/js/bienvenidaEfectos.js"></script>
<script src="../../static/js/operacionesGestionGrupos.js"></script>

<!--Traduccion-->
<script>
    let casePageVariable = "First_case_page";
</script>
<script src="../static/js/idiomas/textos.mjs" type="module"></script>
<script src="../static/js/idiomas/gestorIdiomas.js" type="module"></script>

</html>