<!doctype html>
<html lang="en">

<head>
    <title>Gestionar grupos</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Grupos.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Grupos.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>
    <section class="operationContainerPrincipal">
        <section class="operationSideNav">
            <div class="infoUserOperation fondoDinamico shadow-2e" id="fondoBienvenida">
                <div class="imagenOperationContainer">
                    <img src="../../static/images/avatares/avatar_1.jpg" class="shadow-2e">
                </div>
                <div class="dataUserOperationContainer">
                    <p class="colorText">Nombre del usuario</p>
                </div>
            </div>
            <div class="colorGreyWhiter operationsContainerSecondarySideNav">
                <div class="operationButtonSideNav">
                    <h5>Operaciones.</h5>
                    <a class="waves-effect waves-light btn color2 shadow-2e"><i class="material-icons left">add</i>Crear
                        grupo</a>
                </div>
                <div class="operationButtonSideNav">
                    <h5>Buscador.</h5>
                    <input type="text" name="buscadorGruposGestor" id="buscadorGruposGestor"
                        class="buscadorGruposGestor">
                    <a class="waves-effect waves-light btn colorGrey colorTextReverse" id="buscadorGruposButton"><i
                            class="material-icons left">search</i>Buscar</a>
                </div>
                <div class="operationButtonSideNav">
                    <h5>Conteo.</h5>

                    <div class="contadorElementosCardOperation colorGrey shadow-1e">
                        <p class="colorGreyWhiter" id="contadorGruposId">
                            Grupos:
                        </p>
                        <p class="colorGreyWhiter" id="contadorEstudiantesId">
                            Estudiantes:
                        </p>
                    </div>

                </div>
            </div>
        </section>


        <section class="operationMainNav">
            <div class="title-general color1 fixedTitleOperationMain shadow-2e" id="cajaTituloBuscadorId">
                <h6 class="colorText hide-on-large-only hide-on-med-only" id="cajaTituloBuscadorContenidoId">Grupos creados</h6>
                <h5 class="colorText hide-on-small-only" id="cajaTituloBuscadorContenidoLargeId">Grupos creados</h5>
            </div>

            <!--Buscador para los dispositivos moviles-->
            <section class="container_browser hide-on-large-only" id="container_browser_id_uno">
                <div class="fondoDinamico headerComunidad shadow-2e" id="fondo_browser_id_dos"></div>
                <div class="contenedorBuscador centerAligner" id="container_browser_id_dos">
                    <div class="icon_browser_mine shadow-2 bordered5 color3 colorText" id="icon_browser_mine"><i class="material-icons colorText">search</i></div>
                    <div class="box_browser">
                        <input type="text" class="browser-default shadow-2e flow-text" placeholder="Buscar grupos"
                            id="buscadorInput_tres">
                    </div>
                    <div class="icon_search_voice_mine shadow-2 bordered5 color3 colorText" id="icon_search_voice_mine"><i class="material-icons colorText">keyboard_voice</i></div>
                </div>
            </section>

            <!--Menu lateral para pantallas grandes-->
            <div class="viewsContainerOperation">
                <div>
                    <a id="buttonVistasAlternateGroup"
                        class="hide-on-small-only waves-effect waves-light btn colorGreyWhiter colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                            id="iconVistasAlternateGroup" class="material-icons md-28">grid_view</i></a>

                    <a id="buttonVistasAlternateGroupMobile"
                        class="hide-on-large-only hide-on-med-only waves-effect waves-light btn color1 colorText button-rounded centerAlignerNoWidth"><i
                            id="iconVistasAlternateGroupMobile" class="material-icons md-24">grid_view</i></a>
                </div>
            </div>

            <div class="contenedorCardsGruposOperation" id="contenedorCardsGruposOperationId">

                <!--Grupos de ejemplo-->
                <div class="cardOperationGroup shadow-1 cardOperationGroupListId">
                    <div class="sectionCardOperationTitle fondoDinamico colorText sectionCardOperationTitleId">
                        <div>
                            <h5 class="titleGroupContentId">Computadoras</h5>
                        </div>
                        <div class="studentCountCardOperation">
                            <i class="material-icons">people</i> <span class="contadorAlumnosNumber">100</span>
                        </div>
                    </div>
                    <div class="sectionCardOperationDescription colorGreyWhiter sectionCardOperationDescriptionListId">
                        <p><b>Este grupo es de POO en JAVA</b></p>
                    </div>
                    <div class="sectionCardOperationActions colorGreyWhiter sectionCardOperationActionsId">
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">edit</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">content_copy</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="cardOperationGroup shadow-1 cardOperationGroupListId">
                    <div class="sectionCardOperationTitle fondoDinamico colorText sectionCardOperationTitleId">
                        <div>
                            <h5 class="titleGroupContentId">Grupo 2</h5>
                        </div>
                        <div class="studentCountCardOperation">
                            <i class="material-icons">people</i> <span class="contadorAlumnosNumber">100</span>
                        </div>
                    </div>
                    <div class="sectionCardOperationDescription colorGreyWhiter sectionCardOperationDescriptionListId">
                        <p><b>Este grupo es de POO en JAVA</b></p>
                    </div>
                    <div class="sectionCardOperationActions colorGreyWhiter sectionCardOperationActionsId">
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">edit</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">content_copy</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="cardOperationGroup shadow-1 cardOperationGroupListId">
                    <div class="sectionCardOperationTitle fondoDinamico colorText sectionCardOperationTitleId">
                        <div>
                            <h5 class="titleGroupContentId">Grupo 2</h5>
                        </div>
                        <div class="studentCountCardOperation">
                            <i class="material-icons">people</i> <span class="contadorAlumnosNumber">100</span>
                        </div>
                    </div>
                    <div class="sectionCardOperationDescription colorGreyWhiter sectionCardOperationDescriptionListId">
                        <p><b>Este grupo es de POO en JAVA</b></p>
                    </div>
                    <div class="sectionCardOperationActions colorGreyWhiter sectionCardOperationActionsId">
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">edit</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">content_copy</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="cardOperationGroup shadow-1 cardOperationGroupListId">
                    <div class="sectionCardOperationTitle fondoDinamico colorText sectionCardOperationTitleId">
                        <div>
                            <h5 class="titleGroupContentId">Grupo 40</h5>
                        </div>
                        <div class="studentCountCardOperation">
                            <i class="material-icons">people</i> <span class="contadorAlumnosNumber">100</span>
                        </div>
                    </div>
                    <div class="sectionCardOperationDescription colorGreyWhiter sectionCardOperationDescriptionListId">
                        <p><b>Este grupo es de POO en JAVA</b></p>
                    </div>
                    <div class="sectionCardOperationActions colorGreyWhiter sectionCardOperationActionsId">
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">edit</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">content_copy</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="cardOperationGroup shadow-1 cardOperationGroupListId">
                    <div class="sectionCardOperationTitle fondoDinamico colorText sectionCardOperationTitleId">
                        <div>
                            <h5 class="titleGroupContentId">Grupo 40</h5>
                        </div>
                        <div class="studentCountCardOperation">
                            <i class="material-icons">people</i> <span class="contadorAlumnosNumber">100</span>
                        </div>
                    </div>
                    <div class="sectionCardOperationDescription colorGreyWhiter sectionCardOperationDescriptionListId">
                        <p><b>Este grupo es de POO en JAVA</b></p>
                    </div>
                    <div class="sectionCardOperationActions colorGreyWhiter sectionCardOperationActionsId">
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">edit</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">content_copy</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="cardOperationGroup shadow-1 cardOperationGroupListId">
                    <div class="sectionCardOperationTitle fondoDinamico colorText sectionCardOperationTitleId">
                        <div>
                            <h5 class="titleGroupContentId">Grupo 40</h5>
                        </div>
                        <div class="studentCountCardOperation">
                            <i class="material-icons">people</i> <span class="contadorAlumnosNumber">100</span>
                        </div>
                    </div>
                    <div class="sectionCardOperationDescription colorGreyWhiter sectionCardOperationDescriptionListId">
                        <p><b>Este grupo es de POO en JAVA</b></p>
                    </div>
                    <div class="sectionCardOperationActions colorGreyWhiter sectionCardOperationActionsId">
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">edit</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">content_copy</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">delete</i></a>
                    </div>
                </div>
                <div class="cardOperationGroup shadow-1 cardOperationGroupListId">
                    <div class="sectionCardOperationTitle fondoDinamico colorText sectionCardOperationTitleId">
                        <div>
                            <h5 class="titleGroupContentId">JAVA 1</h5>
                        </div>
                        <div class="studentCountCardOperation">
                            <i class="material-icons">people</i> <span class="contadorAlumnosNumber">100</span>
                        </div>
                    </div>
                    <div class="sectionCardOperationDescription colorGreyWhiter sectionCardOperationDescriptionListId">
                        <p><b>Este grupo es de POO en JAVA</b></p>
                    </div>
                    <div class="sectionCardOperationActions colorGreyWhiter sectionCardOperationActionsId">
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">edit</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">content_copy</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        </section>

        <!--Boton para los dispositivos moviles-->
        <section class="navbarOperationGroup color2 shadow-up-1e">
            <div></div>
            <div>
                <div class="navbarOperationGroupCircle shadow-up-1e colorGrey">
                    <div class="waves-effect">
                        <i class="material-icons md-28">add</i>
                    </div>
                </div>
            </div>
            <div></div>
        </section>
    </section>
</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<script src="../../static/js/bienvenidaEfectos.js"></script>
<script src="../../static/js/operacionesGestionGrupos.js"></script>

</html>