<!doctype html>
<html lang="en">

<head>
    <title class="TDI">Gestionar grupos</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only TDI">Grupos.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up TDI">Grupos.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded TDI">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>

    <!--Menu lateral para las pantallas grandes-->
    <section class="operationContainerPrincipal">
        <section class="operationSideNav">
            <div class="infoUserOperation fondoDinamico shadow-2e" id="fondoBienvenida">
                {% if datos %}
                <div class="imagenOperationContainer">
                    <a href="/perfil_docente">
                        <img src="../../static/images/docentes/{{datos[3]}}" class="shadow-2e circle" style="border: 3px solid #fff; width: 80px;">
                    </a>
                </div>
                <div class="dataUserOperationContainer">
                    <p class="colorText"> {{datos[1]}}</p>
                    <p class="colorText" id="correoUserData">{{datos[4]}}</p>
                    <!--<button value="{{datos[4]}}" id="correoUserData" style="display: none;"></button>-->
                </div>
                {% endif %}
            </div>
            <div class="colorGreyWhiter operationsContainerSecondarySideNav">
                <div class="operationButtonSideNav">
                    <h5 class="TDI">Operaciones.</h5>
                    <a class="waves-effect waves-light btn color2 shadow-2e modal-trigger" href="#modalSpecial"
                        id="buttonNuevoGrupo"><i class="material-icons left">add</i>
                        <span class="TDI">
                            Crear grupo
                        </span> 
                    </a>
                </div>
                <div class="operationButtonSideNav">
                    <h5 class="TDI">Buscador.</h5>
                    <input type="text" name="buscadorGruposGestor" id="buscadorGruposGestor"
                        class="buscadorGruposGestor">
                    <a class="waves-effect waves-light btn colorGrey colorTextReverse" id="buscadorGruposButton"><i
                            class="material-icons left">search</i>
                           <span class="TDI">
                               Buscar
                           </span> 
                        </a>
                </div>
                <div class="operationButtonSideNav">
                    <h5 class="TDI">Conteo.</h5>

                    <div class="contadorElementosCardOperation colorGrey shadow-1e">
                        <p class="colorGreyWhiter" id="contadorGruposId">
                            <span class="TDI">Grupos:</span> 
                        </p>
                        <p class="colorGreyWhiter" id="contadorEstudiantesId">
                            <span class="TDI">Grupos:</span> 
                        </p>
                    </div>

                </div>
            </div>
        </section>


        <!--Contenedor principal-->
        <section class="operationMainNav">
            <!--Titulos de la página-->
            <div class="title-general color1 fixedTitleOperationMain shadow-2e" id="cajaTituloBuscadorId">
                <h6 class="colorText hide-on-large-only hide-on-med-only TDI" id="cajaTituloBuscadorContenidoId">Grupos
                    creados</h6>
                <h5 class="colorText hide-on-small-only TDI" id="cajaTituloBuscadorContenidoLargeId">Grupos creados</h5>
            </div>

            <!--Buscador para los dispositivos moviles-->
            <section class="container_browser hide-on-large-only" id="container_browser_id_uno">
                <div class="fondoDinamico headerComunidad shadow-2e" id="fondo_browser_id_dos"></div>
                <div class="contenedorBuscador centerAligner" id="container_browser_id_dos">
                    <div class="icon_browser_mine shadow-2 bordered5 color3 colorText" id="icon_browser_mine"><i
                            class="material-icons colorText">search</i></div>
                    <div class="box_browser">
                        <input type="text" class="colorGreyWhiter colorTextReverse browser-default shadow-2e flow-text" placeholder="🔎"
                            id="buscadorInput_tres">
                    </div>
                    <div class="icon_search_voice_mine shadow-2 bordered5 color3 colorText" id="icon_search_voice_mine">
                        <i class="material-icons colorText">keyboard_voice</i>
                    </div>
                </div>
            </section>

            <!--Menu lateral para pantallas grandes-->
            <div class="viewsContainerOperation">
                <div>
                    <a id="buttonVistasAlternateGroup"
                        class="hide-on-small-only waves-effect waves-light btn colorGreyWhiter colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                            id="iconVistasAlternateGroup" class="material-icons md-28">grid_view</i></a>

                    <a id="buttonVistasAlternateGroupMobile"
                        class="hide-on-large-only hide-on-med-only waves-effect waves-light btn color1 colorText button-rounded centerAlignerNoWidth"><i
                            id="iconVistasAlternateGroupMobile" class="material-icons md-24">grid_view</i></a>
                </div>
            </div>

            <div class="contenedorCardsGruposOperation" id="contenedorCardsGruposOperationId">

                <!--Grupos creados-->
                {% set x = namespace(value=-1) %}
                {% for result_object in grupo %}
                <div>
                    <div class="cardOperationGroup shadow-1 cardOperationGroupListId">
                        <div class="sectionCardOperationTitle fondoDinamico colorText sectionCardOperationTitleId"
                        style="background-image: url({{result_object[4]}}), url(../../static/images/fondos/fondo.png); background-position: center; background-repeat: no-repeat; background-size: cover; background-blend-mode: hue;">
                        <div>
                            <h5 class="titleGroupContentId">{{result_object[2]}}</h5>
                        </div>
                            <div class="studentCountCardOperation">
                                <div>
                                    <i class="material-icons md-22">people</i> 
                                    {% set x.value = x.value + 1 %}
                                    <span class="contadorAlumnosNumber">{{idsAlumnos[x.value][0]}}</span>
                                </div>
                                <div>
                                    <i class="material-icons md-22">article</i> <span
                                        class="contadorAlumnosNumber">{{idsCuestionarios[x.value][0]}}</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="sectionCardOperationDescription colorGreyWhiter sectionCardOperationDescriptionListId">
                            <p><b>{{result_object[3]}}</b></p>
                        </div>
                        <div class="sectionCardOperationActions colorGreyWhiter sectionCardOperationActionsId">
                            <!--Botones de cada grupo-->
                            <a href="/editGroup/{{result_object[0]}}"
                                class="classIdentifierGroupButtonEdit waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                    class="material-icons md-24">edit</i></a>
                            <a onclick="copyCodeGroup('{{result_object[5]}}')"
                                class="classIdentifierGroupButtonCopy waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                    class="material-icons md-24">content_copy</i></a>
                            <a href="/viewGroup/{{result_object[0]}}"
                                class="modal-trigger classIdentifierGroupButtonDelete waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                    class="material-icons md-24">visibility</i></a>
                            <a href="#modal{{result_object[0]}}"
                                class="modal-trigger classIdentifierGroupButtonDelete waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                    class="material-icons md-24">delete</i></a>
                        </div>
                    </div>
                </div>
                <!--Pop up de eliminar el grupo-->
                <div id="modal{{result_object[0]}}" class="modal bordered2 colorGrey">
                    <div class="modal-content">
                        <h4>¿🚮?😕</h4>
                        <hr>
                        <a href="/deleteGroup/{{result_object[0]}}"
                            class="waves-effect waves-light btn badColorButton shadow-2e button-rounded"
                            style="width: 100%;"><i class="material-icons md-28">delete</i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Pop up para agregar nuevos grupos  con formulario-->
        <div id="modalSpecial" class="modal bordered2 colorGrey" style="height: 90vh !important;">
            <div class="modal-content">
                <h4 class="TDI">Crear nuevo grupo</h4>
                <p class="TDI">Ingrese los datos en el formulario para crear un nuevo grupo.</p>
                <hr><br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div id="error_login">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form class="col s12 popUpForm bordered2 colorGreyWhiter shadow-2e"
                    action="{{ url_for('routes.gestionar_grupos') }}" method="post">
                    <h5 class="TDI">Datos del grupo</h5>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="nombreGrupo" name="nombreGrupo" type="text" class="validate">
                            <label for="nombreGrupo" class="TDI">Nombre de grupo</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <textarea id="descGrupo" name="descGrupo" class="validate materialize-textarea"
                                data-length="100"></textarea>
                            <label for="descGrupo" class="TDI">Descripción del grupo</label>
                        </div>
                    </div>

                    <h5 class="TDI">Diseño</h5>
                    <div class="row">
                        <div class="col s12">
                            <p class="TDI">Fondo por defecto</p>
                            <div class="muestraFondoForm fondoDinamico bordered1 shadow-2e" id="muestraFondoForm"></div>
                        </div>
                        <br><br><br><br><br>
                        <div class="input-field col s12 m12">
                            <label>
                                <input type="checkbox" id="fondoDefaultPicker" class="filled-in" checked="checked" />
                                <span class="TDI">Fondo por defecto</span>
                            </label>
                        </div>
                        <br><br><br><br><br><br>
                        <div class="input-field col s12 m12">
                            <input id="fondoGrupo" name="fondoGrupo" type="text"
                                value="default" class="colorTextReverse">
                            <label for="fondoGrupo" class="TDI">URL de imagen</label>
                        </div>
                    </div>

                    <h5 class="TDI">Código del grupo</h5>
                    <h6 class="TDI colorTextReverse">Proporcione este código a sus estudiantes (sin espacios) para entrar al grupo.</h6>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="hidden" id="codigoGrupo" style="min-height:55px;" name="codigoGrupo">
                            <p class="muestraCodigoGrupo color5 bordered1 truncate" id="muestraCodigoGrupo"></p>
                        </div>
                    </div>

                    <h5 class="TDI colorTextReverse">Lenguajes del grupo</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <label>
                                <input type="checkbox" id="lenguageJavaPicker" class="filled-in" />
                                <span>Java</span>
                            </label>
                        </div>
                        <div class="input-field col s12">
                            <label>
                                <input type="checkbox" id="lenguagePythonPicker" class="filled-in" />
                                <span>Python</span>
                            </label>
                        </div>
                        <div class="input-field col s12">
                            <label>
                                <input type="checkbox" id="lenguageCPicker" class="filled-in" />
                                <span>C/C++</span>
                            </label>
                        </div>
                        <br><br><br><br><br><br>
                        <div class="input-field col s12">
                            <h6 class="TDI colorTextReverse">Listado de lenguajes</h6>
                            <input id="lenguajesGrupo"
                                name="lenguajesGrupo" type="text" class="validate colorTextReverse" value="Default">
                        </div>
                    </div>

                    <h5 class="TDI">Temas del grupo</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <h6 class="TDI colorTextReverse">Número de temas</h6>
                            <input id="numeroTemasGrupo"
                                name="numeroTemasGrupo" type="number" class="validate colorTextReverse" value="1">
                            <a style="width:100%;"
                                class="btn colorGreyDarker colorTextReverse bordered5 waves-effect waves-light TDI"
                                id="generarTemasButton">Generar casillas</a>
                        </div>
                        <div class="input-field col s12">
                            <h6 class="TDI colorTextReverse">Casillas temas</h6>
                            <section id="seccionInputsTemasContenedor" class="colorTextReverse">
                            </section>
                            <a style="width:100%;"
                                class="btn colorGreyDarker colorTextReverse bordered5 waves-effect waves-light TDI"
                                id="enlistarTemasButton">Enlistar temas</a>
                        </div>
                        <div class="input-field col s12">
                            <h6 class="TDI colorTextReverse">Listado de temas</h6>
                            <input id="temasGrupo" name="temasGrupo"
                                type="text" class="validate colorTextReverse">
                        </div>
                    </div>

                    <button type="submit" class="btn-large color2 bordered5 buttonPopUp TDI">Crear</button>

                </form>
            </div>
        </div>

        <!--Boton para los dispositivos moviles-->
        <section class="navbarOperationGroup color2 shadow-up-1e">
            <div></div>
            <div>
                <a href="#modalSpecial" class="modal-trigger" id="buttonNuevoGrupoMobile">
                    <div class="navbarOperationGroupCircle shadow-up-1e colorGrey">
                        <div class="waves-effect">
                            <i class="material-icons colorTextReverse md-28">add</i>
                        </div>
                    </div>
                </a>
            </div>
            <div></div>
        </section>
    </section>
    <!--Botones para que el gestor de idiomas no falle-->
    <span class="hiddenElement" id="seleccionarEspanol"></span>
    <span class="hiddenElement" id="seleccionarIngles"></span>
    <span class="hiddenElement" id="seleccionarPortugues"></span>
    <span class="hiddenElement" id="seleccionarChino"></span>

</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<script src="../../static/js/bienvenidaEfectos.js"></script>
<script src="../../static/js/operacionesGestionGrupos.js"></script>

<script src="../static/js/idiomas/textos.mjs" type="module"></script>
<script src="../static/js/idiomas/gestorIdiomas.js" type="module"></script>


</html>