<!doctype html>
<html lang="en">

<head>
    <title>Gestionar cuestionarios</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Cuestionarios.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Cuestionarios.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>
    <section class="operationContainerPrincipal">
        <section class="operationSideNav">
            <div class="infoUserOperation fondoDinamico shadow-2e" id="fondoBienvenida">
                {% if datos %}
                <div class="imagenOperationContainer">
                    <img src="../../static/images/docentes/{{datos[3]}}" class="shadow-2e">
                </div>
                <div class="dataUserOperationContainer">
                    <p class="colorText">{{datos[1]}}</p>
                </div>
                {% endif %}
            </div>
            <div class="colorGreyWhiter operationsContainerSecondarySideNav">
                <div class="operationButtonSideNav">
                    <h5>Operaciones.</h5>
                    <a class="waves-effect waves-light btn color2 shadow-2e"><i class="material-icons left">add</i>Crear
                        cuestionario</a>
                </div>
                <div class="operationButtonSideNav">
                    <h5>Información.</h5>

                    <div class="contadorElementosCardOperation colorGrey shadow-1e">
                        <p class="colorGreyWhiter" id="contadorGruposId">
                            Cuestionarios:
                        </p>
                        <p class="colorGreyWhiter" id="contadorEstudiantesId">
                            Respuestas:
                        </p>
                    </div>

                </div>
                <div class="operationButtonSideNav">
                    <h5>Secciones.</h5>
                    <a class="waves-effect waves-light btn colorGrey colorTextReverse"><i
                            class="material-icons left">group</i>Cuestionarios</a>

                    <a class="waves-effect waves-light btn colorGrey colorTextReverse"><i
                            class="material-icons left">stacked_bar_chart</i>Estadísticas</a>
                </div>
            </div>
        </section>


        <section class="operationMainNav">
            <div class="title-general colorGrey fixedTitleOperationMain shadow-2e">
                <h6 class="hide-on-large-only hide-on-med-only">Cuestionarios creados</h6>
                <h5 class="hide-on-small-only">Cuestionarios creados</h5>
            </div>
            <div class="contenedorCardsGruposOperation">
                <div class="cardOperationGroup shadow-1" id="">
                    <div class="sectionCardOperationTitle fondoDinamico colorText">
                        <div>
                            <h5>Cuestionario 1</h5>
                        </div>
                        <div class="studentCountCardOperation">
                            <i class="material-icons">people</i> <span class="contadorAlumnosNumber">100</span>
                        </div>
                    </div>
                    <div class="sectionCardOperationDescription colorGreyWhiter">
                        <p><b>Este grupo es de POO en JAVA</b></p>
                    </div>
                    <div class="sectionCardOperationActions colorGreyWhiter">
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">edit</i></a>
                        <a
                            class="waves-effect waves-light btn colorGrey colorTextReverse shadow-2e button-rounded centerAlignerNoWidth"><i
                                class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="navbarOperationGroup color2 shadow-up-1e">
            <div></div>
            <div>
                <div class="navbarOperationGroupCircle shadow-up-1e colorGrey">
                    <div class="waves-effect">
                        <i class="material-icons md-28">add</i>
                    </div>
                </div>
            </div>
            <div></div>
        </section>
    </section>
</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<script src="../../static/js/bienvenidaEfectos.js"></script>
<script src="../../static/js/contadorGrupos.js"></script>

</html>