<!doctype html>
<html lang="en">

<head>
    <title>Editar grupos</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">Editar grupo.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Editar grupo.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>
    <!--Titulos de la página-->
    <div class="title-general">
        <h5 class="colorTextReverse hide-on-large-only hide-on-med-only">Formulario de {{groupInfo.2}}</h5>
        <h4 class="colorTextReverse hide-on-small-only">Formulario de {{groupInfo.2}}</h4>
    </div>

     <!--Contenedor principal-->
     <section class="contendorFormularioEditarGrupo">
        <section class="contenedorFormularioPrincipal">
            <form class="popUpForm bordered2 colorGreyWhiter shadow-2e"
                action="/updateGroup/{{groupInfo.0}}" method="post">
                <h5>Datos del grupo</h5>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="nombreGrupo" name="nombreGrupo" type="text" class="validate" value="{{groupInfo.2}}">
                        <label for="nombreGrupo">Nombre de grupo</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <textarea id="descGrupo" name="descGrupo" class="validate" style="border: 0px solid #000; padding: 10px; margin-top: 5px;"
                            data-length="100">{{groupInfo.3}}</textarea>
                        <label for="descGrupo">Descripción del grupo</label>
                    </div>
                </div>

                <h5>Diseño</h5>
                <div class="row">
                    <div class="col s12">
                        <p>Fondo por defecto</p>
                        <div class="muestraFondoForm fondoDinamico bordered1 shadow-2e"></div>
                    </div>
                    <br><br><br><br><br>
                    <div class="input-field col s12 m12">
                        <label>
                            <input type="checkbox" id="fondoDefaultPicker" class="filled-in" checked="checked" />
                            <span>Fondo por defecto</span>
                        </label>
                    </div>
                    <br><br><br><br><br><br>
                    <div class="input-field col s12 m12">
                        <input placeholder="Fondo para el grupo" id="fondoGrupo" name="fondoGrupo" type="text"
                            value="{{groupInfo.4}}">
                        <label for="fondoGrupo">URL de imagen</label>
                    </div>
                </div>

                <h5>Lenguajes del grupo</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <label>
                            <input type="checkbox" id="lenguageJavaPicker" class="filled-in" />
                            <span>Java</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input type="checkbox" id="lenguagePythonPicker" class="filled-in" />
                            <span>Python</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input type="checkbox" id="lenguageCPicker" class="filled-in" />
                            <span>C/C++</span>
                        </label>
                    </div>
                    <br><br><br><br><br><br>
                    <div class="input-field col s12">
                        <h6>Listado de lenguajes</h6>
                        <input placeholder="Escriba los lenguajes de este grupo" id="lenguajesGrupo"
                            name="lenguajesGrupo" type="text" class="validate" value="{{groupInfo.6}}">
                    </div>
                </div>

                <h5>Temas del grupo</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <h6>Número de temas</h6>
                        <input placeholder="Escriba cuantos temas quiere" id="numeroTemasGrupo" name="numeroTemasGrupo"
                            type="number" class="validate" value="1">
                        <a style="width:100%;"
                            class="btn colorGreyDarker colorTextReverse bordered5 waves-effect waves-light"
                            id="generarTemasButton">Generar casillas</a>
                    </div>
                    <div class="input-field col s12">
                        <h6>Casillas temas</h6>
                        <section id="seccionInputsTemasContenedor">
                        </section>
                        <a style="width:100%;"
                            class="btn colorGreyDarker colorTextReverse bordered5 waves-effect waves-light"
                            id="enlistarTemasButton">Enlistar temas</a>
                    </div>
                    <div class="input-field col s12">
                        <h6>Listado de temas</h6>
                        <input placeholder="Escriba los temas del grupo" id="temasGrupo" name="temasGrupo" type="text"
                            class="validate" value="{{groupInfo.7}}">
                    </div>
                </div>

                <button type="submit" class="btn-large color2 bordered5 buttonPopUp">Editar</button>
            </form>
        </section>
    </section>

</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<script src="../../static/js/operacionesEditarGrupo.js"></script>

</html>