<!doctype html>
<html lang="en">

<head>
    <title class="TDI colorTextReverse">Editar grupos</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only TDI">Editar grupo.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up TDI">Editar grupo.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded TDI">Volver</a></li>
            </ul>
        </div>
    </nav>
    <!--Titulos de la página-->
    <div class="title-general">
        <h5 class="colorTextReverse hide-on-large-only hide-on-med-only"><span class="TDI colorTextReverse">Formulario de</span> {{groupInfo.2}}</h5>
        <h4 class="colorTextReverse hide-on-small-only"><span class="TDI colorTextReverse">Formulario de</span> {{groupInfo.2}}</h4>
    </div>

    <!--Contenedor principal-->
    <section class="contendorFormularioEditarGrupo">
        <section class="contenedorFormularioPrincipal">
            <form class="popUpForm bordered2 colorGreyWhiter shadow-2e" action="/updateGroup/{{groupInfo.0}}"
                method="post">
                <h5 class="TDI colorTextReverse">Datos del grupo</h5>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="nombreGrupo" name="nombreGrupo" type="text" class="validate colorTextReverse" value="{{groupInfo.2}}">
                        <label for="nombreGrupo" class="TDI colorTextReverse">Nombre de grupo</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <textarea id="descGrupo" name="descGrupo" class="validate colorTextReverse"
                            style="border: 0px solid #000; padding: 10px; margin-top: 5px;"
                            data-length="100">{{groupInfo.3}}</textarea>
                        <label for="descGrupo" class="TDI colorTextReverse">Descripción del grupo</label>
                    </div>
                </div>

                <h5 class="TDI colorTextReverse">Diseño</h5>
                <div class="row">
                    <div class="col s12">
                        <p class="TDI colorTextReverse">Fondo por defecto</p>
                        <div class="muestraFondoForm fondoDinamico bordered1 shadow-2e" id="muestraFondoForm"></div>
                    </div>
                    <br><br><br><br><br>
                    <div class="input-field col s12 m12">
                        <label>
                            <input type="checkbox" id="fondoDefaultPicker" class="filled-in" checked="checked" />
                            <span class="TDI colorTextReverse">Fondo por defecto</span>
                        </label>
                    </div>
                    <br><br><br><br><br><br>
                    <div class="input-field col s12 m12">
                        <input id="fondoGrupo" name="fondoGrupo" type="text"
                            value="{{groupInfo.4}}" class="colorTextReverse">
                        <label for="fondoGrupo" class="TDI colorTextReverse">URL de imagen</label>
                    </div>
                </div>

                <h5 class="TDI colorTextReverse">Código del grupo</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <p class="muestraCodigoGrupo colorTextReverse color5 bordered1 truncate" id="muestraCodigoGrupo">{{groupInfo.5}}
                        </p>
                    </div>
                </div>

                <h5 class="TDI colorTextReverse">Lenguajes del grupo</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <label>
                            <input type="checkbox" id="lenguageJavaPicker" class="filled-in" />
                            <span>Java</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input type="checkbox" id="lenguagePythonPicker" class="filled-in" />
                            <span>Python</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input type="checkbox" id="lenguageCPicker" class="filled-in" />
                            <span>C/C++</span>
                        </label>
                    </div>
                    <br><br><br><br><br><br>
                    <div class="input-field col s12">
                        <h6 class="TDI colorTextReverse">Listado de lenguajes</h6>
                        <input id="lenguajesGrupo"
                            name="lenguajesGrupo" type="text" class="validate colorTextReverse" value="{{groupInfo.6}}">
                    </div>
                </div>

                <h5 class="TDI colorTextReverse">Temas del grupo</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <h6 class="TDI colorTextReverse">Número de temas</h6>
                        <input id="numeroTemasGrupo" name="numeroTemasGrupo"
                            type="number" class="validate colorTextReverse" value="1">
                        <a style="width:100%;"
                            class="btn colorGreyDarker colorTextReverse bordered5 waves-effect waves-light TDI"
                            id="generarTemasButton">Generar casillas</a>
                    </div>
                    <div class="input-field col s12">
                        <h6 class="TDI colorTextReverse">Casillas temas</h6>
                        <section id="seccionInputsTemasContenedor">
                        </section>
                        <a style="width:100%;"
                            class="btn colorGreyDarker colorTextReverse bordered5 waves-effect waves-light TDI"
                            id="enlistarTemasButton">Enlistar temas</a>
                    </div>
                    <div class="input-field col s12">
                        <h6 class="TDI colorTextReverse">Listado de temas</h6>
                        <input id="temasGrupo" name="temasGrupo" type="text"
                            class="validate colorTextReverse" value="{{groupInfo.7}}">
                    </div>
                </div>

                <button type="submit" class="btn-large color2 bordered5 buttonPopUp TDI">Editar</button>
            </form>
        </section>
    </section>

    <!--Botones para que el gestor de idiomas no falle-->
    <span class="hiddenElement" id="seleccionarEspanol"></span>
    <span class="hiddenElement" id="seleccionarIngles"></span>
    <span class="hiddenElement" id="seleccionarPortugues"></span>
    <span class="hiddenElement" id="seleccionarChino"></span>

</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}
<script src="../../static/js/operacionesEditarGrupo.js"></script>

<script src="../static/js/idiomas/textExtractor.js"></script>
<script src="../static/js/idiomas/textos.mjs" type="module"></script>
<script src="../static/js/idiomas/gestorIdiomas.js" type="module"></script>

</html>