<!doctype html>
<html lang="en">

<head>
    <title class="TDI">No hay estadísticas para mostrar.</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto color2">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color1">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only TDI">No hay estadísticas.</a>
            <a href="/bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up TDI">No hay estadísticas para mostrar.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="/bienvenidaProfesor" class="btn color3 button-rounded TDI">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>

    <section class="containerIntentosInfo">
        <h4 class="colorText hide-on-small-only TDI">Aún nadie constesta los cuestionarios.</h4>
        <h5 class="colorText hide-on-med-and-up TDI">Aún nadie constesta los cuestionarios.</h5>
        <p class="colorText TDI">Debe compartir sus su link de grupo y esperar a que sus estudiantes contesten los cuestionarios para poder ver estadísticas.</p>
        <img src="../../static/images/icons/icon_no_stats.svg" id="iconIntentos">
        <a href="/bienvenidaProfesor"class="waves-effect waves-light btn-large colorWhite coloredText shadow-2e button-rounded TDI">Regresar</a>
    </section>
<!--Botones para que el gestor de idiomas no falle-->
<span class="hiddenElement" id="seleccionarEspanol"></span>
<span class="hiddenElement" id="seleccionarIngles"></span>
<span class="hiddenElement" id="seleccionarPortugues"></span>
<span class="hiddenElement" id="seleccionarChino"></span>

</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}
<!--Traduccion-->
<script>
    let casePageVariable = "Second_case_page";
</script>
<script src="../static/js/idiomas/textos.mjs" type="module"></script>
<script src="../static/js/idiomas/gestorIdiomas.js" type="module"></script>
</html>
