<!doctype html>
<html lang="en">

<head>
    <title class="TDI">Ver cuestionario banco</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only TDI">Ver cuestionario.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up TDI">Ver cuestionario.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded TDI">Volver</a></li>
            </ul>
        </div>
    </nav>


    <!--Aqui se recibe el texto del JSON-->
    <section class="contenedorPreviewCuestionario">
        <!--Datos importantes del cuestionario-->
        <section class="contenedorPreviewUno hide-on-med-and-down">
            <section class="sosoColor bordered1 shadow-1e generalInfoPreviewAlumno">
                <p class="sosoColor">
                    <span class="TDI">
                        ¿No, es el cuestionario que deseaba?
                    </span>
                    <a href="crear_cuestionario_del_banco" class="btn sosoColorButton button-rounded TDI">Otro</a>
                </p>
            </section>
            <div class="hide-on-small-only">
                <h5 class="TDI">Preview cuestionario del banco</h5>
                <div>
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">article</i>
                                <span class="TDI">
                                    Datos generales.
                                </span>
                            </div>
                            <div class="bordered5 collapsible-body">
                                {% if datosCuestionario %}
                                <div class="">
                                    <h5><b>{{datosCuestionario[5]}}</b></h5>
                                    <hr>
                                    <section class="row">
                                        <div class="col s12 m6 l12">
                                            <h6><b class="colorTextReverse TDI">Fecha:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[1]}}</p>
                                        </div>
                                        <div class="col s12 m6 l12">
                                            <h6><b class="colorTextReverse TDI">Autor:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0]}}</p>
                                        </div>
                                        <div class="col s12 m6 l12">
                                            <h6><b class="colorTextReverse TDI">Temas:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[3]}}</p>
                                        </div>
                                        <div class="col s12 m6 l12">
                                            <h6><b class="colorTextReverse TDI">Tipo de cuestionario:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[4]}}</p>
                                        </div>
                                        <div class="col s12 m12 l12">
                                            <h6><b class="colorTextReverse TDI">Lenguaje:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[2]}}</p>
                                        </div>
                                    </section>
                                </div>
                                {%endif%}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contenedorOperacionesLive colorGreyWhiter bordered2 shadow-1e" id="contenedorLive">
                <div class="datosCuestionarioLive">
                    <h5 class="TDI">Contador preguntas</h5>
                    <div class="contenedorContadoresGrid">
                        <div class="colorGrey colorTextReverse bordered5"><span class="TDI">Total preguntas: </span>
                            <span class="coloredText" id="contadorTotal"></span>
                            </span> </div>
                        <div class="colorGrey colorTextReverse bordered5"><span class="TDI">Opción múltiples:
                            </span><span class="coloredText" id="contadorOpt1">
                            </span> </div>
                        <div class="colorGrey colorTextReverse bordered5"><span class="TDI">Rellenar espacios: </span>
                            <span class="coloredText" id="contadorOpt2">
                            </span> </div>
                        <div class="colorGrey colorTextReverse bordered5"><span class="TDI">Ejercicios prácticos:
                            </span> <span class="coloredText" id="contadorOpt3"> </span> </div>
                        <div class="colorGrey colorTextReverse bordered5"><span class="TDI">Arrastrar conceptos: </span>
                            <span class="coloredText" id="contadorOpt4"> </span> </div>
                        <div class="colorGrey colorTextReverse bordered5"><span class="TDI">Falso/Verdadero: </span>
                            <span class="coloredText" id="contadorOpt5">
                            </span> </div>
                        <div class="colorGrey colorTextReverse bordered5"><span class="TDI">Preguntas abiertas: </span>
                            <span class="coloredText" id="contadorOpt6"> </span> </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Vista previa del cuestionario-->
        <form action="/guardarCuestionarioJSON/{{id_profesor}}" method="post">
            <section class="contenedorPreviewDos">
                <h5 class="TDI">Preguntas cuestionario</h5>
                <div class="tituloCuestionario">
                    <div class="contenedorTitulo hiddenElement">
                        <h5 id="tituloCuestionario" class="TDI">Titulo del cuestionario</h5>
                        <a class="waves-effect waves-light btn bordered5 color1 shadow-2e" href="#" id="editarTitulo"><i
                                class="material-icons">edit</i></a>
                    </div>
                    <div class="inputNombreCuestionario">
                        <input type="text" name="nombreCuestionario" id="nombreCuestionario"
                            class="browser-default inputNombre shadow-1 flow-text bordered5"
                            placeholder="Name of the test">
                        <input type="hidden" name="nombreCuestionarioConClave" id="nombreCuestionarioConClave">
                        <a class="waves-effect waves-light btn color1 shadow-2e" href="#" id="guardarTitulo"><i
                                class="material-icons left">done</i>
                            <span class="TDI">
                                Listo
                            </span>
                        </a>
                    </div>
                </div>
                </div>
                <div class="contenedorPreguntasPreview" id="contenedorPreguntasPreview">

                </div>
            </section>

            <div id="modalJSON" class="modal colorGrey bordered2 modalAltura">
                <div class="modal-content">
                    <h4 class="TDI">Generando archivo JSON</h4>
                    <hr>
                    <p class="TDI">El cuestionario será almacenado como archivo JSON, usted puede guardar una copia del
                        cuestionario si asi lo desea.</p>
                    <!--Preview del cuestionario-->
                    <h5><b class="TDI">Preview de cuestionario JSON</b></h5>
                    <pre class="previewCodeContainer colorText bordered2" id="output"></pre>
                    <!--Input discreto para enviar contenido JSON a flask-->
                    <input type="hidden" name="jsonContentInput" id="jsonContentInput">
                    <!--Descarga del archivo-->
                    <a onclick="downloadJson()" class="waves-effect waves-light btn-large bordered2Up color3 shadow-2e"
                        id="descargarJSON" style="width: 100%;">
                        <i class="material-icons left">download</i>
                        <span class="TDI">
                            Descargar
                        </span>
                    </a>
                    <!--Almacenado del archivo (en BD y servidor)-->
                    <button type="submit" class="waves-effect waves-light btn-large bordered2Down color1 shadow-2e"
                        id="guardarJSON" style="width: 100%;">
                        <i class="material-icons left">save</i>
                        <span class="TDI">
                            Guardar
                        </span>
                    </button>
                </div>
            </div>
        </form>

    </section>


    <div class="fixed-action-btn buttonSaveJSON">
        <button href="#modalJSON" onclick="convertToJSON()" class="modal-trigger btn-floating btn-large color1"
            id="buttonModalSaveFloat">
            <i class="large material-icons">save</i>
        </button>
    </div>
    <!--Botones para que el gestor de idiomas no falle-->
    <span class="hiddenElement" id="seleccionarEspanol"></span>
    <span class="hiddenElement" id="seleccionarIngles"></span>
    <span class="hiddenElement" id="seleccionarPortugues"></span>
    <span class="hiddenElement" id="seleccionarChino"></span>

</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<!--Traduccion-->
<script src="../static/js/idiomas/textExtractor.js"></script>
<script src="../static/js/idiomas/textos.mjs" type="module"></script>
<script src="../static/js/idiomas/gestorIdiomas.js" type="module"></script>


<!--En esta parte todo los demás del script se hará en un archivo externo-->
<script>

    //Accedemos a los datos guardados en el JSON
    const dataCuestionarioJSON = {{ dataJSON| tojson}};
    function convertToJSON() {

        console.log(typeof dataCuestionarioJSON);

        //Se imprime en la vista previa
        document.getElementById('output').innerText = JSON.stringify(dataCuestionarioJSON, null, 1);
        //Almacenamos el contenido del JSON en el input
        document.getElementById('jsonContentInput').value = JSON.stringify(dataCuestionarioJSON);
    }

    function downloadJson() {
        //Obtenemos el valor del preview del JSON
        var jsonObjectAsString = document.getElementById('output').innerText;

        console.log(jsonObjectAsString)
        //Hacemos la conversión
        var blob = new Blob([jsonObjectAsString], {
            //type: 'application/json'
            //octet es de tipo binario y es más eficiente
            type: 'octet/stream'
        });

        //Accedemos al boton de descarga
        let botonDescarga = document.getElementById('descargarJSON');

        //Accedemos al titulo del cuestionario
        const nombreCuestionarioConClave = document.getElementById('nombreCuestionarioConClave');
        let nombreCuestionarioArchivo;

        //Validamos si el nombre del archivo esta vacio
        if (nombreCuestionarioConClave.value == '') {
            nombreCuestionarioArchivo = 'cuestionario_default.json';
        } else {
            nombreCuestionarioArchivo = nombreCuestionarioConClave.value + '.json';
        }

        //Modificamos el boton de descarga
        botonDescarga.download = nombreCuestionarioArchivo;
        botonDescarga.href = window.URL.createObjectURL(blob);
    }

    let codigoAgregado = false;
    function ingresarTitulo() {
        //Texto del titulo
        const tituloCuestionario = document.getElementById('tituloCuestionario');
        //Boton de guardado del titulo
        const guardarTitulo = document.getElementById('guardarTitulo');
        //Boton para editar el titulo
        const editTitulo = document.getElementById('editarTitulo');
        //Input del titulo
        const nombreCuestionario = document.getElementById('nombreCuestionario');
        const nombreCuestionarioConClave = document.getElementById('nombreCuestionarioConClave');
        //Contenedor principal del titulo del cuestionario
        const inputNombreCuestionario = document.getElementsByClassName('inputNombreCuestionario');
        //Contenedor principal del titulo texto
        const contenedorTitulo = document.getElementsByClassName('contenedorTitulo');


        //Generador de clave única
        function asignarCodigo() {
            //Guardamos la clave de grupo
            let claveDeGrupo = makeid(8);

            //Generar el código
            function makeid(length) {
                var result = '';
                var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var charactersLength = characters.length;
                for (var i = 0; i < length; i++) {
                    result += characters.charAt(Math.floor(Math.random() *
                        charactersLength));
                }
                return result;
            }
            return claveDeGrupo;
        }
        let clave = asignarCodigo();

        guardarTitulo.addEventListener('click', agregarTitulo);
        inputNombreCuestionario[0].addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                agregarTitulo();
            }
        });

        function agregarTitulo() {
            if (nombreCuestionario.value == "") {
                nombreCuestionario.value = "Error";
            } else {
                if (codigoAgregado == false) {
                    tituloCuestionario.innerText = nombreCuestionario.value;
                    inputNombreCuestionario[0].classList.add('hiddenElement');
                    contenedorTitulo[0].classList.remove('hiddenElement');
                    nombreCuestionarioConClave.value = nombreCuestionario.value + " (" + clave + ")";
                    codigoAgregado = true;
                } else {
                    tituloCuestionario.innerText = nombreCuestionario.value;
                    inputNombreCuestionario[0].classList.add('hiddenElement');
                    contenedorTitulo[0].classList.remove('hiddenElement');
                    nombreCuestionarioConClave.value = nombreCuestionario.value + " (" + clave + ")";
                }
            }
        }

        editTitulo.addEventListener('click', editarTitulo);
        function editarTitulo() {
            if (codigoAgregado == false) {
                nombreCuestionario.value = tituloCuestionario.innerText + " (" + clave + ")";
                inputNombreCuestionario[0].classList.remove('hiddenElement');
                contenedorTitulo[0].classList.add('hiddenElement');
                codigoAgregado = true;
            } else {
                nombreCuestionario.value = tituloCuestionario.innerText;
                inputNombreCuestionario[0].classList.remove('hiddenElement');
                contenedorTitulo[0].classList.add('hiddenElement');
            }
        }
    }
    ingresarTitulo();

</script>
<script src="../../static/js/operacionesVerCuestionario.js"></script>

</html>