<!doctype html>
<html lang="en">

<head>
    <title>Ver cuestionario</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">Ver cuestionario.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Ver cuestionario.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>


    <!--Aqui se recibe el texto del JSON-->
    <section class="contenedorPreviewCuestionario">
        <!--Datos importantes del cuestionario-->
        <section class="contenedorPreviewUno">
            <div class="hide-on-small-only">
                <h5>Preview cuestionario</h5>
                <div>
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">article</i>Datos generales.
                            </div>
                            <div class="bordered5 collapsible-body">
                                {% if datosCuestionario %}
                                <div class="contenedorDataGrupo">
                                    <h5><b>{{datosCuestionario[0][3]}}</b></h5>
                                    <hr>
                                    <section class="row">
                                        <div class="col s12 m6 l12">
                                            <h6><b>Fecha:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0][4]}}</p>
                                        </div>
                                        <div class="col s12 m6 l12">
                                            <h6><b>Autor:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0][5]}}</p>
                                        </div>
                                        <div class="col s12 m6 l12">
                                            <h6><b>Temas:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0][6]}}</p>
                                        </div>
                                        <div class="col s12 m6 l12">
                                            <h6><b>Tipo de cuestionario:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0][7]}}</p>
                                        </div>
                                        <div class="col s12 m12 l12">
                                            <h6><b>Lenguaje:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0][8]}}</p>
                                        </div>
                                    </section>
                                </div>
                                {%endif%}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contenedorOperacionesLive colorGreyWhiter bordered2 shadow-1e" id="contenedorLive">
                <div class="datosCuestionarioLive">
                    <h5>Contador preguntas</h5>
                    <div class="contenedorContadoresGrid">
                        <div class="colorGrey bordered5">Total preguntas: <span class="coloredText"
                                id="contadorTotal"> </span> </div>
                        <div class="colorGrey bordered5">Opción múltiples: <span class="coloredText" id="contadorOpt1">
                            </span> </div>
                        <div class="colorGrey bordered5">Rellenar espacios: <span class="coloredText" id="contadorOpt2">
                            </span> </div>
                        <div class="colorGrey bordered5">Ejercicios prácticos: <span class="coloredText"
                                id="contadorOpt3"> </span> </div>
                        <div class="colorGrey bordered5">Arrastrar conceptos: <span class="coloredText"
                                id="contadorOpt4"> </span> </div>
                        <div class="colorGrey bordered5">Falso/Verdadero: <span class="coloredText" id="contadorOpt5">
                            </span> </div>
                        <div class="colorGrey bordered5">Preguntas abiertas: <span class="coloredText"
                                id="contadorOpt6"> </span> </div>
                    </div>
                </div>
                <div class="accessCuestionarioLive">
                    <a class="waves-effect waves-light btn-large bordered5 color3 shadow-2e" id="previewJsonResponder"
                        style="width: 100%;">
                        <i class="material-icons left">visibility</i>Preview de alumno</a>
                </div>
            </div>
        </section>
        <!--Vista previa del cuestionario-->
        <section class="contenedorPreviewDos">
            <h5>Preguntas cuestionario</h5>
            <div class="contenedorPreguntasPreview" id="contenedorPreguntasPreview">

            </div>
        </section>
    </section>

    <!--Boton para ir hacia arriba-->
    <div class="fixed-action-btn hiddenElement animate__animated" id="buttonGoUpTerminos">
        <a class="btn-floating btn-large color4">
            <i class="large material-icons">arrow_upward</i>
        </a>
    </div>

</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<!--En esta parte todo los demás del script se hará en un archivo externo-->
<script>
    //Accedemos a los datos guardados en el JSON
    const dataCuestionarioJSON = {{ dataJSON| tojson}}; 
</script>
<script src="../../static/js/operacionesVerCuestionario.js"></script>
<script src="../../static/js/operacionesTerminos.js"></script>

</html>