<!doctype html>
<html lang="en">

<head>
    <title>Ver cuestionario</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">Ver cuestionario.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Ver cuestionario.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>

    {%for i in range(0, datosCuestionario|length)%}
        <h5>Metadatos</h5>
        {{datosCuestionario[i]}}
        <h5>Contenido JSON</h5>
        {{dataJSON}}
    {%endfor%}

</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<script src="../../static/js/operacionesVerCuestionario.js"></script>

</html>