<!doctype html>
<html lang="en">

<head>
    <title>Bienvenida Profesor</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}


</head>

<body class="oculto colorGrey">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 z-depth-3 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                    class="material-icons">menu</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Panel central.</p>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/configuraciones" class="btn color2 button-rounded"><i
                            class="material-icons left">settings</i>Configuraciones</a></li>
                <li><a href="/ayuda" class="btn color2 button-rounded"><i class="material-icons left">help</i>Ayuda</a>
                </li>
                <li><a href="#!" class="btn color3 button-rounded"><i
                            class="material-icons left">directions_run</i>Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
    <br><br><br>

    <!--Menu para los dispositivos moviles-->
    <ul id="slide-out" class="sidenav colorWhite">
        <li>
            <div class="user-view">
                <!-- se tiene que estar logeado para ver el nombre y la foto -->
                {% if datos %}
                <div class="background fondoDinamico" id="fondoBienvenida"></div>
                <a href="/perfil_docente"><img style="border: 3px solid #fff;" class="circle shadow-3e"
                        src="../../static/images/docentes/{{datos[3]}}"></a>
                <a href="#"><span class="white-text name"><b>Cuenta de docente</b></span></a>
                <a href="#"><span class="white-text name" style="margin-top: 0;">
                        {{datos[1]}}
                    </span></a>
                <a href="#"><span class="white-text name" style="margin-top: 0;">
                        {{datos[4]}}
                    </span></a>
                <br>
                {% endif %}
            </div>
        </li>
        <li><a href="/gestionar_grupos" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">groups_2</i>Gestionar
                grupos.</a></li>
        <li><a href="/gestionar_cuestionarios" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">description</i>Gestionar
                cuestionarios.</a></li>
        <li><a href="/gestionar_estadisticas" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">stacked_bar_chart</i>Gestionar
                estadísticas.</a></li>
        <li><a href="/banco_de_datos" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">storage</i>Banco de datos.</a></li>
        <hr>
        <li><a href="/configuraciones" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">settings</i>Configuraciones.</a></li>
        <li><a href="/ayuda" class="colorTextReverse"><i class="colorTextReverse material-icons">help</i>Ayuda.</a></li>
        <hr>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header colorTextReverse">Temas<i
                            class="material-icons colorTextReverse">expand_more</i></a>
                    <div class="collapsible-body">
                        <ul class="colorWhite">
                            <li>
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header colorTextReverse">Temas clásicos<i
                                                class="material-icons colorTextReverse">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul class="colorWhite">
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresDefault" class="colorTextReverse">Normal</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresAqua" class="colorTextReverse">Aqua</a></li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresBlue" class="colorTextReverse">Azul</a></li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresBronce" class="colorTextReverse">Bronce</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresCafe" class="colorTextReverse">Cafe</a></li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresGotico" class="colorTextReverse">Gótico</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresNaranja" class="colorTextReverse">Naranja</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresPink" class="colorTextReverse">Rosa</a></li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresPurple" class="colorTextReverse">Purpura</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresRed" class="colorTextReverse">Rojo</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header colorTextReverse">Temas oscuros<i
                                                class="material-icons colorTextReverse">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul class="colorWhite">
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="coloresModoOscuro" class="colorTextReverse">Modo
                                                        Oscuro</a></li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="dark_aqua" class="colorTextReverse">Oscuro aqua</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="dark_blue" class="colorTextReverse">Oscuro azul</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="dark_green" class="colorTextReverse">Oscuro verde</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="dark_orange" class="colorTextReverse">Oscuro
                                                        naranja</a></li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="dark_pink" class="colorTextReverse">Oscuro rosa</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="dark_purple" class="colorTextReverse">Oscuro purpura</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="dark_red" class="colorTextReverse">Oscuro rojo</a></li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="dark_yellow" class="colorTextReverse">Oscuro amarillo</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header colorTextReverse">Accesibilidad<i
                                                class="material-icons colorTextReverse">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul class="colorWhite">
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="deuteranomalia" class="colorTextReverse">Deuteranomalia</a>
                                                </li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="deuteranopia" class="colorTextReverse">Deuteranopia</a></li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="protanopia" class="colorTextReverse">Protanopia</a></li>
                                                <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!"
                                                        id="tritanopia" class="colorTextReverse">Tritanopia</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <hr>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header colorTextReverse">Adicionales<i
                            class="material-icons colorTextReverse">expand_more</i></a>
                    <div class="collapsible-body">
                        <ul class="colorWhite">
                            <li><a href="/politica_cookies" class="colorTextReverse"><i
                                        class="colorTextReverse material-icons">cookie</i>Cookies.</a></li>
                            <li><a href="/politica_privacidad" class="colorTextReverse"><i
                                        class="colorTextReverse material-icons">privacy_tip</i>Privacidad.</a></li>
                            <li><a href="/terminos_condiciones" class="colorTextReverse"><i
                                        class="colorTextReverse material-icons">gavel</i>Términos.</a></li>
                            <li><a href="/saber_mas" class="colorTextReverse"><i
                                        class="colorTextReverse material-icons">rocket</i>Saber más.</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <hr>
        <li><a href="#!" class="colorTextReverse"><i class="material-icons colorTextReverse">directions_run</i>Cerrar
                sesión.</a></li>
    </ul>

    <!--Cuerpo principal del documento-->
    <section class="mainBodyAdicional">
        <div class="title-general colorGrey">
            <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Menú de opciones</h5>
            <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Menú de opciones</h4>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="login_success">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!--Para dispositivos de escritorio-->
        <section class="hide-on-small-only hide-on-med-only centerAligner verticalAligner colorGrey"
            style="padding: 30px;">
            <section class="centerAligner horizontalAligner">
                <a href="gestionar_grupos">
                    <div class="borderDecoration cardMainDesktopPanel shadow-2 bordered2">
                        <div class="cardMainDesktopPanelHead centerAligner">Gestionar grupos</div>
                        <div class="centerAligner horizontalAligner">
                            <div class="cardMainDesktopPanelLeft centerAlignerNoWidth colorGreyWhiter">
                                <p><i class="material-icons colorTextReverse">groups_2</i></p>
                            </div>
                            <div
                                class="cardMainDesktopPanelRight centerAlignerNoWidth colorTextReverse colorGreyWhiter">
                                Crear, editar,
                                eliminar y administrar los grupos de estudiantes.</div>
                        </div>
                    </div>
                </a>

                <a href="gestionar_cuestionarios">
                    <div class="borderDecoration cardMainDesktopPanel shadow-2 bordered2">
                        <div class="cardMainDesktopPanelHead centerAligner">Gestionar cuestionarios</div>
                        <div class="centerAligner horizontalAligner">
                            <div class="cardMainDesktopPanelLeft centerAlignerNoWidth colorGreyWhiter">
                                <p><i class="material-icons colorTextReverse">description</i></p>
                            </div>
                            <div
                                class="cardMainDesktopPanelRight centerAlignerNoWidth colorTextReverse colorGreyWhiter">
                                Crear, editar,
                                eliminar,
                                administrar los cuestionarios.</div>
                        </div>
                    </div>
                </a>
            </section>

            <section class="centerAligner horizontalAligner">
                <a href="gestionar_estadisticas/{{datos[0]}}">
                    <div class="borderDecoration cardMainDesktopPanel shadow-2 bordered2">
                        <div class="cardMainDesktopPanelHead centerAligner">Gestionar estadísticas</div>
                        <div class="centerAligner horizontalAligner">
                            <div class="cardMainDesktopPanelLeft centerAlignerNoWidth colorGreyWhiter">
                                <p><i class="material-icons colorTextReverse">stacked_bar_chart</i></p>
                            </div>
                            <div
                                class="cardMainDesktopPanelRight centerAlignerNoWidth colorTextReverse colorGreyWhiter">
                                Ver estadísticas
                                diversas sobre
                                los grupos creados y las pruebas publicadas.</div>
                        </div>
                    </div>
                </a>

                <a href="comunidad_profesor">
                    <div class="borderDecoration cardMainDesktopPanel shadow-2 bordered2">
                        <div class="cardMainDesktopPanelHead centerAligner">Banco de datos</div>
                        <div class="centerAligner horizontalAligner">
                            <div class="cardMainDesktopPanelLeft centerAlignerNoWidth colorGreyWhiter">
                                <p><i class="material-icons colorTextReverse">storage</i></p>
                            </div>
                            <div
                                class="cardMainDesktopPanelRight centerAlignerNoWidth colorTextReverse colorGreyWhiter">
                                Conozca más sobre el banco de datos y su funcionamiento.</div>
                        </div>
                    </div>
                </a>
            </section>
        </section>

        <!--Para dispositivos de tabletas-->
        <section class="hide-on-small-only hide-on-large-only centerAligner verticalAligner colorGrey">
            <section class="centerAligner horizontalAligner containerCardsDesktop">
                <a href="gestionar_grupos">
                    <div class="borderDecoration shadow-4 bordered2 cardMainCarouselContainer">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">groups_2</i></p>
                        </div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainBody centerAligner">Gestionar
                            grupos</div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainFooter centerAligner">Crear,
                            editar, eliminar y
                            administrar los grupos de estudiantes.</div>
                    </div>
                </a>

                <a href="gestionar_cuestionarios">
                    <div class="borderDecoration shadow-4 bordered2 cardMainCarouselContainer">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">description</i></p>
                        </div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainBody centerAligner">Gestionar
                            cuestionarios</div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainFooter centerAligner">Crear,
                            editar, eliminar,
                            administrar los cuestionarios.</div>
                    </div>
                </a>
            </section>

            <section class="centerAligner horizontalAligner containerCardsDesktop">
                <a href="gestionar_estadisticas/{{datos[0]}}">
                    <div class="borderDecoration shadow-4 bordered2 cardMainCarouselContainer">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">stacked_bar_chart</i></p>
                        </div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainBody centerAligner">Gestionar
                            estadísticas</div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainFooter centerAligner">Ver
                            estadísticas diversas
                            sobre
                            los grupos creados y las pruebas publicadas.</div>
                    </div>
                </a>

                <a href="comunidad_profesor">
                    <div class="borderDecoration shadow-4 bordered2 cardMainCarouselContainer">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">storage</i></p>
                        </div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainBody centerAligner">Banco de datos
                        </div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainFooter centerAligner">Conozca más
                            sobre el banco de datos y su funcionamiento</div>
                    </div>
                </a>
            </section>
            <br><br>
        </section>

        <!--Para dispositivos móviles-->
        <section class="owl-one owl-carousel owl-theme hide-on-med-and-up colorGrey">
            <div class="item">
                <a href="gestionar_grupos">
                    <div class="borderDecoration shadow-2e bordered2">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">groups_2</i></p>
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainBody centerAligner colorTextReverse">Gestionar
                            grupos</div>
                        <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">
                            <p class="center-align colorTextReverse">Crear, editar, eliminar y administrar los grupos de
                                estudiantes.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="gestionar_cuestionarios">
                    <div class="borderDecoration shadow-2e bordered2">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">description</i></p>
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainBody centerAligner colorTextReverse">Gestionar
                            cuestionarios</div>
                        <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">
                            <p class="center-align colorTextReverse">Crear, editar, eliminar, administrar los
                                cuestionarios.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="gestionar_estadisticas/{{datos[0]}}">
                    <div class="borderDecoration shadow-2e bordered2">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">stacked_bar_chart</i></p>
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainBody centerAligner colorTextReverse">Gestionar
                            estadísticas</div>
                        <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">
                            <p class="center-align colorTextReverse">Ver estadísticas diversas sobre los grupos creados
                                y
                                las pruebas
                                publicadas.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="comunidad_profesor">
                    <div class="borderDecoration shadow-2e bordered2">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">storage</i></p>
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainBody centerAligner colorTextReverse">Banco de datos
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">
                            <p class="center-align colorTextReverse">Conozca más sobre el banco de datos y su
                                funcionamiento.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item" style="width: 100px;">

            </div>
        </section>

        <!--Resumen de actividad-->
        <div class="title-general">
            <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Resumen general</h5>
            <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Resumen general</h4>
        </div>

        <!--Resumen para dispositivos móviles-->
        <section class="centerAligner verticalAligner bodySummary hide-on-med-only hide-on-large-only">
            <div class="centerAligner borderDecorationStrong cardSummary shadow-1 bordered1 colorGreyWhiter">
                <div class="counterSummary center-align bordered3 color3 colorText shadow-1e"></div>
                <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de grupos</div>
            </div>

            <div class="centerAligner borderDecorationStrong cardSummary shadow-1 bordered1 colorGreyWhiter">
                <div class="counterSummary center-align bordered3 color4 colorText shadow-1e"></div>
                <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de estudiantes
                </div>
            </div>

            <div class="centerAligner borderDecorationStrong cardSummary shadow-1 bordered1 colorGreyWhiter">
                <div class="counterSummary center-align bordered3 color2 colorText shadow-1e">19</div>
                <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de cuestionarios
                </div>
            </div>

            <div class="centerAligner borderDecorationStrong cardSummary shadow-1 bordered1 colorGreyWhiter">
                <div class="counterSummary center-align bordered3 color1 colorText shadow-1e">19</div>
                <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de temas</div>
            </div>
        </section>

        <!--Resumen para dispositivos tabletas-->
        <section class="bodySummary hide-on-small-only">
            <div class="opcionesContainerInterno row">
                <div class="col s12 m6 l4">
                    <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                        <a href="#!" id="coloresAqua">
                            <div class="card-stacked">
                                <div class="card-content centerAligner verticalAligner">
                                    <div>
                                        <p class="colorTextReverse fontTabletSummary">Número de grupos</p>
                                    </div>
                                    <div class="fontCounterSummary colorTextReverse">
                                        6
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                        <a href="#!" id="coloresAqua">
                            <div class="card-stacked">
                                <div class="card-content centerAligner verticalAligner">
                                    <div>
                                        <p class="colorTextReverse fontTabletSummary">Número de estudiantes</p>
                                    </div>
                                    <div class="fontCounterSummary colorTextReverse">
                                        80
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                        <a href="#!" id="coloresAqua">
                            <div class="card-stacked">
                                <div class="card-content centerAligner verticalAligner">
                                    <div>
                                        <p class="colorTextReverse fontTabletSummary">
                                            Número de cuestionarios</p>
                                    </div>
                                    <div class="fontCounterSummary colorTextReverse">
                                        10
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6 l12">
                    <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                        <a href="#!" id="coloresAqua">
                            <div class="card-stacked">
                                <div class="card-content centerAligner verticalAligner">
                                    <div>
                                        <p class="colorTextReverse fontTabletSummary">Número de temas</p>
                                    </div>
                                    <div class="fontCounterSummary colorTextReverse">
                                        8
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </section>

    <br><br><br>

    <!--
        Seccion de notificaciones
    -->

    <!--Modal para las notificaciones-->
    <div id="modal1" class="modal bordered2 colorGreyWhiter" style="height: 100vh;">
        <div class="modal-content">
            <h4>Notificaciones</h4>
            <div class="shadow-1 badColor bordered1 paddingerStyleNotificacion colorTextReverse notificacionContador">
                <h6 class="badColor"><b>Politicas</b></h6>
                <p class="badColor">¿Desea aceptar las politicas de cookies, de privacidad y los términos y condiciones?
                </p>
                <div>
                    <a href="/bienvenidaProfesor" class="btn waves-effect waves-light bordered3 badColorButton politicasNButton"><i
                            class="material-icons md-24">done</i></a>
                    <a href="/bienvenidaProfesor" class="btn waves-effect waves-light bordered3 badColorButton politicasNButton"><i
                            class="material-icons md-24">close</i></a>
                </div>
            </div>
            <div class="shadow-1 infoColor bordered1 paddingerStyleNotificacion colorTextReverse notificacionContador">
                <h6 class="infoColor"><b>Sección de ayuda </b></h6>
                <p class="infoColor">¿Desea visitar la sección de ayuda?</p>
                <div>
                    <a href="/bienvenidaProfesor" class="btn waves-effect waves-light bordered3 infoColorButton ayudaNButton"><i
                            class="material-icons md-24">done</i></a>
                    <a href="/bienvenidaProfesor" class="btn waves-effect waves-light bordered3 infoColorButton ayudaNButton"><i
                            class="material-icons md-24">close</i></a>
                </div>
            </div>
            <div class="shadow-1 infoColor bordered1 paddingerStyleNotificacion colorTextReverse notificacionContador">
                <h6 class="infoColor"><b>Crear un grupo</b></h6>
                <p class="infoColor">Crear un primer grupo para comenzar</p>
                <div>
                    <a href="/bienvenidaProfesor" class="btn waves-effect waves-light bordered3 infoColorButton crearGrupoNButton"><i
                            class="material-icons md-24">done</i></a>
                    <a href="/bienvenidaProfesor" class="btn waves-effect waves-light bordered3 infoColorButton crearGrupoNButton"><i
                            class="material-icons md-24">close</i></a>
                </div>
            </div>
            <div class="shadow-1 sosoColor bordered1 paddingerStyleNotificacion colorTextReverse notificacionContador">
                <h6 class="sosoColor"><b>Conocer los temas en la sección de configuraciones</b></h6>
                <p class="sosoColor">Ajuste la página en caso de trastornos visuales</p>
                <div>
                    <a href="/bienvenidaProfesor" class="btn waves-effect waves-light bordered3 sosoColorButton configuracionesNButton"><i
                            class="material-icons md-24">done</i></a>
                    <a href="/bienvenidaProfesor" class="btn waves-effect waves-light bordered3 sosoColorButton configuracionesNButton"><i
                            class="material-icons md-24">close</i></a>
                </div>
            </div>
        </div>
    </div>

    <!--Boton para notificaciones-->
    <div class="fixed-action-btn" id="buttonNotificationOurs">
        <a class="btn-floating btn-large color3 modal-trigger" href="#modal1">
            <i class="large material-icons animate__animated" id="iconNotificationOurs">notifications</i>
        </a>
        <div id="contadorNotificacion" class="color1 colorText bordered3">0</div>
    </div>

    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}


</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<script src="../../static/js/bienvenidaEfectos.js"></script>
<script src="../../static/js/efectosNotificaciones.js"></script>


</html>