<!doctype html>
<html lang="en">

<head>
    <title>Preview de alumno</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">Preview de alumno.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Preview de alumno.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>


    <!--Aqui se recibe el texto del JSON-->
    <section class="contenedorPreviewCuestionario">
        <!--Datos importantes del cuestionario-->
        <section class="contenedorPreviewUno">
            <section class="infoColor bordered1 shadow-1e generalInfoPreviewAlumno">
                <p class="infoColor"><i class="material-icons">info</i> Aqui usted puede ver el cuestionario como lo vería un estudiante al momento de estarlo contestando. Esto le ayudará a ver como es funcionamiento general del cuestionario en tiempo real y poder verificar fallos.</p>
            </section>
            <div class="hide-on-small-only">
                <h5>Acciones disponibles</h5>
                <div>
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">article</i>Información importante.
                            </div>
                            <div class="bordered5 collapsible-body">
                                {% if datosCuestionario %}
                                <div class="">
                                    <h5><b>{{datosCuestionario[0][3]}}</b></h5>
                                    <hr>
                                    <section class="row">
                                        <div class="col s12 m6 l12">
                                            <h6><b>Fecha creación:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0][4]}}</p>
                                        </div>
                                        <div class="col s12 m6 l12">
                                            <h6><b>Autor:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0][5]}}</p>
                                        </div>
                                        <div class="col s12 m6 l12">
                                            <h6><b>Temas:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0][6]}}</p>
                                        </div>
                                        <div class="col s12 m6 l12">
                                            <h6><b>Tipo de cuestionario:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0][7]}}</p>
                                        </div>
                                        <div class="col s12 m12 l12">
                                            <h6><b>Lenguaje:</b></h6>
                                            <p class="muestraCodigoGrupo colorGrey colorTextReverse bordered1">
                                                {{datosCuestionario[0][8]}}</p>
                                        </div>
                                    </section>
                                </div>
                                {%endif%}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hide-on-small-only">
                <div>
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">check</i>Estado de preguntas.
                            </div>
                            <div class="bordered5 collapsible-body">
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contenedorOperacionesLive colorGreyWhiter bordered2 shadow-1e" id="contenedorLive">
                <div class="datosCuestionarioLive">
                    <h5>Tablero de información.</h5>
                    <div class="contenedorContadoresGrid">
                        <div class="colorGreyDarker bordered5">Total preguntas: <span class="coloredText" id="contadorTotal"></span>
                            </span> </div>
                        <div class="colorGreyDarker bordered5">Respondidas: <span class="coloredText" id="contadorRespondidas"></span>
                            </span> </div>
                        <div class="color5 bordered5">Tiempo restante: <span class="coloredText" id="contadorTiempo">
                            </span> </div>
                    </div>
                </div>
                <div class="accessCuestionarioLive">
                    <a href="/viewCuestionario/{{datosCuestionario[0][0]}}"
                        class="waves-effect waves-light btn-large bordered5 color3 shadow-2e" id="previewJsonResponder"
                        style="width: 100%;">
                        <i class="material-icons left">keyboard_return</i>Volver a la vista general</a>
                </div>
            </div>
        </section>
        <!--Vista previa del cuestionario-->
        <section class="contenedorPreviewDos">
            <h5>Preguntas cuestionario</h5>
            <div class="contenedorPreguntasPreview" id="contenedorPreguntasPreview">

            </div>
        </section>
    </section>

    <!--Boton para ir hacia arriba-->
    <div class="fixed-action-btn hiddenElement animate__animated" id="buttonGoUpTerminos">
        <a class="btn-floating btn-large color4">
            <i class="large material-icons">arrow_upward</i>
        </a>
    </div>

</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<!--En esta parte todo los demás del script se hará en un archivo externo-->
<script>
    //Accedemos a los datos guardados en el JSON
    const dataCuestionarioJSON = {{ dataJSON| tojson}}; 
</script>
<script src="../../static/js/operacionesTerminos.js"></script>
<script src="../../static/js/operacionesPreviewDeAlumno.js"></script>

<!--Esta parte necesita ser agregada aqui porque son cambios en tiempo real-->
<script>
    //Opcion multiple
    function agregarRespuesta(idButton, idInput){
        //Se accede al contenido del button
        let buttonElement = document.getElementById(idButton);
        //Se accede al input de respuesta
        let textoInput = document.getElementById(idInput);
        //Se imprime la respuesta
        textoInput.innerHTML = "<b>" + buttonElement.innerText + "</b>";
        textoInput.classList.remove("colorGreyDarker");
        textoInput.classList.add("color5");
        textoInput.classList.add("coloredText");
    }

    //Rellenar textos
    function agregarRespuestaOpt2(classBlank,idButton, idRespuesta){
        let buttonElement = document.getElementById(idButton);
        let textInput = document.getElementById(idRespuesta);
        let classBlankElements = document.getElementsByClassName(classBlank);
        let valoresInputs;
        //Accedemos a los values de los inputs con esa clase
        textInput.innerText = "";
        for(var i = 0; i < classBlankElements.length; i++){
            textInput.innerText += classBlankElements[i].value + "/";
        }
        
        textInput.classList.remove("colorGreyDarker");
        textInput.classList.add("color5");
        textInput.classList.add("coloredText");
    }
</script>

</html>