<!doctype html>
<html lang="en">

<head>
    <title>Crear publicacion</title>

    {% include "includes/encabezadoRecursos.html" %}
    <script src="https://cdn.ckeditor.com/4.19.1/standard-all/ckeditor.js"></script>

</head>

<body class="oculto colorGrey">

    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Crear publicacion.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Crear publicacion.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>
    <br><br><br>

    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="card-publicacion shadow-3" style="padding: 30px;">
                
                    <div class="input-field col s12 m6 l12">
                        <input placeholder="titulo de la publicación" class="colorText truncate" id="titulo_pu"
                            type="text" name="titulo" class="validate" required>
                        <label for="titulo_pu">Titulo de la publicacion</label>
                    </div><br>
                    <div class="input-field col s12 m6 l12">
                        <label for="publicacion">Ingresa la publicación</label><br>
                        <textarea placeholder="Escribe la publicación" 
                            id="publicacion" class="validate" name="descripcion" style="min-height: 60px;"></textarea>
                    </div>
            </div>
        </form>
    </div>


    <script>
        CKEDITOR.replace("publicacion")
    </script>
</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<script src="../../static/js/bienvenidaEfectos.js"></script>
<script src="../../static/js/operacionesGestionGrupos.js"></script>

</html>