<!doctype html>
<html lang="en">

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<head>
    <title>Creación de cuestionarios</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Cargador de la página -->

    {% include "includes/cargador.html" %}

    <!--Sidevar de la pagina-->

    <nav class="color2 z-depth-3">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">&nbsp;&nbsp;&nbsp;JCP_helper</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a><input id="nombre" placeholder="nombre" type="text" class="validate"></a></li>
        <li><a class="waves-effect waves-light btn">Guardar</a></li>
    </ul>

    <!--Contenido de la pagina-->

    <div class="row" id="contenedorGeneral">
        <!--Modal para la creacion de preguntas de opcion multiple-->
        <div id="modalOpccionMultipleCreacion" class="modal colorGrey bordered2 modalAltura">
            <div class="modal-content">
                <h4>Opción multiple</h4>
                <hr>
                <p>Diseñe preguntas de opción múltiples primero definiendo la preguntas, luego las opciones y por último
                    la opción correcta.</p>
                <hr>
                <form class="col s12" id="formModalOpccionMultipleCreacion">

                    <h5><b>Defina la pregunta</b></h5>
                    <!--Titulo de la pregunta -->
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textAreaPreguntaOpccionMultipleCreacion"
                                class="materialize-textarea"></textarea>
                            <label for="textAreaPreguntaOpccionMultipleCreacion">Pregunta</label>
                        </div>
                    </div>


                    <h5><b>Defina las opciones</b></h5>
                    <!--Opcion A-->
                    <div class="row">
                        <div class="col s12" id="contenedorOpccionesOpccionMultipleModalCreacion">
                            <div class="row colorGreyWhiter bordered1 opcionContainer">
                                <!--Opcion de tomar A como correcta-->
                                <div class="col s12 m3 labelContainer">
                                    <label>
                                        <input name="grupoOpcionesModalOpcionMuliple" value="A" type="radio" checked />
                                        <span>Correcta</span>
                                    </label>
                                </div>
                                <!--Contenido de opcion A-->
                                <div class="col s12 m9">
                                    <h6><b>Opción A</b></h6>
                                    <textarea id="opcionACreacion" class="materialize-textarea"></textarea>
                                </div>
                            </div>

                            <!--Opcion B-->
                            <div class="row hide colorGreyWhiter bordered1 opcionContainer">
                                <!--Opcion de tomar B como correcta-->
                                <div class="col s12 m3 labelContainer">
                                    <label>
                                        <input name="grupoOpcionesModalOpcionMuliple" value="B" type="radio" />
                                        <span>Correcta</span>
                                    </label>
                                </div>
                                <!--Contenido de opcion B-->
                                <div class="col s12 m9">
                                    <h6><b>Opción B</b></h6>
                                    <textarea id="opcionBCreacion" class="materialize-textarea"></textarea>
                                </div>
                            </div>

                            <!--Opcion C-->
                            <div class="row hide colorGreyWhiter bordered1 opcionContainer">
                                <!--Opcion de tomar C como correcta-->
                                <div class="col s12 m3 labelContainer">
                                    <label>
                                        <input name="grupoOpcionesModalOpcionMuliple" value="C" type="radio" />
                                        <span>Correcta</span>
                                    </label>
                                </div>
                                <!--Contenido de opcion C-->
                                <div class="col s12 m9">
                                    <h6><b>Opción C</b></h6>
                                    <textarea id="opcionCCreacion" class="materialize-textarea"></textarea>
                                </div>
                            </div>

                            <!--Opcion D-->
                            <div class="row hide colorGreyWhiter bordered1 opcionContainer">
                                <!--Opcion de tomar D como correcta-->
                                <div class="col s12 m3 labelContainer">
                                    <p>
                                        <label>
                                            <input name="grupoOpcionesModalOpcionMuliple" value="D" type="radio" />
                                            <span>Correcta</span>
                                        </label>
                                    </p>
                                </div>
                                <!--Contenido de opcion D-->
                                <div class="col s12 m9">
                                    <h6><b>Opción D</b></h6>
                                    <textarea id="opcionDCreacion" class="materialize-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br>
                    <!--Guardar la pregunta en el cuestionario-->
                    <div class="botonesDelModal colorGreyDarker">
                        <!--Guardar opciones-->
                        <div class="botonesDelModalSon1">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnGuardarModalOpcionMultipleCreacion"><i
                                    class="material-icons left">save</i>Guardar</a>
                        </div>
                        <!--Agregar opciones -->
                        <div class="botonesDelModalSon2">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnAgregarModalOpcionMultipleCreacion"><i
                                    class="material-icons left">add</i>Agregar</a>
                        </div>
                        <!--Eliminar opciones -->
                        <div class="botonesDelModalSon3">
                            <a class="waves-effect waves-light btn bordered5 color1 shadow-2e" href="#"
                                id="btnEliminarModalOpcionMultipleCreacion"><i
                                    class="material-icons left">delete_sweep</i>Borrar todo</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--Modal para la creacion de preguntas de rellenar espacios-->
        <div id="modalRellenarEspaciosCreacion" class="modal colorGrey bordered2 modalAltura">
            <div class="modal-content">
                <h4>Rellenar espacios</h4>
                <hr>
                <p>Ingrese un texto en el formulario, y posteriormente agregue los espacio en el texto de modo que el
                    estudiante pueda completar con la respuesta correcta.</p>
                <hr>
                <form class="col s12">
                    <h5><b>Defina el texto</b></h5>
                    <!--Titulo de la pregunta -->
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="texAreaModalRellenarEspaciosCreacion" class="materialize-textarea"
                                    placeholder="text"></textarea>
                                <label for="texAreaModalRellenarEspaciosCreacion">Escriba el texto a completar</label>
                            </div>
                        </div>
                    </div>

                    <h5><b>Defina los espacios</b></h5>
                    <!--Contenedor de espacios de creacion de elementos del espacio -->
                    <div class="" id="contenedorOpccionEspaciosCreacion">

                    </div>

                    <br><br><br><br>
                    <!--Guardar la pregunta en el cuestionario-->
                    <div class="botonesDelModal colorGreyDarker">
                        <!--Guardar opciones-->
                        <div class="botonesDelModalSon1">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnGuardarModalRellenarEspaciosCreacion"><i
                                    class="material-icons left">save</i>Guardar</a>
                        </div>
                        <!--Agregar opciones -->
                        <div class="botonesDelModalSon2">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnAgregarModalRellenarEspaciosCreacion"><i class="material-icons left">add</i>1
                                Espacio</a>
                        </div>
                        <!--Eliminar opciones -->
                        <div class="botonesDelModalSon3">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnEliminarModalRellenarEspaciosCreacion"><i class="material-icons left">remove</i>1
                                Espacio</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--Modal para la creacion de preguntas de ejercicios-->
        <div id="modalEjerciciosCreacion" class="modal colorGrey bordered2 modalAltura">
            <div class="modal-content">
                <h4>Ejercicios</h4>
                <hr>
                <p>Ingrese la descripción de un ejercicio y adjunte un código para retroalimentar el ejercicio una vez
                    que el estudiante suba su propuesta de solución al problema que usted planteó</p>
                <div class="row">
                    <form class="col s12">
                        <h5><b>Describa el ejercicio</b></h5>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="descripcionProblema" class="materialize-textarea"></textarea>
                                <label for="descripcionProblema">Descripción del problema</label>
                            </div>
                        </div>
                        <h5><b>Código de retroalimentación</b></h5>
                        <p class="muestraCodigoGrupo color5 bordered1">No es obligatorio pero se recomienda para que el
                            alumno compare su propuesta.</p>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="codigoResultado" class="browser-default materialize-textarea"></textarea>
                                <label for="codigoResultado">Codigo resultado</label>
                            </div>
                        </div>
                        <h5><b>Vista previa del código</b></h5>
                        <div class="previewCodeContainer bordered1">
                            <code class="colorText">
                                <pre id="codigoMuestra">

                                </pre>
                            </code>
                        </div>


                        <br><br><br><br>
                        <!--Guardar la pregunta en el cuestionario-->
                        <div class="botonesDelModalDosBotones colorGreyDarker">
                            <!--Guardar opciones-->
                            <div class="botonesDelModalSon1">
                                <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                    id="crearEjercicioButton"><i
                                        class="material-icons left">save</i>Guardar</a>
                            </div>
                            <!--Limpiar opciones -->
                            <div class="botonesDelModalSon2">
                                <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                    id="limpiarCasillasEjercicioButton"><i class="material-icons left">cleaning_services</i>
                                    Limpiar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Modal para la creacion de preguntas de opcion de arrestar opciones-->
        <div id="modalArrastrarCreacion" class="modal">
            <div class="modal-content">
                <h4>Arrastrar</h4>
                <form class="col s12">

                    <!--Titulo de la pregunta -->

                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="texAreaModalArrastrarCreacion" class="materialize-textarea"></textarea>
                                <label for="texAreaModalArrastrarCreacion">Pregunta</label>
                            </div>
                        </div>
                    </div>

                    <!--Seccion para la creacion  de opcciones -->

                    <div class="row">
                        <div class="col s12" id="opccionesArrastarModalCreacion">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 ">
                            <!--GUardar pregunta-->
                            <a class="waves-effect waves-light btn " id="btnGuardarModalArrastrarCreacion">Guardar</a>
                            <!--Agregar opccion-->
                            <a class="waves-effect waves-light btn " id="btnAgregarsModalArrastrarCreacion">Agregar</a>
                            <!--Eliminar opccion-->
                            <a class="waves-effect waves-light btn " id="btnEliminarModalArrastrarCreacion">Eliminar</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

    <section class="containerCreacionCuestionarios">
        <!--Opciones para crear el cuestionario en pantalla grande-->
        <section class="containerCreacionCuestionariosSon1">
            <section class="containerOpcionesFather">
                <h5>Tipos de pregunta</h5>
                <br>
                <div class="containerOpciones colorGreyWhiter shadow-2e">
                    <a class="waves-effect waves-light btn-large bordered5 color2 shadow-2e modal-trigger"
                        href="#modalOpccionMultipleCreacion"><i class="material-icons left md-32">abc</i>Opción
                        múltiple</a>
                    <a class="waves-effect waves-light btn-large bordered5 color2 shadow-2e modal-trigger"
                        href="#modalRellenarEspaciosCreacion"><i class="material-icons left md-32">draw</i>Rellenar
                        espacios</a>
                    <a class="waves-effect waves-light btn-large bordered5 color2 shadow-2e modal-trigger"
                        href="#modalEjerciciosCreacion"><i class="material-icons left md-32">code</i>Ejercicios</a>
                    <a class="waves-effect waves-light btn-large bordered5 color2 shadow-2e modal-trigger"
                        href="#modalArrastrarCreacion"><i
                            class="material-icons left md-32">swipe_vertical</i>Arrastrar</a>
                    <a class="waves-effect waves-light btn-large bordered5 color1 shadow-2e"
                        href="/crear_cuestionario_del_banco"><i class="material-icons left md-32">cloud</i>Banco de
                        preguntas</a>
                </div>
            </section>
        </section>

        <!--Opciones para cuestionario en pantalla pequeña-->
        <section class="containerOpcionesMobileFather">
            <section class="containerOpcionesMobile bordered1 colorGreyDarker">
                <a class="button1 waves-effect waves-light shadow-1 modal-trigger"
                    href="#modalOpccionMultipleCreacion"><i class="material-icons md-36 colorTextReverse">abc</i></a>
                <a class="button2 waves-effect waves-light shadow-1 modal-trigger"
                    href="#modalRellenarEspaciosCreacion"><i class="material-icons md-28 colorTextReverse">draw</i></a>
                <a class="button3 waves-effect waves-light shadow-1 modal-trigger" href="#modalEjerciciosCreacion"><i
                        class="material-icons md-28 colorTextReverse">code</i></a>
                <a class="button4 waves-effect waves-light shadow-1 modal-trigger" href="#modalArrastrarCreacion"><i
                        class="material-icons md-28 colorTextReverse">swipe_vertical</i></a>
                <a class="button5 waves-effect waves-light shadow-1" href="/crear_cuestionario_del_banco"><i
                        class="material-icons md-28 colorTextReverse">cloud</i></a>
            </section>
        </section>

        <!--Vista general del cuestionario-->
        <section class="containerCreacionCuestionariosSon2">
            <div class="" id="contenedorCuestionarioPreguntas">
                <div class="tituloCuestionario">
                    <div class="contenedorTitulo hiddenElement">
                        <h5 id="tituloCuestionario">Titulo del cuestionario</h5>
                        <a class="waves-effect waves-light btn bordered5 color1 shadow-2e" href="#" id="editarTitulo"><i
                                class="material-icons">edit</i></a>
                    </div>
                    <div class="inputNombreCuestionario">
                        <input type="text" name="nombreCuestionario" id="nombreCuestionario"
                            class="browser-default inputNombre shadow-1 flow-text bordered5"
                            placeholder="Ingrese nombre del cuestionario">
                        <a class="waves-effect waves-light btn color1 shadow-2e" href="#" id="guardarTitulo"><i
                                class="material-icons left">save</i>Guardar</a>
                    </div>
                </div>
            </div>
        </section>

        <!--Vista general del proceso-->
        <section class="containerCreacionCuestionariosSon3">
            <div class="containerProcesoImagen">
                <div id="circleOne" class="shadow-2e color3 colorText">1</div>
                <div id="lineMiddle" class="shadow-2e colorGreyDarker"></div>
                <div id="circleTwo" class="shadow-2e colorGreyDarker">2</div>
            </div>
            <div class="containerProcesoData">
                <div>Estructura principal</div>
                <div>Datos adicionales</div>
            </div>
        </section>

    </section>



</body>
<script src="../../static/js/configuracionCreacionCuestionario.js"></script>

</html>