<!doctype html>
<html lang="en">

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<head>
    <title>{% block title %}| JCP{% endblock %}</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

   
    <script>
         
      var contadorModalRellenarEspaciosCreacion=0;

      //Opccion para agregar opccion a la opcción multiple
      $(document).ready(function () {
            $("#btnAgregarModalOpcionMultipleCreacion").click(function () {
                $("#contenedorOpccionesOpccionMultipleModalCreacion .hide").first().removeClass("hide");
               
            });
        });

  //Opccion para hacer que pongan los espacios en la de completar espacios
         $(document).ready(function () {
                $("#btnAgregarModalRellenarEspaciosCreacion").click(function () {
                   var textoInput = $("#texAreaModalRellenarEspaciosCreacion").val();
                    contadorModalRellenarEspaciosCreacion++;
                    $("#texAreaModalRellenarEspaciosCreacion").val(textoInput+" [Blank "+contadorModalRellenarEspaciosCreacion+ "]");
                    $("#contenedorOpccionEspaciosCreacion").append(
 
                      "<div class='row'>"+
                           "<div class='col s12'>"+
                               "Blank " + contadorModalRellenarEspaciosCreacion +
                            "</div>"+
                        "</div>"+
                        "  <div class='row'>"+
                            "<div class='col s12'>" +
                                 "<input type='type' class='validate'>"+
                             "</div>" +
                        "</div>"




                    );
                
                });
            });

 ///btnAgregarsModalArrastrarCreacion
 /*
    <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="col s6 ">
                    <a class="waves-effect waves-light btn ">
                        <input placeholder="Opccion" id="opccion" type="text" class="validate">
                    </a>
                </div>
            </div>
 */

    $(document).ready(function () {
        $("#btnAgregarsModalArrastrarCreacion").click(function () {
           $("#opccionesArrastarModalCreacion").append(
                     " <div class='row'>"+
                        " <div class='input - field col s6'>"+
                            "  <input placeholder='Placeholder'   type='text'>"+
                       "</div>"+
                       "<div class='col s6 '>"+
                        "<a class='waves - effect waves - light btn '>"+
                            "<input placeholder='Opccion' id='opccion' type='text' class='validate'>"+
                            "</a>"+
                        "</div>"+
                       "</div>" 

           );

        });
    });

    </script>
   

</head>

<body class="oculto colorGrey">

<!--Cargador de la página -->

{% include "includes/cargador.html" %}

<!--Sidevar de la pagina-->

<nav class="color2 z-depth-3">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">&nbsp;&nbsp;&nbsp;JCP_helper</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a><input id="nombre" placeholder="nombre" type="text" class="validate"></a></li>
            <li><a class="waves-effect waves-light btn">Guardar</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a><input id="nombre" placeholder="nombre" type="text" class="validate"></a></li>
    <li><a class="waves-effect waves-light btn">Guardar</a></li>

</ul>

<!--Contenido de la pagina-->

<div class="row" id="contenedorGeneral">

<!--Seccion  para la creacion de los diferentes tipos de preguntas-->
<div class="col s5">

    <!--Menu de la seccion de preguntas-->
    <div class="card horizontal" id="seccionCreacionPreguntas">

        <div class="card-stacked">
            <div class="card-content">
                <h4 class="center-align">Tipo preguntas</h4>

                <div class="row">
                    <div class="col s12 ">
                        <a class="waves-effect waves-light btn modal-trigger" id="botonModalOpccionMultipleCreacion"
                            href="#modalOpccionMultipleCreacion" style="width: 100%;">Opcción multiple</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 ">

                        <a class="waves-effect waves-light btn modal-trigger " id="botonModalRellenarEspaciosCreacion"
                            href="#modalRellenarEspaciosCreacion" style="width: 100%;">Rellenar espacios</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 ">

                        <a class="waves-effect waves-light btn modal-trigger" id="botonModalEjericiciosCreacion"
                            href="#modalEjerciciosCreacion" style="width: 100%;">Ejercicios</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 ">
                        <a class="waves-effect waves-light btn modal-trigger" id="botonModalArrastarCreacion"
                            href="#modalArrastrarCreacion" style="width: 100%;">Arrastrar</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!--Modal para la creacion de preguntas de opcion multiple-->
<div id="modalOpccionMultipleCreacion" class="modal">
    <div class="modal-content">
        <h4>Opcción multiple</h4>
        <form class="col s12" id="formModalOpccionMultipleCreacion">
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textAreaPreguntaOpccionMultipleCreacion" class="materialize-textarea"
                            data-length="120"></textarea>
                        <label for="textAreaPreguntaOpccionMultipleCreacion">Pregunta</label>
                    </div>
                </div>
            </div>

            <div class="row">
            <div class="col s12" id="contenedorOpccionesOpccionMultipleModalCreacion">
            
            <div class="row">
                <div class="col s12">
                    <a>Opcion A</a>
                    <a class="waves-effect waves-light btn " style="width: 100%; height:100px;">
                        <textarea id="opcionACreacion" class="materialize-textarea"></textarea>
                    </a>
                </div>
            </div>

                   <div class="row hide">
                        <div class="col s12">
                            <a>Opcion B</a>
                            <a class="waves-effect waves-light btn " style="width: 100%; height:100px;">
                                <textarea id="opcionBCreacion" class="materialize-textarea"></textarea>
                            </a>
                        </div>
                    </div>

                    <div class="row hide">
                        <div class="col s12">
                            <a>Opcion C</a>
                            <a class="waves-effect waves-light btn " style="width: 100%; height:100px;">
                                <textarea id="opcionCCreacion" class="materialize-textarea"></textarea>
                            </a>
                        </div>
                    </div>

                    <div class="row hide">
                        <div class="col s12">
                            <a>Opcion D</a>
                            <a class="waves-effect waves-light btn " style="width: 100%; height:100px;">
                                <textarea id="opcionDCreacion" class="materialize-textarea"></textarea>
                            </a>
                        </div>
                    </div>
            
                </div>

            </div>
            <div class="row">
                <div class="col s6">
                    <a class="waves-effect waves-light btn " id="btnGuardarModalOpcionMultipleCreacion">
                        Guardar
                    </a>
                </div>
                <div class="col s6">
                    <a class="waves-effect waves-light btn " id="btnAgregarModalOpcionMultipleCreacion">
                        Agregar
                    </a>
                </div>

            </div>

        </form>
    </div>
</div>

<!--Modal para la creacion de preguntas de rellenar espacios-->

<div id="modalRellenarEspaciosCreacion" class="modal">
    <div class="modal-content">
        <h4>Rellenar espacios</h4>
        <form class="col s12">
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="texAreaModalRellenarEspaciosCreacion" class="materialize-textarea"></textarea>
                        <label for="texAreaModalRellenarEspaciosCreacion">Escriba el texto a completar</label>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col 12" id ="contenedorOpccionEspaciosCreacion">

                </div>

            </div>
    <!--    <div class="row">
            <div class="col s12">
                Blank 1
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input  type="type" class="validate">
            </div>
        </div>-->

            <div class="row">
                <div class="col s6">
                    <a class="waves-effect waves-light btn " id="btnAgregarModalRellenarEspaciosCreacion">Agregar espacios</a>
                </div>
                <div class="col s6">
                    <a class="waves-effect waves-light btn "  id="btnGuardarModalRellenarEspaciosCreacion">Guardar</a>
                </div>
            </div>

        </form>
    </div>
</div>

<!--Modal para la creacion de preguntas de ejercicios-->
<div id="modalEjerciciosCreacion" class="modal">
    <div class="modal-content">
        <h4>Ejercicios</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Pregunta</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="codigoResultado" class="materialize-textarea" style="height: 600px;"></textarea>
                        <label for="codigoResultado">Codigo resultado</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal para la creacion de preguntas de opcion de arrestar opciones-->
<div id="modalArrastrarCreacion" class="modal">
    <div class="modal-content">
        <h4>Arrastrar</h4>
        <form class="col s12">
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="texAreaModalArrastrarCreacion" class="materialize-textarea"></textarea>
                        <label for="texAreaModalArrastrarCreacion">Pregunta</label>
                    </div>
                </div>
            </div>

          <!-- <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="col s6 ">
                    <a class="waves-effect waves-light btn ">
                        <input placeholder="Opccion" id="opccion" type="text" class="validate">
                    </a>
                </div>
            </div>-->
          <div class="row">
             <div class="col s12" id="opccionesArrastarModalCreacion">

             </div>
          </div>

            <div class="row">
                <div class="col s12 ">
                    <a class="waves-effect waves-light btn "  id="btnGuardarModalArrastrarCreacion">Guardar</a>
                    <a class="waves-effect waves-light btn "  id="btnAgregarsModalArrastrarCreacion">Agregar</a>
                </div>

            </div>
        </form>
    </div>
</div>


<!--Seccion para la visulaización del cuestionario-->
<div class="col s7">
    <div class="row">
        <div class="col s12 ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        <h5 class="center-align">
                            Titulo del cuestionario
                        </h5>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--Ejemplo de pregunta se opcción multiple-->
    <div class="row">
        <div class="col s12 ">
            <div class="card ">
                <div class="card-content ">
                    <h4>Ejemplo pregunta opccion multiple</h4>
                    <div class="row">
                        <div class="col s12">
                            <a>Opcion A</a>
                            <a class="waves-effect waves-light btn " style="width: 100%; height:50px;">
                                Contenido opcion A
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a>Opcion B</a>
                            <a class="waves-effect waves-light btn " style="width: 100%; height:50px;">
                                Contenido opcion B
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a>Opcion C</a>
                            <a class="waves-effect waves-light btn " style="width: 100%; height:50px;">
                                Contenido opcion C
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a>Opcion D</a>
                            <a class="waves-effect waves-light btn " style="width: 100%; height:50px;">
                                Contenido opcion D
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn">Cambiar</a>
                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>


    <!--Ejemplo de preguntas de rellenar espacios-->

    <div class="row">
        <div class="col s12 ">
            <div class="card ">
                <div class="card-content ">
                    <h4>Ejemplo de pregunta de rellenear espacios</h4>

                    <div class="row">
                        <h4>texto de ejemplo</h4>
                    </div>
                    
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn ">Cambiar</a>
                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>

    <!--Ejemplo de preguntas de ejercicios-->

    <div class="row">
        <div class="col s12 ">
            <div class="card ">
                <div class="card-content ">
                    <h4>Ejemplo de pregunta de ejercicios de código</h4>
                    <div class="row">
                        <div class="col s12">
                            ejemplo código / objeto resultado
                        </div>
                    </div>

                    <div class="row">
                        <div class="cols s12">
                            <a class="waves-effect waves-light btn ">Cambiar</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Ejemplo de preguntas de arrastrar-->



    <div class="row">
        <div class="col s12 ">
            <div class="card ">
                <div class="card-content ">
                    <h4>Ejemplo pregunta de arrastrar</h4>

                    <div class="row">
                        <div class="col s6">
                            <div class="input-field col s6">
                                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                            </div>
                        </div>

                        <div class="col s6">
                            <a class="waves-effect waves-light btn ">
                                <input placeholder="Opccion" id="opccion" type="text" class="validate">
                            </a>

                        </div>

                    </div>
                    <div class="row">
                        <div class="cols s12">
                            <a class="waves-effect waves-light btn ">Cambiar</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>






    </div>


</div>

</div>


  
</body>


</html>