<!doctype html>
<html lang="en">

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<head>
    <title>Cuestionarios del banco</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Cargador de la página -->

    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">Cuestionario del banco.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Cuestionario del banco.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>
    <div class="contenedorTitulo hiddenElement">
        <h5 id="tituloCuestionario">Titulo del cuestionario</h5>
        <a class="waves-effect waves-light btn bordered5 color1 shadow-2e" href="#" id="editarTitulo"><i
                class="material-icons">edit</i></a>
    </div>
    <div class="container_preguntas">
        <form action="/guardarCuestionarioJSON/1" method="post">
            <div class="" id="contenedorCuestionarioPreguntas">
                <div class="tituloCuestionario">
                    <div class="contenedorTitulo hiddenElement">
                        <h5 id="tituloCuestionario">Titulo del cuestionario</h5>
                        <a class="waves-effect waves-light btn bordered5 color1 shadow-2e" href="#" id="editarTitulo"><i
                                class="material-icons">edit</i></a>
                    </div>
                    <div class="inputNombreCuestionario">
                        <input type="text" name="nombreCuestionario" id="nombreCuestionario"
                            class="browser-default inputNombre shadow-1 flow-text bordered5"
                            placeholder="Ingrese nombre del cuestionario">
                        <input type="hidden" name="nombreCuestionarioConClave" id="nombreCuestionarioConClave">
                        <a class="waves-effect waves-light btn color1 shadow-2e" href="#" id="guardarTitulo"><i
                                class="material-icons left">done</i>Listo</a>
                    </div>
                </div>
                {% for pregunta in preguntas %}
                {% if pregunta.tipo_pregunta.lower()=="verdadero o falso" %}
                <div class="row preguntasTrueFalse preguntaGlobal opt5">
                    <div class="col s12">
                        <div class="card colorWhite bordered2">
                            <div class="input-field col s12">
                                <input maxlength="1" min="0" max="5" placeholder="Defina ponderación 1-5" type="number"
                                    class="ponderacionGlobal validate shadow-1e colorGrey ponderacionInput browser-default">
                            </div>
                            <div class="card-content ">
                                <h5>Falso y verdadero</h5>
                                <hr>
                                <p>Ingrese una pregunta y determine la opción correcta</p>
                                <div class="row">
                                    <form class="col s12">
                                        <h5><b>Pregunta</b></h5>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">description</i>
                                                <textarea id="preguntaFalseVerdadero1"
                                                    class="materialize-textarea">eres guapo</textarea>
                                                <label class="active" for="preguntaFalseVerdadero1">Pregunta</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <h6><b>Respuesta</b></h6>
                                                <p>Escribe F en caso de que sea falso o T en caso de que sea verdad.</p>
                                                <br>
                                                <input maxlength="1" value="V" placeholder="T/F"
                                                    id="textFalseVerdadero1" type="text"
                                                    class="validate shadow-1e colorGreyWhiter falsoVerdaderoInput browser-default valid">
                                            </div>
                                        </div>
                                        <button
                                            class="waves-effect deleteFalseVerdadero waves-light btn bordered5 color1 shadow-2e"
                                            id="deleteFalseVerdadero1" style="width: 100%;">
                                            <i class="material-icons left">delete_sweep</i>Borrar pregunta</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <section class="row">
                <!--Modal 0: Guardado del JSON -->
                <div id="modalJSON" class="modal colorGrey bordered2 modalAltura" tabindex="0">
                    <div class="modal-content">
                        <h4>Generando archivo JSON</h4>
                        <hr>
                        <p>El cuestionario será almacenado como archivo JSON, usted puede guardar una copia del
                            cuestionario si asi lo desea.</p>
                        <p><b>Puede anexar algún JSON que haya descargado previamente.</b></p>
                        <input type="file" id="inputfileAnterior" class="hidden">
                        <a id="leerArchivoEjercicioAnterior" style="width: 100%; right: 0; position: relative;">
                            <label for="inputfileAnterior"
                                class="waves-effect waves-light btn bordered5 colorGreyDarker colorTextReverse"
                                style="width: 100%;" onclick="anexarJsonViejo('output', 'inputfileAnterior')">
                                <i class="material-icons">upload_file</i>
                            </label>
                        </a>

                        <!--Preview del cuestionario-->
                        <h5><b>Preview de cuestionario JSON</b></h5>
                        <pre class="previewCodeContainer colorText bordered2" id="output"></pre>
                        <!--Input discreto para enviar contenido JSON a flask-->
                        <input type="hidden" name="jsonContentInput" id="jsonContentInput">
                        <!--Descarga del archivo-->
                        <a onclick="downloadJson()"
                            class="waves-effect waves-light btn-large bordered2Up color3 shadow-2e" id="descargarJSON"
                            style="width: 100%;">
                            <i class="material-icons left">download</i>Descargar</a>
                        <!--Almacenado del archivo (en BD y servidor)-->
                        <button type="submit" class="waves-effect waves-light btn-large bordered2Down color1 shadow-2e"
                            id="guardarJSON" style="width: 100%;">
                            <i class="material-icons left">save</i>Guardar</button>
                    </div>
                </div>
                <!--MODAL -1: Para agregar un JSON existente-->
                <div id="agregar_JSON_existente" class="modal colorGrey bordered2" style="height: 80vh;" tabindex="0">
                    <div class="modal-content">
                        <h4>Duplica cuestionario guardado</h4>
                        <hr>
                        <p>Seleccione algún JSON que ya estuviera en existencia de cuestionarios anteriores. <b>Se
                                creará una copia del documento y usted podra editar la data.</b></p>
                        <h5><b>Cuestionarios anteriores.</b></h5>
                        <div id="archivoCuestionario" class="input-field col s12 m12">
                            <div class="select-wrapper"><input class="select-dropdown dropdown-trigger" type="text"
                                    readonly="true" data-target="select-options-453cd259-c4dd-7ebf-d27a-93660d019b7b">
                                <ul id="select-options-453cd259-c4dd-7ebf-d27a-93660d019b7b"
                                    class="dropdown-content select-dropdown" tabindex="0"></ul><svg class="caret"
                                    height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 10l5 5 5-5z"></path>
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                </svg><select id="archivoCuestionarioExistente" name="archivoCuestionario"
                                    tabindex="-1">

                                </select>
                            </div>
                            <label>Archivo de cuestionario</label>
                        </div>
                        <!--Descarga del archivo-->
                        <a href="#" class="waves-effect waves-light btn-large bordered1 color1 shadow-2e"
                            id="archivoExistenteButton" style="width: 100%;">
                            <i class="material-icons left">file_open</i>Cargar/Duplicar</a>
                        <a class="hiddenElement" id="linkOculto"></a>
                    </div>
                </div>
            </section>
            <!--Boton para abrir el modal del json-->
            <div class="fixed-action-btn buttonSaveJSON">
                <button href="#modalJSON" onclick="convertToJSON()" class="modal-trigger btn-floating btn-large color1"
                    id="buttonModalSaveFloat">
                    <i class="large material-icons">save</i>
                </button>
            </div>
        </form>


    </div>


    <input type="hidden" value="{{ preguntas }}" id="preguntas" />


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
<script src="../../static/js/configuracionCuestionariosBanco.js"></script>

</html>