<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuestionario del banco</title>
</head>
<body>
    <form action="/obtener_preguntas_por_lenguaje" method="post">
        <select name="lenguaje">
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="C">Lenguaje C</option>
        </select>
        <input type="submit" value="Aceptar">
    </form>
    
</body>
</html>