<!doctype html>
<html lang="en">

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<head>
    <title>Creación de cuestionarios</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto colorGrey">

    <!--Cargador de la página -->

    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">Crear cuestionario.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Crear cuestionario.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>

    <section class="containerCreacionCuestionarios">
        <!--Opciones para crear el cuestionario en pantalla grande-->
        <section class="containerCreacionCuestionariosSon1">
            <section class="containerOpcionesFather">
                <h5>Tipos de pregunta</h5>
                <br>
                <div class="containerOpciones colorGreyWhiter shadow-2e">
                    <a class="waves-effect waves-light btn-large bordered5 color2 shadow-2e modal-trigger"
                        href="#modalOpccionMultipleCreacion"><i class="material-icons left md-32">abc</i>Opción
                        múltiple</a>
                    <a class="waves-effect waves-light btn-large bordered5 color2 shadow-2e modal-trigger"
                        href="#modalRellenarEspaciosCreacion"><i class="material-icons left md-32">draw</i>Rellenar
                        espacios</a>
                    <a class="waves-effect waves-light btn-large bordered5 color2 shadow-2e modal-trigger"
                        href="#modalEjerciciosCreacion"><i class="material-icons left md-32">code</i>Ejercicios</a>
                    <a class="waves-effect waves-light btn-large bordered5 color2 shadow-2e modal-trigger"
                        href="#modalArrastrarCreacion"><i
                            class="material-icons left md-32">swipe_vertical</i>Arrastrar</a>
                    <a class="waves-effect waves-light btn-large bordered5 color1 shadow-2e"
                        href="/crear_cuestionario_del_banco"><i class="material-icons left md-32">cloud</i>Banco de
                        preguntas</a>
                </div>
            </section>
        </section>

        <!--Opciones para cuestionario en pantalla pequeña-->
        <section class="containerOpcionesMobileFather">
            <section class="containerOpcionesMobile bordered1 colorGreyDarker">
                <a class="button1 waves-effect waves-light shadow-1 modal-trigger"
                    href="#modalOpccionMultipleCreacion"><i class="material-icons md-36 colorTextReverse">abc</i></a>
                <a class="button2 waves-effect waves-light shadow-1 modal-trigger"
                    href="#modalRellenarEspaciosCreacion"><i class="material-icons md-28 colorTextReverse">draw</i></a>
                <a class="button3 waves-effect waves-light shadow-1 modal-trigger" href="#modalEjerciciosCreacion"><i
                        class="material-icons md-28 colorTextReverse">code</i></a>
                <a class="button4 waves-effect waves-light shadow-1 modal-trigger" href="#modalArrastrarCreacion"><i
                        class="material-icons md-28 colorTextReverse">swipe_vertical</i></a>
                <a class="button5 waves-effect waves-light shadow-1" href="/crear_cuestionario_del_banco"><i
                        class="material-icons md-28 colorTextReverse">cloud</i></a>
            </section>
        </section>

        <!--Vista general del cuestionario-->
        <section class="containerCreacionCuestionariosSon2">
            <form action="/guardarCuestionarioJSON/{{id_profesor}}" method="post">
                <div class="" id="contenedorCuestionarioPreguntas">
                    <div class="tituloCuestionario">
                        <div class="contenedorTitulo hiddenElement">
                            <h5 id="tituloCuestionario">Titulo del cuestionario</h5>
                            <a class="waves-effect waves-light btn bordered5 color1 shadow-2e" href="#"
                                id="editarTitulo"><i class="material-icons">edit</i></a>
                        </div>
                        <div class="inputNombreCuestionario">
                            <input type="text" name="nombreCuestionario" id="nombreCuestionario"
                                class="browser-default inputNombre shadow-1 flow-text bordered5"
                                placeholder="Ingrese nombre del cuestionario">
                            <a class="waves-effect waves-light btn color1 shadow-2e" href="#" id="guardarTitulo"><i
                                    class="material-icons left">done</i>Listo</a>
                        </div>
                    </div>
                </div>
                <!--Modal 0: Guardado del JSON -->
                <section class="row">
                    <div id="modalJSON" class="modal colorGrey bordered2 modalAltura">
                        <div class="modal-content">
                            <h4>Generando archivo JSON</h4>
                            <hr>
                            <p>El cuestionario será almacenado como archivo JSON, usted puede guardar una copia del
                                cuestionario si asi lo desea.</p>
                                
                            <!--Preview del cuestionario-->
                            <h5><b>Preview de cuestionario JSON</b></h5>
                            <pre class="previewCodeContainer colorText bordered2" id="output"></pre>
                            <!--Input discreto para enviar contenido JSON a flask-->
                            <input type="hidden" name="jsonContentInput" id="jsonContentInput">
                            <!--Descarga del archivo-->
                            <a onclick="downloadJson()" class="waves-effect waves-light btn bordered5 color2 shadow-2e" id="descargarJSON" style="width: 100%; margin-bottom: 10px;">
                                <i class="material-icons left">data_object</i>Descargar</a>
                            <!--Almacenado del archivo (en BD y servidor)-->
                            <button type="submit" class="waves-effect waves-light btn bordered5 color1 shadow-2e" id="guardarJSON" style="width: 100%;">
                                <i class="material-icons left">save</i>Guardar</button>
                        </div>
                    </div>
                    </div>
                </section>
                <!--Boton para abrir el modal del json-->
                <div class="fixed-action-btn buttonSaveJSON">
                    <button href="#modalJSON" onclick="convertToJSON()" class="modal-trigger btn-floating btn-large color1">
                        <i class="large material-icons">save</i>
                    </button>
                </div>
            </form>
        </section>

        <!--Vista general del proceso-->
        <section class="containerCreacionCuestionariosSon3">
            <div class="containerProcesoImagen">
                <div id="circleOne" class="shadow-2e color3 colorText">1</div>
                <div id="lineMiddle" class="shadow-2e colorGreyDarker"></div>
                <div id="circleTwo" class="shadow-2e colorGreyDarker">2</div>
            </div>
            <div class="containerProcesoData">
                <div>Estructura principal</div>
                <div>Datos adicionales</div>
            </div>
        </section>
    </section>

    <!--
        ########################################
        Esta parte no es visible para el usuario a 
        menos de que quiera ingresar algún tipo de pregunta
        por eso son modals.
        ########################################
    -->
    <!--Contenido de la pagina MODALS-->
    <section class="row" id="contenedorGeneral">
        <!--
            ######################################################
            MODAL 1: OPCION MULTIPLE
            ######################################################
        -->
        <div id="modalOpccionMultipleCreacion" class="modal colorGrey bordered2 modalAltura">
            <div class="modal-content">
                <h4>Opción multiple</h4>
                <hr>
                <p>Diseñe preguntas de opción múltiples primero definiendo la preguntas, luego las opciones y por último
                    la opción correcta.</p>
                <hr>
                <form class="col s12" id="formModalOpccionMultipleCreacion">

                    <h5><b>Defina la pregunta</b></h5>
                    <p>Describa la pregunta o interrogante a responder.</p>
                    <!--Titulo de la pregunta -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">question_mark</i>
                            <textarea id="textAreaPreguntaOpccionMultipleCreacion"
                                class="materialize-textarea"></textarea>
                            <label for="textAreaPreguntaOpccionMultipleCreacion">Pregunta</label>
                        </div>
                    </div>

                    <h5><b>Defina las opciones</b></h5>
                    <p>Escriba las posibles opciones para la pregunta que se planteó y determine la respuesta correcta.
                    </p>
                    <!--Opcion A-->
                    <div class="row">
                        <div class="col s12" id="contenedorOpccionesOpccionMultipleModalCreacion">
                            <div class="row colorGreyWhiter bordered1 opcionContainer opcionContainerModal">
                                <!--Opcion de tomar A como correcta-->
                                <div class="col s12 m3 labelContainer">
                                    <label>
                                        <input name="grupoOpcionesModalOpcionMuliple" class="modalChecker" value="A"
                                            type="radio" checked />
                                        <span>Correcta</span>
                                    </label>
                                </div>
                                <!--Contenido de opcion A-->
                                <div class="col s12 m9">
                                    <h6><b>Opción A</b></h6>
                                    <textarea id="opcionACreacion"
                                        class="materialize-textarea opcionContainerModalContent"></textarea>
                                </div>
                            </div>

                            <!--Opcion B-->
                            <div class="row hide colorGreyWhiter bordered1 opcionContainer opcionContainerModal">
                                <!--Opcion de tomar B como correcta-->
                                <div class="col s12 m3 labelContainer">
                                    <label>
                                        <input name="grupoOpcionesModalOpcionMuliple" class="modalChecker" value="B"
                                            type="radio" />
                                        <span>Correcta</span>
                                    </label>
                                </div>
                                <!--Contenido de opcion B-->
                                <div class="col s12 m9">
                                    <h6><b>Opción B</b></h6>
                                    <textarea id="opcionBCreacion"
                                        class="materialize-textarea opcionContainerModalContent"></textarea>
                                </div>
                            </div>

                            <!--Opcion C-->
                            <div class="row hide colorGreyWhiter bordered1 opcionContainer opcionContainerModal">
                                <!--Opcion de tomar C como correcta-->
                                <div class="col s12 m3 labelContainer">
                                    <label>
                                        <input name="grupoOpcionesModalOpcionMuliple" class="modalChecker" value="C"
                                            type="radio" />
                                        <span>Correcta</span>
                                    </label>
                                </div>
                                <!--Contenido de opcion C-->
                                <div class="col s12 m9">
                                    <h6><b>Opción C</b></h6>
                                    <textarea id="opcionCCreacion"
                                        class="materialize-textarea opcionContainerModalContent"></textarea>
                                </div>
                            </div>

                            <!--Opcion D-->
                            <div class="row hide colorGreyWhiter bordered1 opcionContainer opcionContainerModal">
                                <!--Opcion de tomar D como correcta-->
                                <div class="col s12 m3 labelContainer">
                                    <p>
                                        <label>
                                            <input name="grupoOpcionesModalOpcionMuliple" class="modalChecker" value="D"
                                                type="radio" />
                                            <span>Correcta</span>
                                        </label>
                                    </p>
                                </div>
                                <!--Contenido de opcion D-->
                                <div class="col s12 m9">
                                    <h6><b>Opción D</b></h6>
                                    <textarea id="opcionDCreacion"
                                        class="materialize-textarea opcionContainerModalContent"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide-on-small-only">
                        <br><br><br><br><br>
                    </div>
                    <!--Guardar la pregunta en el cuestionario-->
                    <div class="botonesDelModal colorGrey">
                        <!--Guardar opciones-->
                        <div class="botonesDelModalSon1">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnGuardarModalOpcionMultipleCreacion"><i
                                    class="material-icons left">save</i>Guardar</a>
                        </div>
                        <!--Agregar opciones -->
                        <div class="botonesDelModalSon2">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnAgregarModalOpcionMultipleCreacion"><i
                                    class="material-icons left">add</i>Agregar</a>
                        </div>
                        <!--Eliminar opciones -->
                        <div class="botonesDelModalSon3">
                            <a class="waves-effect waves-light btn bordered5 color1 shadow-2e" href="#"
                                id="btnEliminarModalOpcionMultipleCreacion"><i
                                    class="material-icons left">cleaning_services</i>Limpiar todo</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--
            ######################################################
            MODAL 2: RELLENADO DE ESPACIOS
            ######################################################
        -->
        <div id="modalRellenarEspaciosCreacion" class="modal colorGrey bordered2 modalAltura">
            <div class="modal-content">
                <h4>Rellenar espacios</h4>
                <hr>
                <p>Ingrese un texto en el formulario, y posteriormente agregue los espacio en el texto de modo que el
                    estudiante pueda completar con la respuesta correcta.</p>
                <hr>
                <form class="col s12">
                    <h5><b>Defina el texto</b></h5>
                    <p>Escriba la estructura que tendra el texto.</p>
                    <!--Titulo de la pregunta -->
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">description</i>
                                <textarea id="texAreaModalRellenarEspaciosCreacion" class="materialize-textarea"
                                    placeholder="text"></textarea>
                                <label for="texAreaModalRellenarEspaciosCreacion">Escriba el texto a completar</label>
                            </div>
                        </div>
                    </div>

                    <h5><b>Defina los espacios</b></h5>
                    <p>Agregue espacio a la estructura del texto de modo que puedan ser acompletados por el estudiante.
                    </p>
                    <!--Contenedor de espacios de creacion de elementos del espacio -->
                    <div class="" id="contenedorOpccionEspaciosCreacion">

                    </div>
                    <div class="hide-on-small-only">
                        <br><br><br><br><br><br>
                    </div>
                    <br><br><br><br><br>
                    <!--Guardar la pregunta en el cuestionario-->
                    <div class="botonesDelModal colorGrey">
                        <!--Guardar opciones-->
                        <div class="botonesDelModalSon1">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnGuardarModalRellenarEspaciosCreacion"><i
                                    class="material-icons left">save</i>Guardar</a>
                        </div>
                        <!--Agregar opciones -->
                        <div class="botonesDelModalSon2">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnAgregarModalRellenarEspaciosCreacion"><i class="material-icons left">add</i>1
                                Espacio</a>
                        </div>
                        <!--Eliminar opciones -->
                        <div class="botonesDelModalSon3">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnEliminarModalRellenarEspaciosCreacion"><i class="material-icons left">remove</i>1
                                Espacio</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--
            ######################################################
            MODAL 3: EJERCICIOS PLANTEADOS POR EL PROFESOR
            ######################################################
        -->
        <div id="modalEjerciciosCreacion" class="modal colorGrey bordered2 modalAltura">
            <div class="modal-content">
                <h4>Ejercicios</h4>
                <hr>
                <p>Ingrese la descripción de un ejercicio y adjunte un código para retroalimentar el ejercicio una vez
                    que el estudiante suba su propuesta de solución al problema que usted planteó</p>
                <div class="row">
                    <form class="col s12">
                        <h5><b>Describa el ejercicio</b></h5>
                        <p>Escriba una descripción del problema/ejercicios a resolver para que sus alumnos conozcan a
                            que resultado llegar.</p>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">description</i>
                                <textarea id="descripcionProblema" class="materialize-textarea"></textarea>
                                <label for="descripcionProblema">Descripción del problema</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">play_arrow</i>
                                <textarea id="mediaProblema" class="materialize-textarea"></textarea>
                                <label for="mediaProblema">Imagen o video para el problema (url)</label>
                            </div>
                        </div>
                        <h5><b>Código de retroalimentación</b></h5>
                        <p>Escriba el código con la propuesta de solución para que el alumno pueda recibir
                            retroalimentación, puede anexar un documento para leer el código o inclusive adjuntar algún
                            enlace para
                            dar acceso a documentos en linea.
                        </p>
                        <br>
                        <div class="row colorGreyWhiter bordered2 contenedorOpcionesCodigo">
                            <div class="col s12">
                                <h6><b>Código de archivo</b></h6>
                            </div>
                            <div class="input-field col s12">
                                <input type="file" id="inputfile" class="hidden" />
                                <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                    id="leerArchivoEjercicio" style="width: 100%;"><i
                                        class="material-icons left">upload_file</i>
                                    <label for="inputfile" class="colorText">Elegir archivo</label></a>
                            </div>
                            <div class="col s12">
                                <h6><b>Adjuntar enlace a carpeta online (múltiples archivos)</b></h6>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">cloud_circle</i>
                                <input type="text" id="carpetaOnline"></input>
                                <label for="carpetaOnline">Enlace de carpeta</label>
                            </div>
                            <div class="col s12">
                                <h6><b>Código escrito manualmente</b></h6>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">history_edu</i>
                                <textarea id="codigoResultado" class="materialize-textarea"></textarea>
                                <label for="codigoResultado">Código a mano</label>
                            </div>
                        </div>
                        <h5><b>Vista previa del código</b></h5>
                        <div class="previewCodeContainer bordered2">
                            <code class="colorText">
                                <pre id="codigoMuestra">

                                </pre>
                            </code>
                        </div>

                        <br><br><br>
                        <!--Guardar la pregunta en el cuestionario-->
                        <div class="botonesDelModalDosBotones colorGrey">
                            <!--Guardar opciones-->
                            <div class="botonesDelModalSon1">
                                <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                    id="crearEjercicioButton"><i class="material-icons left">save</i>Guardar</a>
                            </div>
                            <!--Limpiar opciones -->
                            <div class="botonesDelModalSon2">
                                <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                    id="limpiarCasillasEjercicioButton"><i
                                        class="material-icons left">cleaning_services</i>
                                    Limpiar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--
            ######################################################
            MODAL 4: PARA ARRASTRAR LAS RESPUESTAS
            ######################################################
        -->
        <div id="modalArrastrarCreacion" class="modal colorGrey bordered2 modalAltura">
            <div class="modal-content">
                <h4>Arrastrar y ordenar</h4>
                <hr>
                <p>Ingrese en la columna A el concepto y en la columna B la definición (el concepto y la definición
                    deben estar a la misma altura)</p>
                <form class="col s12">
                    <h5><b>Descripción del ejercicio</b></h5>
                    <!--Titulo de la pregunta -->
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">description</i>
                                <textarea id="texAreaModalArrastrarCreacion" class="materialize-textarea"></textarea>
                                <label for="texAreaModalArrastrarCreacion">Descripción del ejercicio</label>
                            </div>
                        </div>
                    </div>

                    <!--Seccion para la creacion  de opcciones -->

                    <div class="row">
                        <div class="col s12 row" id="opccionesArrastarModalCreacion">
                            <div class="col s12 m6">
                                <h6 class="tituloColumnaModal"><b>Conceptos (A)</b></h6>
                            </div>
                            <div class='col s12 m6'>
                                <h6 class="tituloColumnaModal"><b>Definiciones (B)</b></h6>
                            </div>
                        </div>
                    </div>

                    <div class="hide-on-small-only">
                        <br><br><br>
                    </div>
                    <br><br><br><br><br><br>
                    <!--Guardar la pregunta en el cuestionario-->
                    <div class="botonesDelModal colorGrey">
                        <!--Guardar opciones-->
                        <div class="botonesDelModalSon1">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnGuardarModalArrastrarCreacion"><i class="material-icons left">save</i>Guardar</a>
                        </div>
                        <!--Agregar opciones -->
                        <div class="botonesDelModalSon2">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnAgregarsModalArrastrarCreacion"><i class="material-icons left">add</i>Agregar</a>
                        </div>
                        <!--Eliminar opciones -->
                        <div class="botonesDelModalSon3">
                            <a class="waves-effect waves-light btn bordered5 color2 shadow-2e" href="#"
                                id="btnEliminarModalArrastrarCreacion"><i
                                    class="material-icons left">remove</i>Eliminar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

<script src="../../static/js/configuracionCreacionCuestionario.js"></script>
<script>

</script>

</html>