<!DOCTYPE html>
<html lang="en">

<head>
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

    <title>Perfil de usuario</title>
</head>

<body class="ocultoc colorGreyWhiter">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">Perfil del docente.</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Perfil del docente.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>
    <br><br>

    <!--Header del icono de usuario-->
    <section class="containerMasterProfile">
        <div class="dataContainerUserMain">
            {% if datos %}
            <!-- Fondo con la foto elegida por el usuario -->
            <div class="fondoDinamico fondoPerfilDiseno shadow-3e" id="fondoDinamicoUsuario"
                style="background-image:url('{{datos[8]}}')">
                <div class="iconEditContainer">
                    <p>
                        <a href="#modal1"
                            class="modal-trigger colorGreyWhiter bordered2 shadow-2e colorTextReverse waves-effect"><i
                                class="material-icons">photo_library</i></a>
                    </p>
                    &nbsp;&nbsp;
                    <p>
                        <a href="/configuraciones"
                            class="modal-trigger colorGreyWhiter bordered2 shadow-2e colorTextReverse waves-effect"><i
                                class="material-icons">settings</i></a>
                    </p>
                </div>
            </div>

            <!-- Datos del cliente -->
            <div class="datos_perfil_container" id="datos_perfil_containerSelector">
                <div>
                    <a href="#modalFoto" class="modal-trigger">
                        <div class="fondoLinkOff" id="opcionesFoto"></div>
                    </a>
                    <img class="materialboxed fotoPerfil shadow-2e" src="../../static/images/docentes/{{datos[3]}}"
                        alt="foto del usuario">
                </div>
                <div class="allDataUserContainer">
                    <p class="colorTextReverse nombre_perfil" id="datos_perfil_containerNombrePerfil">{{datos[1]}}</p>
                    <p class="colorTextReverse alias_perfil" id="datos_perfil_containerAliasPerfil">{{datos[2]}}</p>
                    <p class="colorTextReverse descripcion_perfil flow-text" id="datos_perfil_containerDescPerfil">
                        {{datos[7]}}
                    </p>
                </div>
                {% endif %}
            </div>

            <!-- Modal con opciones de las fotos -->
            <div id="modalFoto" class="modal bottom-sheet" style="height: 30vh;">
                <div class="modal-content">
                    <h5>Opciones</h5>
                    <br>
                    <section class="row optionsFotoContainer">
                        <div class="col s12 m6">
                            <div class="cardConfiguracionesMain shadow-2 bordered1 colorGreyWhiter">
                                <div class="iconCardConfiguraciones color1 bordered5 shadow-2e"><i
                                        class="material-icons colorText">visibility</i></div>
                                <div class="textCardConfiguraciones colorTextReverse">Ver foto</div>
                            </div>
                        </div>
                        <a href="#modalSubirFoto" class="modal-trigger">
                            <div class="col s12 m6">
                                <div class="cardConfiguracionesMain shadow-2 bordered1 colorGreyWhiter">
                                    <div class="iconCardConfiguraciones color1 bordered5 shadow-2e"><i
                                            class="material-icons colorText">edit</i></div>
                                    <div class="textCardConfiguraciones colorTextReverse">Modificar foto</div>
                                </div>
                            </div>
                        </a>
                    </section>
                </div>
            </div>

            <!-- Modal con opciones de las fotos -->
            <div id="modalSubirFoto" class="modal bottom-sheet" style="height: 80vh;">
                <div class="modal-content">
                    <h5>Cambiar foto</h5>
                    <br>
                    <form enctype="multipart/form-data" action="/editarFotoPerfilDocente/{{datos[0]}}" method="post">
                        <section class="optionsFotoContainer">
                            <div class="centerAligner verticalAligner">
                                <div>
                                    <image id="profileImageProf" src="../../static/images/avatares/avatar_empty.jpg"
                                        style="width: 110px; height: 110px;" class="shadow-4" />
                                </div>
                                <br>
                                <div style="padding: 5px 40px 10px 40px;" class="centerAligner">
                                    <label for="imageUploadProf"
                                        class="centerAligner custom-file-upload color3 btn-large waves-effect waves-light button-rounded">
                                        <i class="fa fa-cloud-upload"></i> Elegir
                                    </label>
                                    <input id="imageUploadProf" name="foto" type="file" required />
                                    <button type="submit"
                                        class="btn-large color1 waves-effect waves-light button-rounded"><i
                                            class="material-icons">save</i></button>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>

            <!--Nombre del cliente scroll-->
            <div class="containerScrolled containerScrolledHide color3 shadow-2e" id="containerScrolled">
                <div class="containerScrolledSon">
                    {% if datos %}
                    <img class="fotoPerfilScrolled" src="../../static/images/docentes/{{datos[3]}}"
                        alt="foto del usuario">
                    <p class="nombreUsuarioScrolled titleMobile flow-text colorText">{{datos[1]}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Carousel de datos del cliente -->
        <!--Seccion para dispositivos moviles-->
        <section class="dataContainerFatherContainer colorGreyDarker">
            <div>
                {% if datos %}
                <div class="title-general">
                    <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Datos de la cuenta</h5>
                    <h3 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Datos de la cuenta</h3>
                </div>
                <div class="gridDataProfileContainer">
                    <div class="itemDataGridGeneral shadow-1" id="itemDataGrid-1">
                        <p class="iconDataProfile colorGrey"><i
                                class="material-icons md-24 colorTextReverse">email</i>Contacto</p>
                        <p class="textDataProfile colorGreyWhiter">{{datos[4]}}</p>
                    </div>
                    <div class="itemDataGridGeneral shadow-1" id="itemDataGrid-2">
                        <p class="iconDataProfile colorGrey"><i
                                class="material-icons md-24 colorTextReverse">school</i>Procedencia</p>
                        <p class="textDataProfile colorGreyWhiter">Instituto Politécnico Nacional</p>
                    </div>
                    <div class="itemDataGridGeneral shadow-1" id="itemDataGrid-3">
                        <p class="iconDataProfile colorGrey"><i
                                class="material-icons md-24 colorTextReverse">doorbell</i>Unidad</p>
                        <p class="textDataProfile colorGreyWhiter">{{datos[6]}}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </section>

    <!-- Modal para elegir el tema del perfil -->
    <div id="modal1" class="modal modal-fixed-footer bordered2" style="height: 80vh !important;">
        <div class="modal-content">
            <h5>Ingresar URL</h5>
            <div class="colorGreyWhiter addThemeOnlineContainer shadow-1">
                <input id="fotoThemeSelectorUrl" type="text" name="fotoThemeSelectorUrl" value="URL">
                <a id="fotoThemeSelectorUrlButton" href="#" class="waves-effect btn color3 button-rounded"><i
                        class="material-icons left">add_photo_alternate</i>Agregar</a>
            </div>
            <br>
            <h5>Temas offline</h5>
            <div class="fotosSelector">
                <div class="fotosIndividual">
                    <div class="row" id="popUpThemes">
                        <!-- Se insertan los elementos del selector de temas. -->
                    </div>
                </div>
            </div>
        </div>
        <form method="POST" id="fondoForm" action="/guardarFondo/{{datos[0]}}">
            <input type="hidden" id="guardarFondoInput" name="fondo">
            <button type="button" id="guardarFondoButton" onclick="submitForm()" style="display: none;"></button>
        </form>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
    </div>

    <!--Boton para ir hacia arriba-->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large color1" href="/editarPerfilProfesor/{{datos[0]}}">
            <i class="large material-icons">edit</i>
        </a>
    </div>
</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<script src="../../static/js/insertThemes.js"></script>
<script src="../../static/js/operacionesOpcionesFoto.js"></script>

</html>