.bordered1{
    border-radius: 10px !important;
}

.bordered2{
    border-radius: 20px !important;
}

.bordered3{
    border-radius: 30px !important;
}

.bordered4{
    border-radius: 40px !important;
}

.bordered5{
    border-radius: 50px !important;
}