.cardConfiguracionesMain, .iconCardConfiguraciones, .textCardConfiguraciones{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.textCardConfiguraciones{
    justify-content: left !important;
}

.cardConfiguracionesMainPadre{
    margin-bottom: 20px;
}

.cardConfiguracionesMain{
    padding: 10px;
}


.iconCardConfiguraciones{
    width: 25% !important;
    padding: 7px 5px;
}

.textCardConfiguraciones{
    width: 75% !important;
    font-size: 15px;
    font-weight: 500;
    padding-left: 10px;
}


/*Se ajustan los estilos de los contenedores de las configuraciones*/

.configuracionesMainBodyAdapterGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
    padding: 20px;
}

@media screen and (min-width: 1200px){
    .configuracionesMainBodyAdapterGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
        padding: 20px;
    }
}