.cardMain{
    height: 170px;

    font-size: 20px;
    margin-bottom: 20px;

    border-radius: 20px;

    /*El fondo esta en los estilos*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorCard{
    padding: 30px;
}


/*Cards carousel*/

.cardCarouselMainHead{
    padding: 30px 10px 30px 10px;
    height: 200px;
    width: 250px !important;

    /*El fondo esta en los estilos*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px 20px 0 0;
}

.cardCarouselMainHead > p > i{
    font-size: 80px;
    color: #fff;
}

.cardCarouselMainBody{
    padding: 30px 10px 30px 10px;
    height: 50px;
    width: 250px !important;

    font-size: 18px;
    font-weight: 600;
}

.cardCarouselMainFooter{
    padding: 30px 30px 35px 30px;
    height: 100px;
    width: 250px !important;

    font-size: 14px;
    font-weight: 400;

    border-radius: 0 0 20px 20px;
}

.cardMainCarouselContainer{
    width: auto !important;
    padding: 0 !important;
    margin: 0 10px 0 10px;
}

.containerCardsDesktop{
    padding: 20px;
}

.containerCardsDesktop > div{
    margin: 0 20px 0 20px;
}

.owl-stage-outer{
    padding-bottom: 7px;
}

/*Cards para el panel central con tamaño de escritorio*/

.cardMainDesktopPanel{
    width: 390px;
    padding: 0px;
    margin: 0 10px 30px 10px;
}

/*
** 
*/

@media only screen and (min-width: 1200px) {
    .cardMainDesktopPanel {
        width: 550px;
    }
  }

  @media only screen and (min-width: 1500px) {
    .cardMainDesktopPanel {
        width: 650px;
    }
  }
  

.cardMainDesktopPanelHead{
    height: 70px;

    font-size: 28px;
    font-weight: 600;
    color: #fff;

    border-radius: 20px 20px 0 0;

    /*En la hoja de estilos*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.cardMainDesktopPanelLeft{
    height: 110px;
    border-radius: 0 0 0 20px;
    width: 20%;
}


.cardMainDesktopPanelLeft > p > i{
    font-size: 50px !important;
}

.cardMainDesktopPanelRight{
    height: 110px;
    border-radius: 0 0 20px 0;
    font-size: 18px;
    width: 80%;

    padding-left: 20px;
    padding-right: 20px;
}

/*CARDS DE LA COMUNIDAD*/

.cardComunidadBusqueda{
    padding: 6px;
    margin: 20px;
    width: 200px;
}

.cardBackgroundBusqueda{
    padding: 12px;
    width: 100%;
    height: 150px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.cardTitleBusqueda{
    margin-top: 4px;
}

.cardTitleBusqueda > div{
    font-weight: 600 !important;
}

.cardUserBusqueda{
    margin-top: 4px;
}

.imageUserBusqueda{
    width: 40px;
    height: auto;
}

.imageUserBusqueda > img{
    width: 40px;
    height: auto;
}