.cardMain{
    height: 170px;

    font-size: 20px;
    margin-bottom: 20px;

    border-radius: 20px;

    background-image: url('../images/card.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorCard{
    padding: 30px;
}


/*Cards carousel*/

.cardCarouselMainHead{
    padding: 30px 10px 30px 10px;
    height: 200px;
    width: 250px !important;

    background-image: url('../images/card.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: ;
    background-size: cover;

    border-radius: 20px 20px 0 0;
}

.cardCarouselMainHead > p > i{
    font-size: 80px;
    color: #fff;
}

.cardCarouselMainBody{
    padding: 30px 10px 30px 10px;
    height: 50px;
    width: 250px !important;

    font-size: 18px;
    font-weight: 600;
}

.cardCarouselMainFooter{
    padding: 30px 30px 35px 30px;
    height: 100px;
    width: 250px !important;

    font-size: 14px;
    font-weight: 400;

    border-radius: 0 0 20px 20px;
}

.cardMainCarouselContainer{
    width: auto !important;
    padding: 0 !important;
}

.containerCardsDesktop{
    padding: 20px;
}

.containerCardsDesktop > div{
    margin: 0 20px 0 20px;
}

.owl-stage-outer{
    padding-bottom: 30px;
}

/*Cards para el panel central con tamaño de escritorio*/

.cardMainDesktopPanel{
    width: 100%;
    padding: 0px;
    margin: 0 40px 40px 40px;
}

.cardMainDesktopPanelHead{
    height: 70px;

    font-size: 28px;
    font-weight: 600;
    color: #fff;

    border-radius: 20px 20px 0 0;

    background-image: url('../images/card.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.cardMainDesktopPanelLeft{
    height: 110px;
    border-radius: 0 0 0 20px;
    width: 20%;
}


.cardMainDesktopPanelLeft > p > i{
    font-size: 50px;
}

.cardMainDesktopPanelRight{
    height: 110px;
    border-radius: 0 0 20px 0;
    font-size: 18px;
    width: 80%;

    padding-left: 20px;
    padding-right: 20px;
}