
@keyframes ldio-m7o9j4k1mye {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
.ldio-m7o9j4k1mye > div > div {
  transform-origin: 88.5px 88.5px;
  animation: ldio-m7o9j4k1mye 2.4390243902439024s linear infinite;
  opacity: 1
}
.ldio-m7o9j4k1mye > div > div > div {
  position: absolute;
  left: 19.47px;
  top: 19.47px;
  width: 69.03px;
  height: 69.03px;
  border-radius: 69.03px 0 0 0;
  transform-origin: 88.5px 88.5px
}.ldio-m7o9j4k1mye > div div:nth-child(1) {
  animation-duration: 0.6097560975609756s
}
.ldio-m7o9j4k1mye > div div:nth-child(1) > div {
  background: #353535;
  transform: rotate(0deg);
}.ldio-m7o9j4k1mye > div div:nth-child(2) {
  animation-duration: 0.8130081300813008s
}
.ldio-m7o9j4k1mye > div div:nth-child(2) > div {
  background: #666666;
  transform: rotate(0deg);
}.ldio-m7o9j4k1mye > div div:nth-child(3) {
  animation-duration: 1.2195121951219512s
}
.ldio-m7o9j4k1mye > div div:nth-child(3) > div {
  background: #9b9b9b;
  transform: rotate(0deg);
}.ldio-m7o9j4k1mye > div div:nth-child(4) {
  animation-duration: 2.4390243902439024s
}
.ldio-m7o9j4k1mye > div div:nth-child(4) > div {
  background: #d4d4d4;
  transform: rotate(0deg);
}
.loadingio-spinner-wedges-kr1h3zpnf0l {
  width: 177px;
  height: 177px;
  display: inline-block;
  overflow: hidden;
}
.ldio-m7o9j4k1mye {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-m7o9j4k1mye div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.centrado{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20000 !important;
}

.oculto{
    overflow: hidden;
}