.red_ours_color{
    background-color: #0e2850;
}

.bistre_ours_color{
    background-color: #140f07;
}

.cooper_ours_color{
    background-color: #395bae;
}

.cooper_ours_color_dark{
    background-color: #0e2850;
}

.cream_ours_color{
    background-color: #dce3fa;
}

.cream_ours_color_dark{
    background-color: #adb7d4;
}

.cultured_ours_color{
    background-color: #ccd7f7;
}