.headerComunidad{
    width: 100%;
    height: 80px;

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: initial;
}

.contenedorBuscador{
    width: 100%;
}

#buscadorInput{
    width: 80%;
    padding: 12px 20px;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #fff;
    outline: none !important;
    border-radius: 500px;
}

.contenedorBuscador{
    position: relative;
    top: -30px;
}

