.container_browser{
    position: relative;
    z-index: 19999;
    
}

.headerComunidad{
    width: 100%;
    height: 80px;

    position: absolute;

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: initial;
    transition: all .2s ease-in-out;
}

.box_browser{
    width:70%;
}

.buscador_input_tres{
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    display: inline-block;
    border: #fff solid 1px;
    color: #000;
    outline: none !important;
    border-radius: 500px;
    transition: all .2s ease-in-out;
}

.contenedorBuscador{
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 55px;

    transition: all .3s ease-in-out;
}

.mainBodyAdicionalComunidadGrande{
    padding: 10px;
}

.icon_browser_mine, .icon_search_voice_mine{
    display: none;
}

/*Para el buscador cuando hacemos sticky*/
.contenedorBuscador_sticky{
    position: fixed;
    top: 0;
    z-index: 19999;
    width: 100%;
}

.headerComunidad_sticky{
    height: 0;
    transition: all .2s ease-in-out;
}

.contenedorBuscador_fixed{
    height: 64px;
    width: 100%;
    padding: 5px 10px;

    transition: all .5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buscador_input_tres_sticky{
    width: 95%;
    padding: 8px 20px;
    margin: 0px 10px 0 5px;
    font-size: 15px;
    display: inline-block;
    border: #fff solid 1px;
    color: #000;
    outline: none !important;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.icon_browser_mine_sticky{
    width: 10%;
    height: 64px;
    font-size: 7px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_search_voice_mine_sticky{
    width: 10%;
    height: 36px;
    margin: 10px;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_recomendaciones_sticky{
    position: sticky !important;
    padding: 10px 0px 5px 0px;
    z-index: 19999;
    top: 62px;
    transition: all .2s ease-in-out;
}