.contenedorAnalisisPorcentage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.contenedorAnalisisPorcentage_son1{
    padding: 5px 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dato_son1{
    font-size: 25px;
    font-weight: 700;
}

.contenedorAnalisisPorcentage_son2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.significado_dato_son2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

.simbologiaBarra{
    width: 40px !important;
    height: 25px !important;
}

.textoSignificado{
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
}

.contenedorAnalisisPorcentage_son3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
}

/*Contenedores con la informacion*/
.containerInfoBarAnalisisAprobacion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 8px 10px;
}

.titleInfoBarAnalisisAprobacion{
    font-size: 22px;
    font-weight: 600;
}

.barContainerInfoBarAnalisisAprobacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.aprobadosBar_analisis{
    width: 30%;
    height: 30px;
    padding: 4px 10px;
    font-weight: 700;
    border-radius: 5px 0 0 5px;
}

.reprobadosBar_analisis{
    width: 70%;
    height: 30px;
    padding: 4px 10px;
    font-weight: 700;
    border-radius: 0 5px 5px 0;
}