.paddingerStyleNotificacion{
	display: flex;
    justify-content: left;
    align-items: center;

    padding: 10px 15px;
    height: auto;
    width: 100%;
}

.textNotificationStyle{
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: -2px;
}

.gotoMoreNotifications{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-image: url('../images/fondos/black/black_13.png');
}

.gotoMoreNotifications_text{
    font-size: 26px;
    font-weight: 700;
    text-decoration: underline;
}

/*Es el contador de las notificaciones en la parte de abajo*/
#contadorNotificacion{
	display: flex;
	justify-content: center;
	align-content: center;

	position: absolute;
	top: 15px;
	right: 5px;
	z-index: 1000;

	font-weight: 600;

	width: 20px !important;
}