.previewResultadosCuestionario {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 1000px) {
    .previewResultadosCuestionario {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        padding: 10px;
    }
}

.previewResultadosCuestionario .previewResultadosCuestionarioSon1,
.previewResultadosCuestionario .previewResultadosCuestionarioSon2 {
    padding: 0 20px;
    margin-top: 10px;
}


.previewResultadosCuestionarioSon1Grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 30px;
}

.calificacionContainer,
.puntosContainer,
.estadoRetraso {
    width: 100%;
    height: auto;
    padding: 0px 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pendientesEstado {
    width: 100%;
    height: auto;
    padding: 10px 25px !important;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: auto;

}

.temporalFixedContainer {
    position: fixed;
}

.calificacionContainer p,
.puntosContainer p,
.estadoRetraso p,
.pendientesEstado p {
    font-size: 15.5px;
    font-weight: 600;
}

.pendientesEstado p {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1150px) {
    .temporalFixedContainer {
        position: static;
    }
}

@media screen and (max-width: 1000px) {
    .previewResultadosCuestionarioSon1Grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "area1 area2"
            "area3 area3"
            "area4 area4";
    }

    .calificacionContainer {
        padding: 0;
        grid-area: area3;
    }

    .puntosContainer {
        padding: 0;
        grid-area: area1;
    }

    .estadoRetraso {
        padding: 0;
        grid-area: area2;
    }

    .pendientesEstado {
        padding: 0;
        grid-area: area4;
    }

    .calificacionContainer p,
    .puntosContainer p,
    .estadoRetraso p {
        font-size: 20px;
        font-weight: 600;
    }

    .temporalFixedContainer {
        position: static;
    }
}


@media screen and (max-width: 600px) {
    .previewResultadosCuestionarioSon1Grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "area1 area2"
            "area3 area3"
            "area4 area4";
    }

    .calificacionContainer {
        padding: 0;
        grid-area: area3;
    }

    .puntosContainer {
        padding: 0;
        grid-area: area1;
    }

    .estadoRetraso {
        padding: 0;
        grid-area: area2;
    }

    .pendientesEstado {
        padding: 0;
        grid-area: area4;
    }

    .calificacionContainer p,
    .puntosContainer p,
    .estadoRetraso p {
        font-size: 16px;
        font-weight: 700;
    }
}

@media screen and (max-width: 420px) {
    .previewResultadosCuestionarioSon1Grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "area1"
            "area3"
            "area2"
            "area4";
    }

    .calificacionContainer {
        padding: 0;
        grid-area: area3;
    }

    .puntosContainer {
        padding: 0;
        grid-area: area1;
    }

    .estadoRetraso {
        padding: 0;
        grid-area: area2;
    }

    .pendientesEstado {
        padding: 0;
        grid-area: area4;
    }

    .calificacionContainer p,
    .puntosContainer p,
    .estadoRetraso p {
        font-size: 16px;
        font-weight: 700;
    }
}

.previewPreguntasResultadosMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin: 5px 20px 20px 20px;
    padding-top: 15px;
}

@media screen and (max-width: 1600px) {
    .previewPreguntasResultadosMain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin: 5px 150px 20px 150px;
    }
}

@media screen and (max-width: 1400px) {
    .previewPreguntasResultadosMain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin: 5px 100px 20px 100px;
    }
}

@media screen and (max-width: 1000px) {
    .previewPreguntasResultadosMain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin: 5px 30px 20px 30px;
    }
}

@media screen and (max-width: 600px) {
    .previewPreguntasResultadosMain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin: 5px 10px 20px 10px;
    }
}

.preguntaContainerIndividualPreviewRespuestas {
    padding: 10px 20px;
}

.respuestaFinalBoxes {
    padding: 5px 15px 10px 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.respuestaBox {
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: 600;
}

.badAnswerBox {
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: 600;
}

.countAnswerBox,
.countAnswerBoxRight {
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
}

.contadorBoxAnswerArrastrar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}