/*Seccion de parte principal de operaciones*/
.fixedTitleOperationMain {
    position: fixed;
    z-index: 20;
}

.fixedTitleOperationMain h4 {
    margin: 10px 0 10px 0 !important;
}

/*Contenedor principal */
.operationContainerPrincipal {
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "area1 area2"
    ;
}

.operationSideNav {
    grid-area: area1;
    width: 25%;
    margin-top: 64px;
    z-index: 100;
    position: fixed;
}

.operationMainNav {
    grid-area: area2;
    width: 100%;
    margin-top: 64px;
}

@media screen and (min-width: 1400px) {
    .operationContainerPrincipal {
        grid-template-columns: 1fr 5fr;
        grid-template-rows: auto;
        grid-template-areas:
            "area1 area2"
        ;
    }

    .operationSideNav {
        width: calc(100% / 6);
    }
}

@media screen and (max-width: 1000px) {
    .operationContainerPrincipal {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "area2"
        ;
    }

    .operationSideNav {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .operationContainerPrincipal {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "area2"
        ;
    }

    .operationSideNav {
        display: none;
        margin-top: 60px;
    }

    .operationMainNav {
        grid-area: area2;
        margin-top: 56px;
    }
}


.operationSideNav>.infoUserOperation {
    width: 100%;
    height: 180px;
    padding: 20px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.operationSideNav div>.imagenOperationContainer,
.operationSideNav div>.dataUserOperationContainer {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.operationSideNav div>.imagenOperationContainer>img {
    width: 30%;
    border-radius: 500px;
    border: 3px solid #fff;
}

.operationsContainerSecondarySideNav {
    width: 100%;
    padding: 10px;
    height: calc(100vh - 244px);
    display: flex;
    flex-direction: column;
    z-index: -200;
}

.operationButtonSideNav {
    padding: 10px 13px;

    display: flex;
    flex-direction: column;
}

.operationButtonSideNav a {
    margin: 10px;
    border-radius: 500px;
}

/*Cards de los grupos*/
.contenedorCardsGruposOperation {
    margin-top: 59.72px;
    padding: 20px 40px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;

    gap: 20px;
}

@media screen and (min-width: 1400px) {
    .contenedorCardsGruposOperation {
        margin-top: 65px;
        padding: 20px 25px;

        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .contenedorCardsGruposOperation {
        margin-top: 44.86px;
        padding: 20px 25px;

        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 20px;
    }
}

.cardOperationGroup {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;
}

.cardOperationGroup div {
    width: 100%;
}

.sectionCardOperationTitle {
    border-radius: 20px 20px 0 0;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.sectionCardOperationTitle:nth-child(1) {
    padding-left: 20px;
}

.studentCountCardOperation {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.studentCountCardOperation i {
    margin-right: 5px;
    margin-bottom: 3px;
}

.sectionCardOperationTitle h5 {
    margin: 10px 0 15px 0;
}

.sectionCardOperationDescription {
    padding: 0 0 0 20px;
}

.sectionCardOperationActions {
    border-radius: 0 0 20px 20px;
    padding: 10px 40px 10px 40px !important;
    height: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

/*Navbar de la parte inferior*/

.navbarOperationGroup {
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 200000;
    position: fixed;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100%;

    justify-items: center;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .navbarOperationGroup {
        display: none;
    }  
}

.navbarOperationGroupCircle{
    width: 65px;
    height: 65px;
    border-radius: 500px;
    position: relative;
    top: -25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarOperationGroupCircle div{
    width: 100%;
    height: 100%;
    border-radius: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/*Contador operaciones*/
.contadorElementosCardOperation{
    border-radius: 20px;
    padding: 15px;
}

.contadorElementosCardOperation p{
    font-weight: 700;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 500px;
}