.previewResultadosCuestionario{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 1000px) {
    .previewResultadosCuestionario{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        padding: 10px;
    }
}

.previewResultadosCuestionario .previewResultadosCuestionarioSon1,
.previewResultadosCuestionario .previewResultadosCuestionarioSon2{
    padding: 0 20px;
}

.previewResultadosCuestionarioSon1Grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 30px;
}

.calificacionContainer, .puntosContainer{
    width: 100%;
    height: auto;
    padding: 10px 20px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calificacionContainer p, .puntosContainer p{
    font-size: 30px;
    font-weight: 700;
}

@media screen and (max-width: 1000px) {
    .previewResultadosCuestionarioSon1Grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .calificacionContainer, .puntosContainer{
        padding: 5px 15px;
    }

    .calificacionContainer p, .puntosContainer p{
        font-size: 25px;
        font-weight: 600;
    }
}


@media screen and (max-width: 600px) {
    .previewResultadosCuestionarioSon1Grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .calificacionContainer, .puntosContainer{
        padding: 0;
    }

    .calificacionContainer p, .puntosContainer p{
        font-size: 20px;
        font-weight: 700;
    }
}

.previewPreguntasResultadosMain{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin: 5px 200px 20px 200px;
}

@media screen and (max-width: 1600px) {
    .previewPreguntasResultadosMain{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin: 5px 150px 20px 150px;
    }
}

@media screen and (max-width: 1400px) {
    .previewPreguntasResultadosMain{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin: 5px 100px 20px 100px;
    }
}

@media screen and (max-width: 1000px) {
    .previewPreguntasResultadosMain{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin: 5px 30px 20px 30px;
    }
}

@media screen and (max-width: 600px) {
    .previewPreguntasResultadosMain{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin: 5px 10px 20px 10px;
    }
}

.preguntaContainerIndividualPreviewRespuestas{
    padding: 10px 20px;
}

.respuestaFinalBoxes{
    padding: 5px 15px 10px 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.respuestaBox{
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: 600;
}

.badAnswerBox{
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: 600;
}

.countAnswerBox,.countAnswerBoxRight{
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
}

.contadorBoxAnswerArrastrar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 20px;
}

