/*Seccion de parte principal de operaciones*/
.fixedTitleOperationMain {
    position: fixed;
    z-index: 20;
}

.fixedTitleOperationMain h4 {
    margin: 10px 0 10px 0 !important;
}

/*Contenedor principal */
.operationContainerPrincipal {
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "area1 area2"
    ;
}

.operationSideNav {
    grid-area: area1;
    width: 25%;
    margin-top: 64px;
    z-index: 100;
    position: fixed;
}

.operationMainNav {
    grid-area: area2;
    width: 100%;
    margin-top: 64px;
}

@media screen and (min-width: 1400px) {
    .operationContainerPrincipal {
        grid-template-columns: 1fr 5fr;
        grid-template-rows: auto;
        grid-template-areas:
            "area1 area2"
        ;
    }

    .operationSideNav {
        width: calc(100% / 6);
    }
}

@media screen and (max-width: 1000px) {
    .operationContainerPrincipal {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "area2"
        ;
    }

    .operationSideNav {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .operationContainerPrincipal {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "area2"
        ;
    }

    .operationSideNav {
        display: none;
        margin-top: 60px;
    }

    .operationMainNav {
        grid-area: area2;
        margin-top: 56px;
    }
}


.operationSideNav>.infoUserOperation {
    width: 100%;
    height: 180px;
    padding: 20px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.operationSideNav div>.imagenOperationContainer,
.operationSideNav div>.dataUserOperationContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.dataUserOperationContainer > p{
    margin: 0;
}

.operationSideNav div>.imagenOperationContainer>img {
    width: 30%;
    border-radius: 500px;
    border: 3px solid #fff;
    margin-bottom: 20px;
}

.operationsContainerSecondarySideNav {
    width: 100%;
    padding: 10px;
    height: calc(100vh - 244px);
    display: flex;
    flex-direction: column;
    z-index: -200;
}

.operationButtonSideNav {
    padding: 10px 22px;

    display: flex;
    flex-direction: column;
}

.operationButtonSideNav a {
    margin: 10px;
    border-radius: 500px;
}

.buscadorGruposGestor {
    box-sizing: border-box !important;
    padding: 4px 15px !important;
    font-size: 18px !important;
    background-color: rgb(204, 204, 204) !important;
    color: #000 !important;
    outline: none !important;
    border-radius: 10px !important;
    transition: all .2s ease-in-out !important;
}

/*Cards de los grupos*/
.contenedorCardsGruposOperation {
    margin-top: 5px;
    padding: 0px 40px 20px 40px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;

    gap: 20px;
}

.contenedorCardsGruposOperationList {  /*Para vista de lista*/
    margin-top: 5px;
    padding: 0px 40px;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    gap: 10px;
}

@media screen and (min-width: 1400px) {
    .contenedorCardsGruposOperation {
        margin-top: 5px;
        padding: 0px 50px;

        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .contenedorCardsGruposOperation {
        margin-top: 44.86px;
        padding: 20px 25px;

        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .contenedorCardsGruposOperation {
        margin-bottom: 100px;
    }
}

.cardOperationGroup {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;
}

.cardOperationGroupList{ /*para la lista*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 500px;
}

.cardOperationGroup div {
    width: 100%;
}

.sectionCardOperationTitle {
    border-radius: 20px 20px 0 0;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    justify-content: center;
    align-content: center;
}

.sectionCardOperationTitleList { /*Para la lista*/
    border-radius: 500px 0 0 500px;
    height: 60px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}

.sectionCardOperationTitle:nth-child(1) {
    padding-left: 20px;
}

.studentCountCardOperation {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.studentCountCardOperation i {
    margin-right: 5px;
    margin-bottom: 3px;
}

.sectionCardOperationTitle h5 {
    margin: 10px 0 15px 0;
}

.sectionCardOperationDescription {
    padding: 0 0 0 20px;
}

.sectionCardOperationDescriptionList{ /*Para las listas*/
    display: none;
}

.sectionCardOperationActions {
    border-radius: 0 0 20px 20px;
    padding: 10px 40px 10px 40px !important;
    height: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.sectionCardOperationActionsList { /*Estilos para la lista*/
    border-radius: 0 500px 500px 0;
    padding: 10px 40px 10px 40px !important;
    height: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

/*Navbar de la parte inferior*/

.navbarOperationGroup {
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 200;
    position: fixed;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100%;

    justify-items: center;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .navbarOperationGroup {
        display: none;
    }  
}

.navbarOperationGroupCircle{
    width: 65px;
    height: 65px;
    border-radius: 500px;
    position: relative;
    top: -25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarOperationGroupCircle div{
    width: 100%;
    height: 100%;
    border-radius: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/*Contador operaciones*/
.contadorElementosCardOperation{
    border-radius: 20px;
    padding: 15px;
}

.contadorElementosCardOperation p{
    font-weight: 700;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 500px;
}

/*Boton para las multiples vistas*/
.viewsContainerOperation{
    margin-top: 63.27px;
    width: 100%;
    height: 80px;
    padding-left: 20px;

    display: flex;
    justify-content: left;
    align-items: center;
}

.viewsContainerOperation div{
    width: 100px;
}

@media screen and (max-width: 600px) {
    .viewsContainerOperation{
        width: auto;
        height: auto;
        position: fixed;

        z-index: 2000;

        top: -55px;
        right: -20px;
    }

    #buttonVistasAlternateGroupMobile{
        width: 70px;
    }
}


/*Estilos del buscador de dispositivos moviles*/
/*
    Estos estilos son del archivo de comunidad
*/
.container_browser{
    position: relative;
    z-index: 0;
    margin-bottom: 170px;
}

@media screen and (min-width: 0px) {
    .container_browser{
        margin-top: 44.86px;
    }
}

@media screen and (min-width: 600px) {
    .container_browser{
        margin-top: 59.72px;
    }
}

.headerComunidad{
    width: 100%;
    height: 80px;

    position: absolute;

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: initial;
}

.box_browser{
    width:85%;
}

.buscador_input_tres{
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    display: inline-block;
    border: #fff solid 1px;
    color: #000;
    outline: none !important;
    border-radius: 500px;
}

.contenedorBuscador{
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 55px;
}

.mainBodyAdicionalComunidadGrande{
    padding: 10px;
}

.icon_browser_mine, .icon_search_voice_mine{
    display: none;
}

/*Para el buscador cuando hacemos sticky*/
.contenedorBuscador_sticky{
    position: fixed;
    top: 0;
    z-index: 19999;
    width: 100%;
}

.headerComunidad_sticky{
    height: 0;
    transition: all .2s ease-in-out;
}

.contenedorBuscador_fixed{
    height: 64px;
    width: 100%;
    padding: 5px 10px;

    transition: all .5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .contenedorBuscador_fixed{
        height: 56px;
    }
}

.buscador_input_tres_sticky{
    width: 95%;
    padding: 4px 23px;
    margin: 0px 10px 0 5px;
    font-size: 12px;
    display: inline-block;
    border: #fff solid 1px;
    color: #000;
    outline: none !important;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.icon_browser_mine_sticky{
    width: 10%;
    height: 36px;
    margin: 10px;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_search_voice_mine_sticky{
    width: 10%;
    height: 36px;
    margin: 10px;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .icon_search_voice_mine_sticky{
        display: none;
    }
}