.fondoPerfilDiseno{
    width: 100%;
    height: 110px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media only screen and (min-width: 600px) {
    .fondoPerfilDiseno{
        height: 150px;
    }
}

@media only screen and (min-width: 1000px) {
    .fondoPerfilDiseno{
        height: 200px;
    }
}

.fotoPerfil{
    width: 120px;
    border-radius: 100%;
}

.datos_perfil_container{
    width: 100%;
    top: -60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nombre_perfil, .alias_perfil, .descripcion_perfil{
    margin: 0;
    text-align: center;
}

.nombre_perfil{
    width: 100%;
    font-size: 25px;
    font-weight: 700;
}

.alias_perfil{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}

.descripcion_perfil{
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    padding: 5px 20px;
}


.containerScrolled{
    width: 100%;
    height: 60px;
    top: 56px;
    position: fixed;
    z-index: 10;
}


@media screen and (min-width: 600px){
    .containerScrolled{
        top: 64px;
    }
}

.containerScrolledHide{
    top: -60px;
    z-index: 10;
}

.containerScrolledSon{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.containerScrolledSon img{
    width: 37px;
    height: 37px;
    margin: 5px 10px 5px 20px;
}

.containerScrolledSon p{
    
}

/*Boton para elegir el fondo de perfil*/

.iconEditContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: left;
    padding: 20px;
}

.iconEditContainer > p{
    height: 50px;
}

.iconEditContainer > p > a{
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto_fondo_picker{
    /*width: 100%;*/
    height: 70px;
    margin: 4px 4px;
    box-sizing: border-box;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 600px) {
    .foto_fondo_picker{
        height: 100px;
    }
}

@media only screen and (min-width: 1000px) {
    .foto_fondo_picker{
        height: 120px;
    }
}

