/*Texto pequeño*/
.textoInfoPoliticasMini{
    font-size: 15px !important;
    font-weight: 600;
    text-align: justify;
    text-justify: inter-word;
}

.politicasImportantInfo{
    padding: 4px 15px;
    border-radius: 20px;
    font-weight: 700;
}

/*Estructura del encabezado con imagen*/

.containerImagenPoliticaCookies{
    width: 18%;
}

.imagenPoliticaCookies{
    width: 100%;
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    .containerImagenPoliticaCookies{
        display: none;
    }
}

/*Estructura para el texto*/

.politicasMainContainer{
    width: 100%;
    height: auto;

    padding: 50px 50px;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}

.politicasContainerInfo{
    padding: 20px 10px;
    border-radius: 20px;
}

.contentPoliticasTexto{
    padding: 10px 25px;
    margin: 20px 35px;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .politicasMainContainer{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 30px 30px;
        box-sizing: border-box;
    }

    .politicasContainerInfo{
        padding: 0px 0px;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .contentPoliticasTexto{
        padding: 10px 10px;
        margin: 10px 4px;
        border-radius: 20px;
        background-color: transparent !important;
    }
}

.politicasContainerMenu div{
    position: fixed;
}

@media screen and (max-width: 750px) {
    .politicasContainerMenu{
        position: none;
    }
}

.politicasContainerMenu div li a{
    font-family: Roboto;
    font-weight: 700 !important; 
    font-size: 16px;   
}

.titleSectionPoliticasMenu{
    font-family: Roboto;
    font-size: 22px;
}