
<section class="centrado colorGrey" id="onload">
    <div class="loadingio-spinner-wedges-kr1h3zpnf0l colorGrey">
        <div class="ldio-m7o9j4k1mye">
            <div>
                <div>
                    <div class="color4"></div>
                </div>
                <div>
                    <div class="color3"></div>
                </div>
                <div>
                    <div class="color2"></div>
                </div>
                <div>
                    <div class="color1"></div>
                </div>
            </div>
        </div>
    </div>
</section>