<!-- Meta datos -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Encabezado link-->
<link rel="stylesheet" href="../static/css/styles.css">
<link rel="stylesheet" href="../static/css/cardsMain.css">
<link rel="stylesheet" href="../static/css/materialize.css">
<link rel="stylesheet" href="../static/css/sombras.css">
<link rel="stylesheet" href="" id="theme">
<link href="http://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">