<!-- Meta datos -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/jpg" href="../../static/images/favicon/ico.ico"/>

<!-- Encabezado link-->
<link rel="stylesheet" href="../static/css/temas/@coloresUniversales.css">
<link rel="stylesheet" href="../static/css/sombras.css">
<link rel="stylesheet" href="../static/css/border.css">
<link rel="stylesheet" href="../static/css/personalizadorColor.css">
<link rel="stylesheet" href="../static/css/cargador.css">
<link rel="stylesheet" href="../static/css/cardsSecondary.css">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/cardSummary.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/cardInformes.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/navbar.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/cardEstadisticas.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/comunidadEstilos.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/ownBadges.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/footer.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/cardsConfiguraciones.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/cardsSeleccionTema.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/perfil_usuario.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}" type="text/css">
<link rel="stylesheet" href="../static/css/cardsMain.css">
<!--
    Nota == Si haces cambios a las rutas asegurate de dejar 
    materialize hasta abajo, para que el navegador le de prioridad
    a los estilos del framework, porque si no podria romperse 
    el CSS del framework.
-->
<link rel="stylesheet" href="../static/css/materialize.css">



<!------ESTILOS CON PRIORIDAD SUPERIOR----------------------------------------->
<!--Para los mensajes en caso de que algo ocurra en la busqueda en la bd-->
<link rel="stylesheet" href="{{url_for('static', filename = 'css/mensajesCasos.css')}}">
<!--Elementos para el carousel-->
<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
<!--No borrar esta puesto para que el selector de temas funcione-->
<link rel="stylesheet" href="" id="theme">

<!--Para materialize-->
<link href="http://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">