<section style="bottom: 0; position: relative; width: 100%">
    <div class="footerOwn colorGreyDarker hide-on-med-and-down borderTop">
        <div class="colorGreyDarker container_footer_uno">
            <div class="logo_app_footer icon_app"></div>
            <div>
                <p class="titulo_footer colorTextReverse TDI">Adicionales</p>
                <p><a href="/terminos_condiciones" class="colorTextReverse texto_footer TDI">Términos de uso y
                        condiciones</a></p>
                <p><a href="/politica_privacidad" class="colorTextReverse texto_footer TDI">Política de privacidad</a></p>
                <p><a href="/politica_cookies" class="colorTextReverse texto_footer TDI">Política de cookies</a></p>
                <p><a href="/ayuda" class="colorTextReverse texto_footer TDI">Manual de usuario</a></p>
                <p><a href="https://jcp-banco-de-datos.up.railway.app/" class="colorTextReverse texto_footer TDI">Banco de datos API</a></p>
            </div>
            <div>
                <p class="titulo_footer colorTextReverse">Saber más</p>
                <p><a href="/saber_mas" class="colorTextReverse texto_footer TDI">Nuestro equipo</a></p>
                <p><a href="/saber_mas" class="colorTextReverse texto_footer TDI">Saber más de JCP_helper</a></p>
            </div>
        </div>
    </div>
    <div class="color1 text_love_footer hide-on-small-only">
        <p class="colorText TDI">Coded with love ❤️ by JCP_team &copy; Todos los derechos reservados</p>
    </div>
</section>