<script src="../static/js/jquery.js"></script>
<script src="../static/js/materialize.min.js"></script>
<script src="../static/js/materializeCall.js"></script>
<script src="../static/js/selectorTema.js"></script>
<script src="../../static/js/personalizadorColor.js"></script>
<script src="../../static/js/vistaElementos.js"></script>

<!--Para el carousel-->
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/carouselCodeMine.js"></script>

<!--Este link es temporal puesto que hay que registrar la app en linea para tener un dominio-->
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v13.0&appId=210544583044581&autoLogAppEvents=1"
    nonce="f56MTTwx"></script>