<!doctype html>
<html lang="en">

<head>
    <title>Ayuda</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}
</head>

<body class="oculto colorGrey">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only TDI">&nbsp;&nbsp;&nbsp;Ayuda.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-large-only hide-on-med-only TDI">Ayuda.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded TDI">Volver</a></li>
            </ul>
        </div>
    </nav>

    <!-- Selección de las opciones de la cuenta -->

    <section class="mainBody">
        <section style="width: 100%;">
            <div class="title-general">
                <h5 class="hide-on-large-only">Cuenta</h5>
                <h4 class="hide-on-med-and-down">Cuenta</h4>
            </div>

            <section class="row">
                <div class="opcionesContainer col s6">
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Aspectos
                                generales cuenta.
                            </div>
                            <div class="bordered5 collapsible-body row">
                                Los datos basicos para cualquier cuenta son nombre completo
                                alias, correo, contraseña, escuela de procedencia y descripción
                                para el perfil. Solo en caso de los estudiantes se les reuqiere el 
                                area de especialización
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="opcionesContainer col s6">
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Personalización.
                            </div>
                            <div class="bordered5 collapsible-body row">

                                  La personalización comienza con el registro en el que se le permite al 
                                  usuario incluir en sus datos de registro una foto de su selección. Esta 
                                  se puede cambiar posteriormente. 

                                  La personalización continua con el cambio de colores que
                                  se maneja (temas) de entre 20 opciones (divididos en oscuros y clásicos) y otras 
                                  cuatro opciones para gente que sufre deuteranomalia, deuteranopia, protanopia y tritanopia

                                  Aparte se puede seleccionar entre cuatro idiomas: español, inglés, portugues y mandarín 
                                  
                                  Para el caso de los docentes se podra hacer grupos con una imagen para
                                  sus grupos.

                
                                  

                            </div>
                        </li>
                    </ul>
                </div>

                <div class="opcionesContainer col s6">
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Accesibilidad.
                            </div>
                            <div class="bordered5 collapsible-body row">
                                Para la inclusión de otros usuarios se maneja dentro de las opciones
                                 paletas de colores para gente que deuteranomalia, deuteranopia, protanopia y tritanopia
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="opcionesContainer col s6">
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Privacidad.
                            </div>
                            <div class="bordered5 collapsible-body row">
                                Se garantiza el cumplimiento de la normativa vigente en materia de protección de datos
                                personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de
                                Derechos Digitales (LOPD GDD). Se cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27
                                de abril de 2016 relativo a la protección de las personas físicas (RGPD).

                                El uso de sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas en el Aviso
                                Legal.

                                Para saber más se rerecomienda que se vea las secciones politica de privacidad, cookies y los terminos de uso y condiciones 
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        <section style="width: 100%;">
            <div class="title-general">
                <h5 class="hide-on-large-only">Operaciones</h5>
                <h4 class="hide-on-med-and-down">Operaciones</h4>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Gestión de grupos.
                        </div>
                        <div class="bordered5 collapsible-body row">
                            Esta acción es exclusiva de los docentes y que consiste en la creación, modificación y eliminación de los grupos de alumnos 
                            que tiene el docente en la que estan los cuestionarios para estos

                            Para más información se recomienda leer el manual de usuario
                        </div>
                    </li>
                </ul>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Gestión de
                            cuestionarios.
                        </div>
                        <div class="bordered5 collapsible-body row">
                             Esta acción es exclusiva de los docentes y que consiste en la creación, modificación y eliminación 
                             de los cuestionarios de los grupos de alumnos que tiene el docente en la que estan los cuestionarios para estos

                             Para más información se recomienda leer el manual de usuario
                        </div>
                    </li>
                </ul>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Banco de datos.
                        </div>
                        <div class="bordered5 collapsible-body row">
                             Este es un elemento que colecta cuestionarios de todos los ya creados para servir como plantilla

                            Para más información se recomienda leer el manual de usuario
                        </div>
                    </li>
                </ul>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Gestión de
                            estadísticas.
                        </div>
                        <div class="bordered5 collapsible-body row">
                              Este es un elemento que permite var la graficación de elementos de grupos, cuestionarios y alumnos
                              
                            Para más información se recomienda leer el manual de usuario
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
    <br><br>
    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}


</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}


</html>