<!doctype html>
<html lang="en">

<head>
    <title>Ayuda</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}
</head>

<body class="oculto colorGrey">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only TDI">&nbsp;&nbsp;&nbsp;Ayuda.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-large-only hide-on-med-only TDI">Ayuda.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded TDI">Volver</a></li>
            </ul>
        </div>
    </nav>

    <!-- Selección de las opciones de la cuenta -->

  

<main class="politicasMainContainer">
    <div class="hide-on-med-and-down politicasContainerMenu">
        <div>
            <ul class="section table-of-contents">
                <!--Cuenta-->
                <li class="colorTextReverse titleSectionPoliticasMenu"><b>Cuenta</b></li>
               
                <li><a class="colorTextReverse" href="#AspectosGeneralesCuenta">Aspectos generales de cuenta</a></li>
                <li><a class="colorTextReverse" href="#Personalizacion">Personalización</a></li>
                <li><a class="colorTextReverse" href="#Accesibilidad">Accesibilidad</a></li>
                <li><a class="colorTextReverse" href="#Privacidad">Privacidad</a></li>
                
                <!--Operaciones-->
                <li class="colorTextReverse titleSectionPoliticasMenu"><b>Operaciones</b></li>
                <li><a class="colorTextReverse" href="#GestionGrupos">Gestión de grupos</a></li>
                <li><a class="colorTextReverse" href="#GestionCuestionarios">Gestión de cuestionarios</a></li>
                <li><a class="colorTextReverse" href="#BancoDatos">Banco de datos</a></li>
                <li><a class="colorTextReverse" href="#GestiónEstadisticas">Gestión de estadísticas</a></li>
            </ul>
        </div>
    </div>

    <div class="politicasContainerInfo colorGrey shadow-2e">



        <div id="descargarTerminos" class="section">
            <div class="contentPoliticasTexto colorText fondoStyle fondoDinamico">
                <div class="title-general">
                    <h5 class="hide-on-large-only"><b>Descargar términos</b></h5>
                    <h4 class="hide-on-med-and-down"><b>Descargar términos</b></h4>
                </div>
                <div class="descargarDocumentoContainer">
                    <div class="descargarDocumentoSon1">
                        <img src="../../static/images/brand_app/document.png" class="shadow-1e bordered2"
                            alt="documento de terminos y condiciones">
                        <a href="/static/documents/Terminos_y_aclaraciones.pdf" download="newfilename"
                            class="btn color3 button-rounded"><i class="material-icons left">file_download</i>Descargar</a>
                    </div>
                    <div class="descargarDocumentoSon2">
                        <p>Descague el manual para más ayuda</p>
                    </div>
                </div>
            </div>
        </div>
        

        <div id="AspectosGeneralesCuenta" class="section scrollspy">
            <div class="title-general">
                <h5 class="hide-on-large-only"><b>Aspectos generales de cuenta</b></h5>
                <h4 class="hide-on-med-and-down"><b>Aspectos generales de cuenta</b></h4>
            </div>
            <div class="contentPoliticasTexto colorGreyDarker">
                <p class="colorTextReverse textoInfoPoliticasMini">
                    

                    Existen dos tipos de usuarios con los siguientes funciones en general:
                    <br><br>
                    ⚫ Docentes: Estos se encargan de la creación de cuestionarios y grupos que seran
                        resueltos por los alumnos y con la información de los resultados de esto la plataforma
                        regresa datos estadisticos de los alumnos para poder facilitar el logro de sus objetivos
                        de docencia

                    <br><br>
                    ⚫ Alumnos: Estos podran realizar cuestionarios y unirse a grupos creados por los docentes
                    y poder ver los resultados de estos
                    
        
                    
                </p>
            </div>
        </div>


        <div id="Personalizacion" class="section scrollspy">
            <div class="title-general">
                <h5 class="hide-on-large-only"><b>Personalización</b></h5>
                <h4 class="hide-on-med-and-down"><b>Personalización</b></h4>
            </div>
            <div class="contentPoliticasTexto colorGreyDarker">
                <p class="colorTextReverse textoInfoPoliticasMini">
        
        
                    Dentro de JCP_helper se tiene diferentes grados de personalización en varios 
                    elementos de la plataforma:
                <br><br>
                ⚫ Cuenta: Se permite para todos los usuarios al crear una cuenta poder 
                seleccionar una foto de perfil. Esta foto puede ser modificada posteriormente por 
                cualquier otra que se deseé.
                <br><br>
                ⚫ Colores / Paleta colores: Se permite para todos los usuarios cambiar entre 19
                paleta de colores que se clasifican en temas clásicos, oscuros y para gente con los
                siguientes padecimientos deuteranomalia, deuteranopia, protanopia y tritanopia 
                <br><br>
                ⚫ Grupos: Los docentes podran craer grupos que podran seleccionar un tipo de color
                de identificación y una foto de fondo
                <br><br>
                ⚫ Cuestionarios: Los docentes podran craer cuestionario que podran agregar a algunas
                preguntas con recursos audiovisuales
                <br><br>
                ⚫ Grupos: Los docentes podran craer grupos que podran seleccionar un tipo de color
                de identificación y una foto de fondo
        
                </p>
            </div>
        </div>


        <div id="Accesibilidad" class="section scrollspy">
            <div class="title-general">
                <h5 class="hide-on-large-only"><b>Accesibilidad</b></h5>
                <h4 class="hide-on-med-and-down"><b>Accesibilidad</b></h4>
            </div>
            <div class="contentPoliticasTexto colorGreyDarker">
                <p class="colorTextReverse textoInfoPoliticasMini">
        
                     Los docentes son los que tienen el accesos a todos los elementos como grupos y cuestionarios, mientras 
                     que los alumnos solo tienen acceso a los cuestionarios hechos y a sus resultados

                    <br><br>
                     Aparte los docentes tendran acceso a los cuestionarios de otros docentes por medio de un API

                    <br><br>
                    Para la inclusión de otros usuarios se maneja dentro de las opciones
                    paletas de colores para gente que deuteranomalia, deuteranopia, protanopia y tritanopia
        
        
        
                </p>
            </div>
        </div>


        <div id="Privacidad" class="section scrollspy">
            <div class="title-general">
                <h5 class="hide-on-large-only"><b>Privacidad</b></h5>
                <h4 class="hide-on-med-and-down"><b>Privacidad</b></h4>
            </div>
            <div class="contentPoliticasTexto colorGreyDarker">
                <p class="colorTextReverse textoInfoPoliticasMini">
        
        
                    Se garantiza el cumplimiento de la normativa vigente en materia de protección de datos
                    personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de
                    Derechos Digitales (LOPD GDD). Se cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de
                    27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).
                    <br><br>
                    El uso de sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas en el Aviso
                    Legal.
                    <br><br>
                    Para saber más se rerecomienda que se vea las secciones politica de privacidad, cookies y los terminos de uso y
                    condiciones
        
        
        
                </p>
            </div>
        </div>

        <div id="GestionGrupos" class="section scrollspy">
            <div class="title-general">
                <h5 class="hide-on-large-only"><b>Gestion de Grupos</b></h5>
                <h4 class="hide-on-med-and-down"><b>Gestion de Grupos</b></h4>
            </div>
            <div class="contentPoliticasTexto colorGreyDarker">
                <p class="colorTextReverse textoInfoPoliticasMini">
        
        
                    Esta acción es exclusiva de los docentes y que consiste en la creación, modificación y eliminación de los grupos de
                    alumnos que tiene el docente en la que estan los cuestionarios para estos
                    <br><br>
                    Para más información se recomienda leer el manual de usuario
        
        
        
                </p>
            </div>
        </div>



        <div id="GestionCuestionarios" class="section scrollspy">
            <div class="title-general">
                <h5 class="hide-on-large-only"><b>Gestion de cuestionarios</b></h5>
                <h4 class="hide-on-med-and-down"><b>Gestion de cuestionarios</b></h4>
            </div>
            <div class="contentPoliticasTexto colorGreyDarker">
                <p class="colorTextReverse textoInfoPoliticasMini">
        
        
                    Esta acción es exclusiva de los docentes y que consiste en la creación, modificación y eliminación
                    de los cuestionarios de los grupos de alumnos que tiene el docente en la que estan los cuestionarios para estos
                    <br><br>
                    Para más información se recomienda leer el manual de usuario
        
        
        
                </p>
            </div>
        </div>

        <div id="BancoDatos" class="section scrollspy">
            <div class="title-general">
                <h5 class="hide-on-large-only"><b>Banco de datos</b></h5>
                <h4 class="hide-on-med-and-down"><b>Banco de datos</b></h4>
            </div>
            <div class="contentPoliticasTexto colorGreyDarker">
                <p class="colorTextReverse textoInfoPoliticasMini">
        
        
                    Este es un elemento que colecta cuestionarios de todos los ya creados para servir como plantilla
                    <br><br>
                    Para más información se recomienda leer el manual de usuario
        
        
        
                </p>
            </div>
        </div>


        <div id="GestiónEstadisticas" class="section scrollspy">
            <div class="title-general">
                <h5 class="hide-on-large-only"><b>Gestión de estadísticas</b></h5>
                <h4 class="hide-on-med-and-down"><b>Gestión de estadísticas</b></h4>
            </div>
            <div class="contentPoliticasTexto colorGreyDarker">
                <p class="colorTextReverse textoInfoPoliticasMini">
        
        
                    Este es un elemento que permite var la graficación de elementos de grupos, cuestionarios y alumnos
                    <br><br>
                    Para más información se recomienda leer el manual de usuario
        
        
        
                </p>
            </div>
        </div>
        

    </div>

</main>




    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}


</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}


</html>