<!doctype html>
<html lang="en">

<head>
    <title>Ayuda</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}
</head>

<body class="oculto colorGrey">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only TDI">&nbsp;&nbsp;&nbsp;Ayuda.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-large-only hide-on-med-only TDI">Ayuda.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded TDI">Volver</a></li>
            </ul>
        </div>
    </nav>

    <!-- Selección de las opciones de la cuenta -->

    <section class="mainBody">
        <section style="width: 100%;">
            <div class="title-general">
                <h5 class="hide-on-large-only">Cuenta</h5>
                <h4 class="hide-on-med-and-down">Cuenta</h4>
            </div>

            <section class="row">
                <div class="opcionesContainer col s6">
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Aspectos
                                generales cuenta.
                            </div>
                            <div class="bordered5 collapsible-body row">
                                Los datos basicos para cualquier cuenta son nombre completo
                                alias, correo, contraseña, escuela de procedencia y descripción
                                para el perfil. Solo en caso de los estudiantes se les reuqiere el 
                                area de especialización
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="opcionesContainer col s6">
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Personalización.
                            </div>
                            <div class="bordered5 collapsible-body row">

                                  La personalización comienza con el registro 


                                  La personalización continua con el cambio de colores que
                                  se maneja (temas) de entre 20 opciones (divididos en oscuros y clásicos) y otras 
                                  cuatro opciones para gente que sufre deuteranomalia, deuteranopia, protanopia y tritanopia

                                  

                            </div>
                        </li>
                    </ul>
                </div>

                <div class="opcionesContainer col s6">
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Accesibilidad.
                            </div>
                            <div class="bordered5 collapsible-body row">

                            </div>
                        </li>
                    </ul>
                </div>

                <div class="opcionesContainer col s6">
                    <ul class="collapsible bordered5 colorWhite">
                        <li>
                            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                                style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Privacidad.
                            </div>
                            <div class="bordered5 collapsible-body row">

                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        <section style="width: 100%;">
            <div class="title-general">
                <h5 class="hide-on-large-only">Operaciones</h5>
                <h4 class="hide-on-med-and-down">Operaciones</h4>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Gestión de grupos.
                        </div>
                        <div class="bordered5 collapsible-body row">

                        </div>
                    </li>
                </ul>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Gestión de
                            cuestionarios.
                        </div>
                        <div class="bordered5 collapsible-body row">

                        </div>
                    </li>
                </ul>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Banco de datos.
                        </div>
                        <div class="bordered5 collapsible-body row">

                        </div>
                    </li>
                </ul>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">account_circle</i>Gestión de
                            estadísticas.
                        </div>
                        <div class="bordered5 collapsible-body row">

                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
    <br><br>
    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}


</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}


</html>