<!DOCTYPE html>
<html lang="en">

<head>
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

    <title>Perfil de usuario</title>
</head>

<body class="ocultoc colorGreyWhiter">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Perfil de usuario.</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Perfil de usuario.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>
    <br><br>

    <!--Header del icono de usuario-->
    <section>
        <div class="dataContainerUserMain">
            <!-- Fondo con la foto elegida por el usuario -->
            <div class="fondoDinamico fondoPerfilDiseno shadow-3e" id="fondoDinamicoUsuario">
                <div class="iconEditContainer">
                    <p>
                        <a href="#modal1"
                            class="modal-trigger colorGreyWhiter bordered2 shadow-2e colorTextReverse waves-effect"><i
                                class="material-icons">photo_library</i></a>
                    </p>
                    &nbsp;&nbsp;
                    <p>
                        <a href="/configuraciones"
                            class="modal-trigger colorGreyWhiter bordered2 shadow-2e colorTextReverse waves-effect"><i
                                class="material-icons">settings</i></a>
                    </p>
                </div>
            </div>

            <!-- Datos del cliente -->
            <div class="datos_perfil_container" id="datos_perfil_containerSelector">
                <div>
                    <img class="materialboxed fotoPerfil shadow-2e" src="../../static/images/avatares/avatar_1.jpg"
                        alt="foto del usuario">
                </div>
                <div class="allDataUserContainer">
                    <p class="colorTextReverse nombre_perfil" id="datos_perfil_containerNombrePerfil">Nombre usuario</p>
                    <p class="colorTextReverse alias_perfil" id="datos_perfil_containerAliasPerfil">Alias del usuario</p>
                    <p class="colorTextReverse descripcion_perfil flow-text" id="datos_perfil_containerDescPerfil">
                        Pequeño texto de descripción de perfil del usuario
                        Lorem ipsum dolor sit amet consectetur, adipisionsectetur adipisicing elit. Minus illum
                        blanditiis
                        recusandae, quis officiis ea quas magnam hic velit rem mollitia ad vel quidem eius eveniet
                        consequatur odit minima! Tempora!
                    </p>
                </div>
            </div>

            <!--Nombre del cliente scroll-->
            <div class="containerScrolled containerScrolledHide color3 shadow-2e" id="containerScrolled">
                <div class="containerScrolledSon">
                    <img class="fotoPerfilScrolled" src="../../static/images/avatares/avatar_1.jpg"
                        alt="foto del usuario">
                    <p class="nombreUsuarioScrolled titleMobile flow-text colorText">Nombre del usuario</p>
                </div>
            </div>
        </div>
        <!-- Carousel de datos del cliente -->
        <!--Seccion para dispositivos moviles-->
        <section class="dataContainerFatherContainer">
            <div>
                <div class="title-general">
                    <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Datos de la cuenta</h5>
                    <h3 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Datos de la cuenta</h3>
                </div>
                <div class="gridDataProfileContainer">
                    <div class="itemDataGridGeneral shadow-1" id="itemDataGrid-1">
                        <p class="iconDataProfile colorGreyDarker"><i class="material-icons md-24 colorTextReverse">email</i>Contacto</p>
                        <p class="textDataProfile colorGrey">jeremias@gmail.com</p>
                    </div>
                    <div class="itemDataGridGeneral shadow-1" id="itemDataGrid-2">
                        <p class="iconDataProfile colorGreyDarker"><i class="material-icons md-24 colorTextReverse">school</i>Procedencia</p>
                        <p class="textDataProfile colorGrey">Instituto Politécnico Nacional</p>
                    </div>
                    <div class="itemDataGridGeneral shadow-1" id="itemDataGrid-3">
                        <p class="iconDataProfile colorGreyDarker"><i class="material-icons md-24 colorTextReverse">doorbell</i>Unidad</p>
                        <p class="textDataProfile colorGrey">ESCOM</p>
                    </div>
                    <div class="itemDataGridGeneral shadow-1" id="itemDataGrid-4">
                        <p class="iconDataProfile colorGreyDarker"><i class="material-icons md-24 colorTextReverse">adjust</i>Especialización</p>
                        <p class="textDataProfile colorGrey">Diseño web frontend</p>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- Modal para elegir el tema del perfil -->
    <div id="modal1" class="modal modal-fixed-footer bordered2" style="height: 80vh !important;">
        <div class="modal-content">
            <h5>Temas</h5>
            <div class="fotosSelector">
                <div class="fotosIndividual">
                    <div class="row" id="popUpThemes">
                        <!-- Se insertan los elementos del selector de temas. -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
    </div>

    <!--Metemos el footer en la app-->
    <!-- {% include "includes/footer.html" %} -->
</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

</html>