<!DOCTYPE html>
<html lang="en">

<head>
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

    <title>Saber más.</title>
</head>

<body class="ocultoc colorGreyWhiter">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Saber más.</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Saber más.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="/politica_cookies" class="btn color3 button-rounded"><i
                            class="material-icons left">cookie</i>Cookies</a></li>
                <li><a href="/politica_privacidad" class="btn color3 button-rounded"><i
                            class="material-icons left">privacy_tip</i>Privacidad</a></li>
                <li><a href="/terminos_condiciones" class="btn color3 button-rounded"><i
                            class="material-icons left">gavel</i>Términos</a></li>
            </ul>
        </div>
    </nav>
    <br><br>

    <main class="politicasMainContainer">
        <div class="hide-on-med-and-down politicasContainerMenu">
            <div>
                <ul class="section table-of-contents">
                    <li class="colorTextReverse titleSectionPoliticasMenu"><b>Secciones</b></li>
                    <li><a class="colorTextReverse" href="#documentaciónSaberMas">Documentación</a></li>
                    <li><a class="colorTextReverse" href="#equipoSaberMas">Equipo</a></li>
                    <li><a class="colorTextReverse" href="#contactoSaberMas">Contacto</a></li>
                    <li><a class="colorTextReverse" href="#codigoSaberMas">Código</a></li>
                    <li><a class="colorTextReverse" href="#politicasSaberMas">Políticas</a></li>
                </ul>
                <div class="containerImagenPoliticaCookies">
                    <img class="imagenPoliticaCookies" src="../../static/images/icons/icon_saberMas.svg"
                        alt="imagen para los términos y condiciones">
                </div>
            </div>
        </div>
        <div class="politicasContainerInfo colorGrey shadow-2e">
            <div id="documentaciónSaberMas" class="section scrollspy">
                <div class="title-general">
                    <h5 class="hide-on-large-only"><b>Documentación</b></h5>
                    <h4 class="hide-on-med-and-down"><b>Documentación</b></h4>
                </div>
                <div class="contentPoliticasTexto colorGreyWhiter">
                    <p class="colorTextReverse flow-text">
                        En esta sección podra encontrar información sobre los documentos oficiales del proyecto.
                    </p>
                    <p class="colorTextReverse textoInfoPoliticasMini">
                        ⚫ En la documentación tendrá acceso a datos sobre la arquitectura del proyecto, objetivos,
                        justificación, estado del arte, diagramas, diseños previos, teoría sobre los modelos de ML,
                        presentaciones previas, artefactos, recursos y mucho más.
                    </p>
                    <p class="colorTextReverse ">
                        <span class="politicasImportantInfo color5 colorTextReverse shadow-1e">Github:
                            <a href="https://github.com/LuisEnriqueChavarriaVazquez/jcp_helper_docu"
                                class="colorTextReverse">Documentación oficial.</a></span>
                    </p>
                </div>
            </div>

            <div id="equipoSaberMas" class="section scrollspy">
                <div class="title-general">
                    <h5 class="hide-on-large-only"><b>Equipo</b></h5>
                    <h4 class="hide-on-med-and-down"><b>Equipo</b></h4>
                </div>
                <div class="contentPoliticasTexto colorGreyWhiter">
                    <p class="colorTextReverse flow-text">
                        Agradecemos a todas y todos los profesores que han participado de este proyecto y que nos han
                        apoyado con su retroalimentación y comentarios <b>(en orden alfabético)</b>.
                    </p>
                    <h6><b>Directoras</b></h6>
                    <p class="colorTextReverse textoInfoPoliticasMini">
                        ⚫ Josefina Hernández Jaime.
                        <br><br>
                        ⚫ Mónica Rivera de la Rosa.
                    </p>
                    <hr>
                    <h6><b>Sinodales</b></h6>
                    <p class="colorTextReverse textoInfoPoliticasMini">
                        ⚫ Laura Méndez Segundo.
                        <br><br>
                        ⚫ Maribel Aragón García.
                        <br><br>
                        ⚫ Yaxkin Flores Mendoza.
                    </p>
                    <hr>
                    <h6><b>Profesoras de seguimiento</b></h6>
                    <p class="colorTextReverse textoInfoPoliticasMini">
                        ⚫ Adriana Berenice Celis Dominguez.
                        <br><br>
                        ⚫ Nancy Ocotitla Rojas.
                    </p>
                    <hr>
                    <h6><b>Alumnos</b></h6>
                    <p class="colorTextReverse textoInfoPoliticasMini">
                        ⚫ Chavarría Vázquez Luis Enrique.
                        <br><br>
                        ⚫ Juarez Espinoza Ulises.
                        <br><br>
                        ⚫ Machorro Vences Ricardo Alberto.
                    </p>
                </div>
            </div>

            <div id="contactoSaberMas" class="section scrollspy">
                <div class="title-general">
                    <h5 class="hide-on-large-only"><b>Contacto</b></h5>
                    <h4 class="hide-on-med-and-down"><b>Contacto</b></h4>
                </div>
                <div class="contentPoliticasTexto colorGreyWhiter">
                    <p class="colorTextReverse flow-text">
                        Puede contactar al equipo de desarrollo por medio de github <b>(en orden alfabético)</b>.
                    </p>
                    <h6><b>Alumnos</b></h6>
                    <p class="colorTextReverse textoInfoPoliticasMini">
                        ⚫ Chavarría Vázquez Luis Enrique.
                        <br><br>
                        <span class="politicasImportantInfo color5 colorTextReverse shadow-1e">
                            <a href="https://github.com/LuisEnriqueChavarriaVazquez" class="colorTextReverse">
                                LuisEnriqueChavarriaVazquez.</a></span>
                        <br><br>
                        ⚫ Juarez Espinoza Ulises.
                        <br><br>
                        <span class="politicasImportantInfo color5 colorTextReverse shadow-1e">
                            <a href="https://github.com/UlisesJuarez" class="colorTextReverse">
                                UlisesJuarez.</a></span>
                        <br><br>
                        ⚫ Machorro Vences Ricardo Alberto.
                        <br><br>
                        <span class="politicasImportantInfo color5 colorTextReverse shadow-1e">
                            <a href="https://github.com/ricardomachorro" class="colorTextReverse">
                                ricardomachorro.</a></span>
                    </p>
                </div>
            </div>

            <div id="codigoSaberMas" class="section scrollspy">
                <div class="title-general">
                    <h5 class="hide-on-large-only"><b>Código</b></h5>
                    <h4 class="hide-on-med-and-down"><b>Código</b></h4>
                </div>
                <div class="contentPoliticasTexto colorGreyWhiter">
                    <p class="colorTextReverse flow-text">
                        Puede acceder al código fuente en el enlace al repositorio de Github que aparece en la parte de
                        abajo.
                    </p>
                    <p class="colorTextReverse textoInfoPoliticasMini">
                        Si desea colaborar favor de enviar alguna solicitud para poder integrar al proyecto y del mismo
                        modo leer el archivo Requirements.txt en el repositorio para conocer los requisitos de ejecución
                        del proyecto.
                    </p>
                    <p class="colorTextReverse ">
                        <span class="politicasImportantInfo color5 colorTextReverse shadow-1e">Github:
                            <a href="https://github.com/LuisEnriqueChavarriaVazquez/JCP_helper"
                                class="colorTextReverse">Código oficial.</a></span>
                    </p>
                </div>
            </div>

            <div id="politicasSaberMas" class="section scrollspy">
                <div class="title-general">
                    <h5 class="hide-on-large-only"><b>Políticas.</b></h5>
                    <h4 class="hide-on-med-and-down"><b>Políticas.</b></h4>
                </div>
                <div class="contentPoliticasTexto colorGreyWhiter">
                    <p class="colorTextReverse textoInfoPoliticasMini">
                        Si desea conocer a fondo las politicas del proyecto en términos de privacidad, cookies y los
                        terminos de uso, puede visitar los siguientes enlaces.
                    </p>
                    <p class="colorTextReverse ">
                        <span class="politicasImportantInfo color4 colorTextReverse shadow-1e">
                            <a href="/politica_privacidad" class="colorTextReverse">Politica de privacidad.</a></span>
                    </p>
                    <p class="colorTextReverse ">
                        <span class="politicasImportantInfo color4 colorTextReverse shadow-1e">
                            <a href="politica_cookies" class="colorTextReverse">Política de cookies.</a></span>
                    </p>
                    <p class="colorTextReverse ">
                        <span class="politicasImportantInfo color4 colorTextReverse shadow-1e">
                            <a href="terminos_condiciones" class="colorTextReverse">Terminos y condiciones de
                                uso.</a></span>
                    </p>
                </div>
            </div>
        </div>
    </main>


    <!--Boton para ir hacia arriba-->
    <div class="fixed-action-btn hiddenElement animate__animated" id="buttonGoUpTerminos">
        <a class="btn-floating btn-large color4">
            <i class="large material-icons">arrow_upward</i>
        </a>
    </div>

    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}
</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}
<script src="../../static/js/operacionesTerminos.js"></script>

</html>