<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}| JCP{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/cardsMain.css">
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/sombras.css">
    <link rel="stylesheet" href="" id="theme">
    <link href="http://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>

    <!--Menu de página de inicio-->
    <nav class="color2 z-depth-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;JCP_helper.</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="nuevo_est" class="btn color3 button-rounded">Soy estudiante</a></li>
                <li><a href="nuevo_prof" class="btn color3 button-rounded">Soy docente</a></li>
            </ul>
        </div>
    </nav>


    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../static/images/sidenavImage.jpg" width="100%">
                </div>
                <br>
                <a href="#name"><span class="white-text name">¡Bienvenido!</span></a>
                <br>
            </div>
        </li>
        <li><a href="nuevo_prof"><i class="material-icons">school</i>Soy docente.</a></li>
        <li><a href="nuevo_est"><i class="material-icons">child_care</i>Soy estudiante.</a></li>
    </ul>

    <div class="carousel carousel-slider hide-on-small-only center">
        <div class="carousel-fixed-item center">
            <!---Este boton nos debe mandar a una guia con las cosas que se pueden hacer-->
            <a class="btn waves-effect color1" href="saber_mas">Saber más</a>
        </div>
        <div class="carousel-item carouselOne white-text" href="#one!">
            <h2>Potencia el aprendizaje.</h2>
            <p class="white-text">Simplicidad y variedad al alcance de todos.</p>
        </div>
        <div class="carousel-item carouselThree black-text" href="#three!">
            <h2>En casa o en el aula.</h2>
            <p class="black-text">Herramienta ideal para trabajo online o presencial.</p>
        </div>
        <div class="carousel-item carouselFour black-text" href="#four!">
            <h2>Acceso a banco de datos.</h2>
            <p class="black-text">Obtenga acceso a material para crear pruebas</p>
        </div>
        <div class="carousel-item carouselTwo black-text" href="#two!">
            <h2>Acceso a estadísticas.</h2>
            <p class="black-text">Inspeccione datos sobre rendimiento académico.</p>
        </div>
    </div>

    <section class="mainBody">
        <div class="title-general">
            <h4 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Crear una cuenta</h4>
            <h3 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Crear una cuenta</h3>
        </div>

        <div class="card-bienvenida-text shadow-3">
            <p class="colorText">¿Que tipo de usuario es?</p>
        </div>

        <!--Para la versión de movil y tableta-->
        <div class="card-bienvenida shadow-3 hide-on-large-only">
            <div class="card-bienvenida-button-welcome">
                <a href="nuevo_est" class="buttons-bienvenida waves-effect waves-light btn-large color3"><i
                        class="material-icons left">child_care</i>Estudiante</a>
                <a class="btn-floating btn-large waves-effect waves-light color2  modal-trigger" href="#modal1"><i
                        class="material-icons">info</i></a>
            </div>
            <div class="card-bienvenida-button-welcome">
                <a href="nuevo_prof" class="buttons-bienvenida waves-effect waves-light btn-large color3"><i
                        class="material-icons left">school</i>Docente &nbsp;&nbsp;&nbsp;</a>
                <a class="btn-floating btn-large waves-effect waves-light color2  modal-trigger" href="#modal2"><i
                        class="material-icons">info</i></a>
            </div>
        </div>

        <!--Para la versión de escritorio-->
        <br class="hide-on-med-and-down">
        <section class="cards-bienvenida-desktop hide-on-med-and-down">

            <div class="card shadow-3">
                <div class="card-image">
                    <img src="../static/images/example.jpg">
                    <span class="card-title">Docente</span>
                </div>
                <div class="card-content">
                    <p>Puede crear pruebas personalizadas para los estudiantes y evaluar el rendimiento académico de los mismo,
                        por otra parte también puede compartir sus evaluaciones y acceder a bancos de preguntas para hacer las
                        pruebas.</p>
                </div>
                <div class="card-action">
                    <a class="btn color3 button-rounded" href="nuevo_prof">Soy docente</a>
                </div>
            </div>

            <div class="card shadow-3">
                <div class="card-image">
                    <img src="../static/images/example.jpg">
                    <span class="card-title">Estudiante</span>
                </div>
                <div class="card-content">
                    <p>Acceda para poder resolver las pruebas que tus docentes hayan hecho y evalua tu rendimiento académico en
                        cada prueba, accede a las estadisticas cuando lo desee y ponga a prueba sus conocimientos dentro de la clase.</p>
                </div>
                <div class="card-action">
                    <a class="btn color3 button-rounded" href="nuevo_est">Soy estudiante</a>
                </div>
            </div>
        </section>
        <br class="hide-on-med-and-down">

        <div class="card-bienvenida-text shadow-3">
            <p class="colorText"><a class="colorText" href="login_general">¿Ya tiene una cuenta?</a></p>
        </div>
    </section>


    <br>

    <div class="footer hide-on-med-and-down">
        <p>JCP_helper &copy; Todos los derechos reservados</p>
    </div>


    <!--Modales con explicaciones de que es ser docente o que es ser estudiante-->

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Docente</h4>
            <p>Puede crear pruebas personalizadas para los estudiantes y evaluar el rendimiento académico de los mismo,
                por otra parte también puede compartir sus evaluaciones y acceder a bancos de preguntas para hacer las
                pruebas.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">De acuerdo</a>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Estudiante</h4>
            <p>Acceda para poder resolver las pruebas que tus docentes hayan hecho y evalua tu rendimiento académico en
                cada prueba, accede a las estadisticas cuando lo desee y ponga a prueba sus conocimientos dentro de la clase.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">De acuerdo</a>
        </div>
    </div>

    <!--Fin de los modals-->


    <!--Boton para acceder a una mini guia de como funciona la app "APRENDER MAS"-->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large color2" href="saber_mas">
          <i class="large material-icons">help</i>
        </a>
    </div>

</body>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/materialize.min.js"></script>
<script src="../static/js/materializeCall.js"></script>
<script src="../static/js/selectorTema.js"></script>


</html>