<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Inicio | JCP{% endblock %}</title>
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>



<style>
    th,
    td {
        padding: 30px !important;
    }

    a{
        font-size: 20px;
        font-weight: 600;
    }
</style>


<body class="oculto">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 z-depth-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;JCP_helper.</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>


    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../static/images/sidenavImage.jpg" width="100%">
                </div>
                <br>
                <a href="#name"><span class="white-text name">¡Bienvenido a la prueba!</span></a>
                <br>
            </div>
        </li>
    </ul>

    <section class="mainBody">
        <div class="title-general">
            <h4 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Acceso de prueba</h4>
            <h3 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Acceso de prueba</h3>
        </div>

        <div class="card color2">
            <div class="card-content">
                <p class="colorText">En la siguiente página usted puede acceder a las vistas de la aplicación y del
                    mismo modo tener acceso alinks importantes como acceso a la documentación o repositorios con el
                    código del proyecto hasta el momento.</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab color2"><a class="colorText active" href="#test4">Vistas</a></li>
                    <li class="tab color2"><a class="colorText" href="#test5">Documentación</a></li>
                </ul>
            </div>
            <div class="card-content colorGrey">
                <div id="test4">
                    <h5>Vistas</h5>
                    <a href="https://jcphelperdos.herokuapp.com/login_general">Log in general</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/saber_mas">Saber más</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/comunidad_profesor">comunidad_profesor</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/gestionar_cuestionarios">gestionar_cuestionarios</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/gestionar_estadisticas">gestionar_estadisticas</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/gestionar_grupos">gestionar_grupos</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/signup_prof">signup_prof</a><br>
                    <!--<a href="https://jcphelperdos.herokuapp.com/nuevo_profesor">nuevo_profesor</a><br>-->
                    <!--<a href="https://jcphelperdos.herokuapp.com/login_profesor">login_profesor</a><br>-->
                    <a href="https://jcphelperdos.herokuapp.com/bienvenidaProfesor">bienvenidaProfesor</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/comunidad_estudiante">comunidad_estudiante</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/gestionar_cuestionarios_estudiante">gestionar_cuestionarios_estudiante</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/gestionar_estadisticas_estudiante">gestionar_estadisticas_estudiante</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/gestionar_grupos_estudiante">gestionar_grupos_estudiante</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/signup_est">signup_est</a><br>
                    <a href="https://jcphelperdos.herokuapp.com/bienvenidaEstudiante">bienvenidaEstudiante</a><br>
                    <!--<a href="https://jcphelperdos.herokuapp.com/nuevo_estudiante">nuevo_estudiante</a><br>-->
                    <!--<a href="https://jcphelperdos.herokuapp.com/login_estudiante">login_estudiante</a><br>-->
                    <a href="https://jcphelperdos.herokuapp.com/configuraciones">configuraciones</a><br>
                </div>
                <div id="test5">
                    <h5>Documentación</h5>
                    <table class="highlight striped shadow-2">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Link</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Documentación del trabajo</td>
                                <td><a
                                        href="https://drive.google.com/drive/folders/1m-9EhEoLwXtuKkZPg5s3rUFJSfDsQrPG">Enlace</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Repositorio de la documentación</td>
                                <td><a href="https://github.com/LuisEnriqueChavarriaVazquez/jcp_helper_docu">Enlace</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Repositorio del código</td>
                                <td><a href="https://github.com/LuisEnriqueChavarriaVazquez/JCP_helper">Enlace</a></td>
                            </tr>
                            <tr>
                                <td>Link de documentos catt</td>
                                <td><a
                                        href="https://drive.google.com/drive/folders/1xM7VRvivOMT78cPrdiXmzwETw2PiQeVK">Enlace</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Aprobación de protocolo</td>
                                <td><a
                                        href="https://drive.google.com/file/d/1TtiE5vmOUr62eWuJAX9T_ZUzeF34hmzr/view">Enlace</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}


</html>