<!doctype html>
<html lang="en">

<head>
    <title>Configuraciones</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}
</head>

<body class="oculto colorGrey">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">&nbsp;&nbsp;&nbsp;Configuraciones.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-large-only hide-on-med-only">Configuraciones.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver</a></li>
            </ul>
        </div>
    </nav>

    <!-- Selección de las opciones de la cuenta -->

    <section class="mainBody">
        <section style="width: 100%;">
            <div class="title-general">
                <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Cuenta</h5>
                <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Cuenta</h4>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">settings</i>Opciones de la cuenta.
                        </div>
                        <div class="bordered5 collapsible-body row">
                            <div class="col s12 m6 l4 cardConfiguracionesMainPadre">
                                <div class="cardConfiguracionesMain shadow-2 bordered1 colorGreyWhiter">
                                    <div class="iconCardConfiguraciones color1 bordered5 shadow-2e"><i
                                            class="material-icons colorText">manage_accounts</i></div>
                                    <div class="textCardConfiguraciones colorTextReverse">Modificar cuenta</div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4 cardConfiguracionesMainPadre">
                                <div class="cardConfiguracionesMain shadow-2 bordered1 colorGreyWhiter">
                                    <div class="iconCardConfiguraciones color1 bordered5 shadow-2e"><i
                                            class="material-icons colorText">description</i></div>
                                    <div class="textCardConfiguraciones colorTextReverse">Acceso a informes</div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4 cardConfiguracionesMainPadre">
                                <div class="cardConfiguracionesMain shadow-2 bordered1 colorGreyWhiter">
                                    <div class="iconCardConfiguraciones color1 bordered5 shadow-2e"><i
                                            class="material-icons colorText">account_box</i></div>
                                    <div class="textCardConfiguraciones colorTextReverse">Vistazo perfil</div>
                                </div>
                            </div>
                            <div class="col s12 m6 l4 cardConfiguracionesMainPadre">
                                <div class="cardConfiguracionesMain shadow-2 bordered1 colorGreyWhiter">
                                    <div class="iconCardConfiguraciones color1 bordered5 shadow-2e"><i
                                            class="material-icons colorText">delete</i></div>
                                    <div class="textCardConfiguraciones colorTextReverse">Eliminar cuenta</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Selección de los temas en general -->

        <section style="width: 100%;">
            <div class="title-general">
                <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Temas</h5>
                <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Temas</h4>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">format_paint</i>Selector de temas
                        </div>
                        <div class="bordered5 collapsible-body colorWhite">

                            <div class="bordered5 opcionesContainerInterno row">

                                <div class="col s12 m12 l12">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <div class="card-stacked">
                                            <div class="card-content centerAligner verticalAligner">
                                                <div>
                                                    <p class="colorTextReverse muestraDeColorText">Paleta actual</p>
                                                </div>
                                                <div class="centerAligner horizontalAligner">
                                                    <div id="paleta1" class="shadow-3 paleta color1"></div>
                                                    <div class="shadow-3 paleta color2"></div>
                                                    <div class="shadow-3 paleta color3"></div>
                                                    <div class="shadow-3 paleta color4"></div>
                                                    <div id="paleta5" class="shadow-3 paleta color5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Color aqua -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresAqua">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #125163;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Aqua
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresAqua">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Aqua</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #125163;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color azul -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresBlue">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #3e5b65;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Blue
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresBlue">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Blue</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #3e5b65;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color bronce -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresBronce">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #9b4b00;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Bronce
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresBronce">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Bronce</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #9b4b00;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color cafe -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresCafe">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #775e57;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Cafe
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresCafe">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Café</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #775e57;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Green -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresDefault">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #377e5b;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Verde
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresDefault">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Verde</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #377e5b;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Gótico -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresGotico">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #75656a;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Gótico
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresGotico">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Gótico</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #75656a;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Naranja -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresNaranja">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #bc521c;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Naranja
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresNaranja">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Naranja</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #bc521c;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Pink -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresPink">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #b0537a;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Pink
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresPink">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Pink</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #b0537a;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Purple -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresPurple">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #594668;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Purple
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresPurple">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Purple</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #594668;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Red -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresRed">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #9c3537;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Red
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresRed">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Red</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #9c3537;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!--Colores oscuros-->
                                <!-- Color Modo Oscuro -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresModoOscuro">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #000000;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Oscuro
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresModoOscuro">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Oscuro</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #000000;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Dark aqua -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_aqua">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #00312f;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Dark aqua
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_aqua">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark aqua</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #00312f;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Dark blue -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_blue">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #001846;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Dark blue
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_blue">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark blue</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #001846;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Dark green -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_green">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #023600;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Dark green
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_green">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark green</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #023600;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Dark orange -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_orange">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #461c00;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Dark orange
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_orange">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark orange</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #461c00;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Dark pink -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_pink">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #3d003a;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Dark pink
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_pink">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark pink</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #3d003a;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Dark purple -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_purple">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #22004e;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Dark purple
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_purple">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark purple</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #22004e;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Dark red -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_red">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #470001;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Dark red
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_red">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark red</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #470001;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <!-- Color Dark yellow -->

                                <div class="col s12 hide-on-large-only hide-on-med-only colorSelectorMainPadre">
                                    <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_yellow">
                                        <div class="colorSelectorMainPhone shadow-2e colorGreyWhiter bordered1">
                                            <div class="colorSelectorMuestraPhone">
                                                <div class="shadow-2e" style="background-color: #312a00;"></div>
                                            </div>
                                            <div class="colorSelectorTextoPhone colorTextReverse">
                                                Dark yellow
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_yellow">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark yellow</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #312a00;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Selección de los temas para personas con problemas visuales -->

        <section style="width: 100%;">
            <div class="title-general">
                <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Accesibilidad</h5>
                <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Accesibilidad</h4>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">settings_accessibility</i>Selector de
                            temas adaptados
                        </div>
                        <div class="bordered5 collapsible-body colorWhite">

                            <div class="bordered5 opcionesContainerInterno row">

                                <div class="col s12 m12 l12">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <div class="card-stacked">
                                            <div class="card-content centerAligner verticalAligner">
                                                <div>
                                                    <p class="colorTextReverse muestraDeColorText">Paleta actual</p>
                                                </div>
                                                <div class="centerAligner horizontalAligner">
                                                    <div id="paleta1" class="shadow-3 paleta color1"></div>
                                                    <div class="shadow-3 paleta color2"></div>
                                                    <div class="shadow-3 paleta color3"></div>
                                                    <div class="shadow-3 paleta color4"></div>
                                                    <div id="paleta5" class="shadow-3 paleta color5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_yellow">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark yellow</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #312a00;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_yellow">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark yellow</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #312a00;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col s12 m4 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_yellow">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark yellow</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #312a00;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col s12 m12 l3 hide-on-small-only">
                                    <div class="card bordered1 colorGreyDarker shadow-2">
                                        <a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="dark_yellow">
                                            <div class="card-stacked">
                                                <div class="card-content verticalAligner centerAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Dark yellow</p>
                                                    </div>
                                                    <div class="bordered5 muestraDeColor"
                                                        style="background-color: #312a00;"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Selección de los idiomas -->

        <section style="width: 100%;">
            <div class="title-general">
                <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Idioma</h5>
                <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Idioma</h4>
            </div>

            <div class="opcionesContainer">
                <ul class="collapsible bordered5 colorWhite">
                    <li>
                        <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse"
                            style="margin-bottom: 5px;"><i class="material-icons">translate</i>Idiomas disponibles.
                        </div>
                        <div class="bordered5 collapsible-body colorWhite">
                            <div class="bordered5 opcionesContainerInterno row">
                                <div class="col s12 m6 l3">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Lenguaje cambiado.'})" href="#!" id="coloresAqua">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Español</p>
                                                    </div>
                                                    <img src="../static/images/paises/flag1.png" alt="bandera de china"
                                                        class="banderaConfiguracionesIdioma bordered5 shadow-3">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col s12 m6 l3">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Lenguaje cambiado.'})" href="#!" id="coloresAqua">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Ingles</p>
                                                    </div>
                                                    <img src="../static/images/paises/flag2.png" alt="bandera de china"
                                                        class="banderaConfiguracionesIdioma bordered5 shadow-3">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col s12 m6 l3">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Lenguaje cambiado.'})" href="#!" id="coloresAqua">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">
                                                            Portugues</p>
                                                    </div>
                                                    <img src="../static/images/paises/flag3.png" alt="bandera de china"
                                                        class="banderaConfiguracionesIdioma bordered5 shadow-3">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col s12 m6 l3">
                                    <div class="card bordered1 colorGreyWhiter shadow-2">
                                        <a onclick="M.toast({html: 'Lenguaje cambiado.'})" href="#!" id="coloresAqua">
                                            <div class="card-stacked">
                                                <div class="card-content centerAligner verticalAligner">
                                                    <div>
                                                        <p class="colorTextReverse muestraDeColorText">Chino
                                                            Simplificado</p>
                                                    </div>
                                                    <img src="../static/images/paises/flag4.png" alt="bandera de china"
                                                        class="banderaConfiguracionesIdioma bordered5 shadow-3">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
    <br><br>
    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}


</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}


</html>