<!doctype html>
<html lang="en">

<head>
    <title class="TDI">Inicio</title>
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}
    <!--Estos estilos quedan aqui para evitar que se mezclen con otros-->
    <link rel="stylesheet" href="../static/css/homePageStyles.css">

</head>

<body class="oculto">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 z-depth-3 fixedNavbarMine hide-on-large-only">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">menu</i></a>
        </div>
    </nav>
    <br><br>

    <!--Menu para los dispositivos moviles-->
    <ul id="slide-out" class="sidenav colorWhite">
        <li>
            <div class="user-view">
                <div class="background fondoDinamico" id="fondoBienvenida"></div>
                <br>
            </div>
        </li>
        <li><a href="/login_general" class="colorTextReverse"><i class="colorTextReverse material-icons">person</i><span class="TDI">Acceder</span></a></li>
        <li><a href="/signup_est" class="colorTextReverse"><i class="colorTextReverse material-icons">school</i><span class="TDI">Sign up estudiante</span></a></li>
        <li><a href="/signup_prof" class="colorTextReverse"><i class="colorTextReverse material-icons">history_edu</i><span class="TDI">Sign up profesor</span></a></li>
        <hr>
        <li><a href="/politica_cookies" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">cookie</i><span class="TDI">Cookies.</span></a></li>
        <li><a href="/politica_privacidad" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">privacy_tip</i><span class="TDI">Privacidad.</span></a></li>
        <li><a href="/terminos_condiciones" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">gavel</i><span class="TDI">Términos.</span></a></li>
        <li><a href="/saber_mas" class="colorTextReverse"><i class="colorTextReverse material-icons">rocket</i><span class="TDI">Saber
                más.</span></a></li>
    </ul>

    <!--Menu para las tables y los escritorios-->

    <section class="navHomePage color1 shadow-3e hide-on-med-and-down fixedNavbarMine">
        <div class="brand-logoContainer">
            <a href="" class="brand-logo hide-on-small-only">
                <div class="menuIconHomePage icon_app"></div>
            </a>
        </div>
        <div></div>
        <div class="menuButtonsNavDesktop">
            <a class="waves-effect waves-light btn-large color3" href="/login_general"><i
                    class="material-icons left">person</i><span class="TDI">Acceder</span></a>
            <a class="waves-effect waves-light btn-large color2" href="#sectionAccess"><i
                    class="material-icons left">person_add</i><span class="TDI">Registrarse</span></a>
        </div>
    </section>
    <div class="color3 hide-on-med-and-down">
        <br><br>
    </div>

    <section class="mainBody mainBodyAdicional colorGreyWhiter">
        <div class="carousel carousel-slider center caruselHomePage">
            <div class="carousel-fixed-item center">
                <a class="waves-effect btnCarouselHome waves-light btn-large color1" href="/login_general"><i
                        class="material-icons left">person</i><span class="TDI">Acceder</span></a>
            </div>
            <div class="carousel-item carouselItemModified informeCard white-text" href="#one!">
                <h2 class="titleCarousel titleCarouselOne"><span class="TDI">Diseñe</span></h2>
                <p class="white-text TDI">Pruebas totalmente personalizadas.</p>
            </div>
            <div class="carousel-item carouselItemModified iconSecondary white-text" href="#two!">
                <h2 class="titleCarousel TDI">Mida</h2>
                <p class="white-text TDI">Obtenga reportes de sus resultados.</p>
            </div>
            <div class="carousel-item carouselItemModified fondoDinamico white-text" href="#three!">
                <h2 class="titleCarousel TDI">Machine Learning</h2>
                <p class="white-text TDI">Mediciones basadas en modelos de ML.</p>
            </div>
            <div class="carousel-item carouselItemModified cardMainDesktopPanelHead white-text" href="#four!">
                <h2 class="titleCarousel TDI">Comparta</h2>
                <p class="white-text TDI">Acceda a bancos de datos.</p>
            </div>
        </div>

        <div class="title-general colorGreyWhiter hide-on-med-and-up">
            <h5 class="hide-on-med-and-up TDI">Versatilidad garantizada</h5>
        </div>

        <div class="mainBody-headerContainer shadow-5e">
            <div>
                <h1 class="titleHomePage colorText TDI">Bienvenido a JCP_helper</h1>
                <p class="colorText TDI">Obtenga <b>métricas</b> de sus resultados <br> en el aprendizaje y enseñanza de
                    programación.</p>

                <div class="menuButtonsNavDesktop hide-on-med-and-down">
                    <a class="waves-effect waves-light btn-large colorGrey colorTextReverse TDI" href="#sectionId">Conocer más</a>
                </div>
            </div>
            <div class="iconPrincipalContainer hide-on-med-and-down">
                <div class="icon_app">
                    <!--La imagen esta puesta como background-->
                </div>
            </div>
        </div>

        <div id="sectionId"></div>

        <div class="hide-on-small-only">
            <br><br><br>
        </div>

        <section>
            <div class="titleInfoContainer colorTextReverse">
                <h2 class="TDI">Saque el máximo provecho a JCP</h2>
                <hr>
            </div>
            <div class="gridInfoContainer">
                <div class="itemInfo-1">
                    <h4 class="colorText color2 shadow-1e">
                        <span class="material-icons md-24">brush</span>
                        <span class="TDI">
                            Diseñar
                        </span>
                    </h4>
                    <p class="TDI">Cree pruebas personalizadas de acuerdo a sus necesidades.</p>
                </div>
                <div class="itemInfo-2">
                    <h4 class="colorText color2 shadow-1e">
                        <span class="material-icons md-24">check_circle</span>
                        <span class="TDI">
                            Evaluar
                        </span>
                    </h4>
                    <p class="TDI">Ponga a prueba los conocimientos adquiridos.</p>
                </div>
                <div class="itemInfo-3">
                    <div class="iconBoxInfo iconBoxInfoDinamico"></div>
                </div>
                <div class="itemInfo-4">
                    <h4 class="colorText color2 shadow-1e">
                        <span class="material-icons md-24">insights</span>
                        <span class="TDI">
                            Medir
                        </span>
                    </h4>
                    <p class="TDI">Mida sus resultados y documente su avance.</p>
                </div>
                <div class="itemInfo-5">
                    <h4 class="colorText color2 shadow-1e">
                        <span class="material-icons md-24">backup</span>
                        <span class="TDI">
                            Compartir
                        </span>
                    </h4>
                    <p class="TDI">Acceda a bancos de datos con preguntas de otros usuarios.</p>
                </div>
                <div class="itemInfo-6">

                </div>
                <div class="itemInfo-7">
                    <h4 class="colorText color2 shadow-1e">
                        <span class="material-icons md-24">psychology</span>
                        <span class="TDI">
                            Machine Learning
                        </span>
                    </h4>
                    <p class="TDI">Obtenga métricas basadas en nuestros modelos de ML.</p>
                </div>
                <div class="itemInfo-8">

                </div>
            </div>
        </section>


        <section class="desktopInfoContainer colorGreyWhiter">
            <div class="titleInfoContainer colorTextReverse">
                <h2 class="TDI">Aprenda donde usted quiera.</h2>
                <hr>
                <div class="color1 colorText">
                    <p class="TDI">Utilize <b>JCP</b> donde usted quiera, en <b>celular, tableta o computadora</b>.</p>
                </div>
            </div>
            <div class="imageGalleryContainer">
                <div class="imageGalleryItem-1">
                    <img class="materialboxed shadow-1" src="../static/images/brand_app/bannerHome (1).png">
                </div>
                <div class="imageGalleryItem-2">
                    <img class="materialboxed shadow-1" src="../static/images/brand_app/bannerHome (2).png">
                </div>
                <div class="imageGalleryItem-3">
                    <img class="materialboxed shadow-1" src="../static/images/brand_app/bannerHome (9).png">
                </div>
                <div class="imageGalleryItem-4">
                    <img class="materialboxed shadow-1" src="../static/images/brand_app/bannerHome (4).png">
                </div>
                <div class="imageGalleryItem-5">
                    <img class="materialboxed shadow-1" src="../static/images/brand_app/bannerHome (5).png">
                </div>
                <div class="imageGalleryItem-6">
                    <img class="materialboxed shadow-1" src="../static/images/brand_app/bannerHome (6).png">
                </div>
                <div class="imageGalleryItem-7">
                    <img class="materialboxed shadow-1" src="../static/images/brand_app/bannerHome (7).png">
                </div>
                <div class="imageGalleryItem-8">
                    <img class="materialboxed shadow-1" src="../static/images/brand_app/bannerHome (8).png">
                </div>

            </div>
        </section>


        <div class="title-general color2">
            <h5 class="hide-on-med-and-up colorText TDI">Oferta incomparable</h5>
        </div>
        <section class="containerTablaComparativa color2 shadow-4e">
            <div class="titleInfoContainer titleInfoModified colorText">
                <h2 class="TDI">Oferta de valor incomparable.</h2>
                <hr>
                <div class="color1 colorText">
                    <p class="TDI">Conozca todas la funcionalidades</b>.</p>
                </div>
            </div>
            <div class="tableMainContainer">
                <div class="colorGrey">
                    <table class="centered highlight responsive-table">
                        <thead>
                            <tr>
                                <th class="TDI colorTextReverse">Característica</th>
                                <th class="color1 colorText shadow-4e ourColumn firstOurColumn TDI">JCP_helper</th>
                                <th class="TDI colorTextReverse">Google Forms</th>
                                <th class="TDI colorTextReverse">Online exam builder</th>
                                <th class="TDI colorTextReverse">Kahoot!</th>
                                <th class="TDI colorTextReverse">Growledge</th>
                                <th class="TDI colorTextReverse">Gexcat</th>
                                <th class="TDI colorTextReverse">Socrative</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="TDI colorTextReverse">Pruebas personalizadas</td>
                                <td class="color1 colorText shadow-4e ourColumn">✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td class="TDI colorTextReverse">Banco de preguntas</td>
                                <td class="color1 colorText shadow-4e ourColumn">✅</td>
                                <td>❌</td>
                                <td>❌</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>❌</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td class="TDI colorTextReverse">Interfaz responsiva</td>
                                <td class="color1 colorText shadow-4e ourColumn">✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>❌</td>
                                <td>❌</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td class="TDI colorTextReverse">Interfaz personalizable</td>
                                <td class="color1 colorText shadow-4e ourColumn">✅</td>
                                <td>❌</td>
                                <td>❌</td>
                                <td>❌</td>
                                <td>✅</td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td class="TDI colorTextReverse">Generador de reportes</td>
                                <td class="color1 colorText shadow-4e ourColumn">✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td class="TDI colorTextReverse">Live coder</td>
                                <td class="color1 colorText shadow-4e ourColumn">✅</td>
                                <td>❌</td>
                                <td>❌</td>
                                <td>❌</td>
                                <td>❌</td>
                                <td>❌</td>
                                <td>❌</td>
                            </tr>
                            <tr>
                                <td class="TDI colorTextReverse">Registro de resultados</td>
                                <td class="color1 colorText shadow-4e ourColumn">✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                                <td>✅</td>
                            </tr>
                            <tr>
                                <td class="TDI colorTextReverse">Modelos de análisis de métricas</td>
                                <td class="color1 colorText shadow-4e ourColumn lastOurColumn">✅</td>
                                <td>❌</td>
                                <td>✅</td>
                                <td>❌</td>
                                <td>❌</td>
                                <td>❌</td>
                                <td>✅</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="containerCreateAccountHome" id="sectionAccess">
            <div class="containerCreateAccountHomeSecondary">
                <p class="colorText tituloSeleccion TDI">¿Qué tipo de usuario es?</p>
                <div class="colorGreyWhiter cardContainerWhatToDo">
                    <div class="cardContainerWhatToDoSon1">
                        <a class="waves-effect waves-light btn-large color3" href="/signup_est"><i
                                class="material-icons left">school</i><span class="TDI">Estudiante</span></a>
                    </div>
                    <div class="cardContainerWhatToDoSon2">
                        <a class="waves-effect waves-light btn-large color2" href="/signup_prof"><i
                                class="material-icons left">history_edu</i><span class="TDI">Docente</span></a>
                    </div>
                </div>
            </div>
        </section>

    </section>


</body>

<!--Botones para que el gestor de idiomas no falle-->
<span class="hiddenElement" id="seleccionarEspanol"></span>
<span class="hiddenElement" id="seleccionarIngles"></span>
<span class="hiddenElement" id="seleccionarPortugues"></span>
<span class="hiddenElement" id="seleccionarChino"></span>

<!--Metemos el footer en la app-->
{% include "includes/footer.html" %}
</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}
<script src="../static/js/idiomas/textos.mjs" type="module"></script>
<script src="../static/js/idiomas/gestorIdiomas.js" type="module"></script>


</html>