<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap CSS v5.0.2 -->
     <link rel="stylesheet" href="../static/css/styles.css">
     <link rel="stylesheet" href="../static/css/cardsMain.css">
     <link rel="stylesheet" href="../static/css/materialize.css">
     <link rel="stylesheet" href="../static/css/sombras.css">
     <link rel="stylesheet" href="" id="theme">
     <link href="http://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Saber más</title>
</head>
<body>
    <p>Saber más</p>
</body>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/materialize.min.js"></script>
<script src="../static/js/materializeCall.js"></script>
<script src="../static/js/selectorTema.js"></script>
</html>