<!doctype html>
<html lang="en">

<head>
    <title>Bienvenida Profesor</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}


</head>

<body class="oculto">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 z-depth-3">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                    class="material-icons">menu</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Panel central.</p>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="configuraciones" class="btn color2 button-rounded"><i
                            class="material-icons left">settings</i>Configuraciones</a></li>
                <li><a href="#!" class="btn color2 button-rounded"><i class="material-icons left">help</i>Ayuda</a></li>
                <li><a href="#!" class="btn color3 button-rounded"><i
                            class="material-icons left">directions_run</i>Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>


    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../static/images/sidenavImage.jpg" width="100%">
                </div>
                <a href="#user"><img class="circle" src="../static/images/user.png"></a>
                <a href="#name"><span class="white-text name"><b>Cuenta de estudiante</b></span></a>
                <a href="#name"><span class="white-text name">Nombre del usuario</span></a>
                <a href="#email"><span class="white-text email">Alias del usuario</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">workspaces</i>Gestionar grupos.</a></li>
        <li><a href="#!"><i class="material-icons">rule</i>Gestionar cuestionarios.</a></li>
        <li><a href="#!"><i class="material-icons">poll</i>Gestionar estadísticas.</a></li>
        <li><a href="#!"><i class="material-icons">supervised_user_circle</i>Comunidad.</a></li>
        <hr>
        <li><a href="#!"><i class="material-icons">school</i>Tutorial.</a></li>
        <li><a href="configuraciones"><i class="material-icons">settings</i>Configuraciones.</a></li>
        <li><a href="#!"><i class="material-icons">help</i>Ayuda.</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">Temas<i class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresDefault">Normal</a>
                            </li>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresAqua">Aqua</a></li>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresBlue">Azul</a></li>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresBronce">Bronce</a>
                            </li>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresCafe">Cafe</a></li>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresGotico">Gótico</a>
                            </li>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresNaranja">Naranja</a>
                            </li>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresPink">Rosa</a></li>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresPurple">Purpura</a>
                            </li>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresRed">Rojo</a></li>
                            <li><a onclick="M.toast({html: 'Tema aplicado.'})" href="#!" id="coloresModoOscuro">Modo
                                    Oscuro</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <hr>
        <li><a href="#!"><i class="material-icons">directions_run</i>Cerrar sesión.</a></li>
    </ul>

    <section class="mainBodyAdicional">
        <div class="title-general colorGrey">
            <h4 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Menú de opciones</h4>
            <h3 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Menú de opciones</h3>
        </div>

        <!--Para dispositivos de tabletas-->
        <section class="hide-on-small-only hide-on-med-only centerAligner verticalAligner colorGrey" style="padding: 30px;">
            <section class="centerAligner horizontalAligner">
                <div class="cardMainDesktopPanel shadow-2 bordered2">
                    <div class="cardMainDesktopPanelHead centerAligner">Gestionar grupos</div>
                    <div class="centerAligner horizontalAligner">
                        <div class="cardMainDesktopPanelLeft centerAlignerNoWidth colorGreyWhiter">
                            <p><i class="material-icons">workspaces</i></p>
                        </div>
                        <div class="cardMainDesktopPanelRight centerAlignerNoWidth colorGreyWhiter">Crear, editar,
                            eliminar y administrar los grupos de estudiantes.</div>
                    </div>
                </div>

                <div class="cardMainDesktopPanel shadow-2 bordered2">
                    <div class="cardMainDesktopPanelHead centerAligner">Gestionar cuestionarios</div>
                    <div class="centerAligner horizontalAligner">
                        <div class="cardMainDesktopPanelLeft centerAlignerNoWidth colorGreyWhiter">
                            <p><i class="material-icons">rule</i></p>
                        </div>
                        <div class="cardMainDesktopPanelRight centerAlignerNoWidth colorGreyWhiter">Crear, editar, eliminar,
                            administrar los cuestionarios.</div>
                    </div>
                </div>
            </section>

            <section class="centerAligner horizontalAligner">
                <div class="cardMainDesktopPanel shadow-2 bordered2">
                    <div class="cardMainDesktopPanelHead centerAligner">Gestionar estadísticas</div>
                    <div class="centerAligner horizontalAligner">
                        <div class="cardMainDesktopPanelLeft centerAlignerNoWidth colorGreyWhiter">
                            <p><i class="material-icons">poll</i></p>
                        </div>
                        <div class="cardMainDesktopPanelRight centerAlignerNoWidth colorGreyWhiter">Ver estadísticas diversas sobre
                            los grupos creados y las pruebas publicadas.</div>
                    </div>
                </div>

                <div class="cardMainDesktopPanel shadow-2 bordered2">
                    <div class="cardMainDesktopPanelHead centerAligner">Comunidad</div>
                    <div class="centerAligner horizontalAligner">
                        <div class="cardMainDesktopPanelLeft centerAlignerNoWidth colorGreyWhiter">
                            <p><i class="material-icons">supervised_user_circle</i></p>
                        </div>
                        <div class="cardMainDesktopPanelRight centerAlignerNoWidth colorGreyWhiter">Acceder a la comunidad para poder
                            compartir y ver cuestionarios.</div>
                    </div>
                </div>
            </section>
        </section>

        <!--Para dispositivos de tabletas-->
        <section class="hide-on-small-only hide-on-large-only centerAligner verticalAligner colorGrey">
            <section class="centerAligner horizontalAligner containerCardsDesktop">
                <div class="shadow-4 bordered2 cardMainCarouselContainer">
                    <div class="centerAligner cardCarouselMainHead">
                        <p><i class="material-icons">workspaces</i></p>
                    </div>
                    <div class="colorGreyWhiter cardCarouselMainBody centerAligner">Gestionar grupos</div>
                    <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">Crear, editar, eliminar y
                        administrar los grupos de estudiantes.</div>
                </div>

                <div class="shadow-4 bordered2 cardMainCarouselContainer">
                    <div class="centerAligner cardCarouselMainHead">
                        <p><i class="material-icons">rule</i></p>
                    </div>
                    <div class="colorGreyWhiter cardCarouselMainBody centerAligner">Gestionar cuestionarios</div>
                    <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">Crear, editar, eliminar,
                        administrar los cuestionarios.</div>
                </div>
            </section>

            <section class="centerAligner horizontalAligner containerCardsDesktop">
                <div class="shadow-4 bordered2 cardMainCarouselContainer">
                    <div class="centerAligner cardCarouselMainHead">
                        <p><i class="material-icons">poll</i></p>
                    </div>
                    <div class="colorGreyWhiter cardCarouselMainBody centerAligner">Gestionar estadísticas</div>
                    <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">Ver estadísticas diversas sobre
                        los grupos creados y las pruebas publicadas.</div>
                </div>

                <div class="shadow-4 bordered2 cardMainCarouselContainer">
                    <div class="centerAligner cardCarouselMainHead">
                        <p><i class="material-icons">supervised_user_circle</i></p>
                    </div>
                    <div class="colorGreyWhiter cardCarouselMainBody centerAligner">Comunidad</div>
                    <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">Acceder a la comunidad para poder
                        compartir y ver cuestionarios.</div>
                </div>
            </section>
            <br><br>
        </section>

        <!--Para dispositivos móviles-->
        <section class="owl-carousel owl-theme hide-on-med-and-up colorGrey">
            <div class="item">
                <a href="gestionar_grupos">
                    <div class="shadow-2e bordered2">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">workspaces</i></p>
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainBody centerAligner colorTextReverse">Gestionar
                            grupos</div>
                        <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">
                            <p class="center-align colorTextReverse">Crear, editar, eliminar y administrar los grupos de
                                estudiantes.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="gestionar_cuestionarios">
                    <div class="shadow-2e bordered2">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">style</i></p>
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainBody centerAligner colorTextReverse">Gestionar
                            cuestionarios</div>
                        <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">
                            <p class="center-align colorTextReverse">Crear, editar, eliminar, administrar los
                                cuestionarios.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="gestionar_estadisticas">
                    <div class="shadow-2e bordered2">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">poll</i></p>
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainBody centerAligner colorTextReverse">Gestionar
                            estadísticas</div>
                        <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">
                            <p class="center-align colorTextReverse">Ver estadísticas diversas sobre los grupos creados
                                y
                                las pruebas
                                publicadas.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="comunidad_profesor">
                    <div class="shadow-2e bordered2">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">supervised_user_circle</i></p>
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainBody centerAligner colorTextReverse">Comunidad</div>
                        <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">
                            <p class="center-align colorTextReverse">Acceder a la comunidad para poder compartir y ver
                                cuestionarios.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item" style="width: 100px;">

            </div>
        </section>

        <!--Resumen de actividad-->
        <section class="centerAligner verticalAligner mainBody">
            <div class="title-general">
                <h4 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Resumen de actividad</h4>
                <h3 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Resumen de actividad</h3>
            </div>
            <div class="rounded4 colorGrey shadow-2" style="width: 100%; margin: 0 40px 0 40px; padding: 0 0 0 30px;">
                <p>Futuros recuadros</p>
            </div><br>
            <div class="rounded4 colorGrey shadow-2" style="width: 100%; margin: 0 40px 0 40px; padding: 0 0 0 30px;">
                <p>Futuros recuadros</p>
            </div><br>
            <div class="rounded4 colorGrey shadow-2" style="width: 100%; margin: 0 40px 0 40px; padding: 0 0 0 30px;">
                <p>Futuros recuadros</p>
            </div><br>
        </section>


    </section>

    <br><br><br>

    <!--Metemos el footer en la app-->
    {% include "includes/footer.html" %}


</body>


<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}


</html>