<!doctype html>
<html lang="en">

<head>
    <title class="TDI">Bienvenida Estudiante</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}
    <link rel="stylesheet" href="../../static/css/notificaciones.css">


</head>

<body class="oculto colorGreyDarker">
    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 z-depth-3 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                    class="material-icons">menu</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up TDI">Panel central.</p>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/configuraciones_alumno" class="btn color2 button-rounded"><i
                            class="material-icons left">settings</i>
                        <span class="TDI">
                            Configuraciones
                        </span>
                    </a></li>
                <li>
                    <a href="/ayuda" class="btn color2 button-rounded"><i class="material-icons left">help</i>
                        <span class="TDI">
                            Ayuda
                        </span>
                    </a>
                </li>
                <li><a href="/logoutEstudiante" class="btn color3 button-rounded"><i
                            class="material-icons left">directions_run</i>
                        <span class="TDI">
                            Cerrar sesión
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br>

    <!--Menu para los dispositivos moviles-->
    <ul id="slide-out" class="sidenav colorWhite">
        <li>
            <div class="user-view">
                <!-- se tiene que estar logeado para ver el nombre y la foto -->
                {% if datos %}
                <div class="background fondoDinamico" id="fondoBienvenida"></div>
                <a href="/perfil_alumno"><img style="border: 3px solid #fff;" class="circle shadow-3e"
                        src="../../static/images/alumnos/{{datos[3]}}"></a>
                <a href="#"><span class="white-text name"><b class="TDI">Cuenta de estudiante</b></span></a>
                <a href="#"><span class="white-text name" style="margin-top: 0;">
                        {{datos[1]}}
                    </span></a>
                <a href="#"><span class="white-text name" style="margin-top: 0;">
                        {{datos[4]}}
                    </span></a>
                <br>
                {% endif %}
            </div>
        </li>
        <li><a href="/mis_grupos/{{datos[0]}}" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">groups_2</i>
                <span class="TDI">
                    Mis grupos.
                </span>
            </a>
        </li>
        <li><a href="/gestionar_resultados_alumno/{{datos[0]}}" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">grade</i>
                <span class="TDI">
                    Mis resultados.
                </span>
            </a>
        </li>
        <hr>
        <li><a href="/configuraciones_alumno" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">settings</i><span class="TDI">Configuraciones.</span></a>
        </li>
        <li><a href="/ayuda" class="colorTextReverse"><i class="colorTextReverse material-icons">help</i>
                <span class="TDI">Ayuda.</span></a></li>
        <hr>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header colorTextReverse"><span class="TDI">Temas</span><i
                            class="material-icons colorTextReverse">expand_more</i></a>
                    <div class="collapsible-body">
                        <ul class="colorWhite">
                            <li>
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header colorTextReverse"><span class="TDI">Temas
                                                clásicos</span><i
                                                class="material-icons colorTextReverse">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul class="colorWhite">
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="coloresDefault"
                                                        class="colorTextReverse">Green jungle</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="coloresAqua"
                                                        class="colorTextReverse">Aqua</a></li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="coloresBlue"
                                                        class="colorTextReverse">Blue</a></li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="coloresBronce"
                                                        class="colorTextReverse">Metal</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="coloresCafe"
                                                        class="colorTextReverse">Cafe</a></li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="coloresGotico"
                                                        class="colorTextReverse">Sad mode</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="coloresNaranja"
                                                        class="colorTextReverse">Happy orange</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="coloresPink"
                                                        class="colorTextReverse">Pink panter</a></li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="coloresPurple"
                                                        class="colorTextReverse">Purple mood</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="coloresRed"
                                                        class="colorTextReverse">Red color</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header colorTextReverse TDI">Temas oscuros<i
                                                class="material-icons colorTextReverse">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul class="colorWhite">
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!"
                                                        id="coloresModoOscuro" class="colorTextReverse">Dark mode</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="dark_aqua"
                                                        class="colorTextReverse">Dark aqua</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="dark_blue"
                                                        class="colorTextReverse">Dark blue</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="dark_green"
                                                        class="colorTextReverse">Dark green</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="dark_orange"
                                                        class="colorTextReverse">Dark
                                                        orange</a></li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="dark_pink"
                                                        class="colorTextReverse">Dark pink</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="dark_purple"
                                                        class="colorTextReverse">Dark purple</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="dark_red"
                                                        class="colorTextReverse">Dark red</a></li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="dark_yellow"
                                                        class="colorTextReverse">Dark yellow</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header colorTextReverse TDI">Accesibilidad<i
                                                class="material-icons colorTextReverse">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                            <ul class="colorWhite">
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="deuteranomalia"
                                                        class="colorTextReverse">Deuteranomaly</a>
                                                </li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="deuteranopia"
                                                        class="colorTextReverse">Deuteranopia</a></li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="protanopia"
                                                        class="colorTextReverse">Protanopia</a></li>
                                                <li><a onclick="M.toast({html: '😀👍'})" href="#!" id="tritanopia"
                                                        class="colorTextReverse">Tritanopia</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <hr>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header colorTextReverse TDI">Adicionales<i
                            class="material-icons colorTextReverse">expand_more</i></a>
                    <div class="collapsible-body">
                        <ul class="colorWhite">
                            <li><a href="/politica_cookies" class="colorTextReverse"><i
                                        class="colorTextReverse material-icons">cookie</i><span
                                        class="TDI">Cookies.</span></a></li>
                            <li><a href="/politica_privacidad" class="colorTextReverse"><i
                                        class="colorTextReverse material-icons">privacy_tip</i><span
                                        class="TDI">Privacidad.</span></a></li>
                            <li><a href="/terminos_condiciones" class="colorTextReverse"><i
                                        class="colorTextReverse material-icons">gavel</i><span
                                        class="TDI">Términos.</span></a></li>
                            <li><a href="/saber_mas" class="colorTextReverse"><i
                                        class="colorTextReverse material-icons">rocket</i><span class="TDI">Saber
                                        más.</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <hr>
        <li><a href="/logoutEstudiante" class="colorTextReverse"><i
                    class="material-icons colorTextReverse">directions_run</i>
                <span class="TDI">Cerrar
                    sesión.</span></a></li>
    </ul>

    <!--Cuerpo principal del documento-->
    <section class="mainBodyAdicional">
        <div class="title-general colorGreyDarker">
            <h5 class="hide-on-large-only TDI">Menú de opciones</h5>
            <h4 class="hide-on-med-and-down TDI">Menú de opciones</h4>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% if datosGrupo != Null %}
        {% for message in messages %}
        <div id="login_success">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% endwith %}
        <!--Para dispositivos de escritorio-->
        <section class="hide-on-small-only hide-on-med-only centerAligner verticalAligner colorGreyDarker"
            style="padding: 30px;">
            <section class="centerAligner horizontalAligner">
                <a href="/mis_grupos/{{datos[0]}}">
                    <div class="borderDecoration cardMainDesktopPanel shadow-2 bordered2">
                        <div class="cardMainDesktopPanelHead centerAligner TDI">Mis grupos</div>
                        <div class="centerAligner horizontalAligner">
                            <div class="cardMainDesktopPanelLeft centerAlignerNoWidth colorGreyWhiter">
                                <p><i class="material-icons colorTextReverse">groups_2</i></p>
                            </div>
                            <div
                                class="cardMainDesktopPanelRight centerAlignerNoWidth colorTextReverse colorGreyWhiter TDI">
                                Acceda a sus grupos y resuelva sus cuestionarios.</div>
                        </div>
                    </div>
                </a>


                <a href="/gestionar_resultados_alumno/{{datos[0]}}">
                    <div class="borderDecoration cardMainDesktopPanel shadow-2 bordered2">
                        <div class="cardMainDesktopPanelHead centerAligner TDI">Mis resultados</div>
                        <div class="centerAligner horizontalAligner">
                            <div class="cardMainDesktopPanelLeft centerAlignerNoWidth colorGreyWhiter">
                                <p><i class="material-icons colorTextReverse">grade</i></p>
                            </div>
                            <div
                                class="cardMainDesktopPanelRight centerAlignerNoWidth colorTextReverse colorGreyWhiter TDI">
                                Revise sus resultado obtenidos en los cuestionarios.</div>
                        </div>
                    </div>
                </a>
            </section>
        </section>

        <!--Para dispositivos de tabletas-->
        <section class="hide-on-small-only hide-on-large-only centerAligner verticalAligner colorGreyDarker">
            <section class="centerAligner horizontalAligner containerCardsDesktop">
                <a href="/mis_grupos/{{datos[0]}}">
                    <div class="borderDecoration shadow-4 bordered2 cardMainCarouselContainer">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">groups_2</i></p>
                        </div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainBody centerAligner TDI">Mis
                            grupos</div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainFooter centerAligner TDI">Acceda a
                            sus
                            grupos y resuelva sus cuestionarios.</div>
                    </div>
                </a>

                <a href="/gestionar_resultados_alumno/{{datos[0]}}">
                    <div class="borderDecoration shadow-4 bordered2 cardMainCarouselContainer">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">grade</i></p>
                        </div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainBody centerAligner TDI">Mis
                            resultados</div>
                        <div class="colorGreyWhiter colorTextReverse cardCarouselMainFooter centerAligner TDI">Revise
                            sus
                            resultado obtenidos en los cuestionarios.</div>
                    </div>
                </a>
            </section>
            <br><br>
        </section>

        <!--Para dispositivos móviles-->
        <section class="owl-one owl-carousel owl-theme hide-on-med-and-up colorGreyDarker">
            <div class="item">
                <a href="/mis_grupos/{{datos[0]}}">
                    <div class="borderDecoration shadow-2e bordered2">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">groups_2</i></p>
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainBody centerAligner colorTextReverse TDI">Mis grupos
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">
                            <p class="center-align colorTextReverse TDI">Acceda a sus grupos y resuelva sus
                                cuestionarios.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="/gestionar_resultados_alumno/{{datos[0]}}">
                    <div class="borderDecoration shadow-2e bordered2">
                        <div class="centerAligner cardCarouselMainHead">
                            <p><i class="material-icons">grade</i></p>
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainBody centerAligner colorTextReverse TDI">Mis
                            resultados
                        </div>
                        <div class="colorGreyWhiter cardCarouselMainFooter centerAligner">
                            <p class="center-align colorTextReverse TDI">Revise sus resultado obtenidos en los
                                cuestionarios.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item" style="width: 100px;">

            </div>
        </section>

        <!--Buscador de grupos-->
        <section class="colorGreyWhiter contenedorBuscadorGrupo">
            <div class="buscadorContainerMainStudent">
                <form action="{{ url_for('routes.search_group')}}" method="post">
                    <input type="text" name="buscadorGruposCodigo" id="buscadorGruposCodigo"
                        class="browser-default shadow-1 flow-text bordered5" placeholder="🔎 Group code">
                    {% if datos %}
                    <input type="hidden" name="idUsuario" value="{{datos[0]}}">
                    {% endif %}
                    <button class="btn waves-effect waves-light color2 colorText bordered5" type="submit">
                        <i class="material-icons">search</i>
                    </button>
                </form>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% if datosGrupo == Null %}
            {% for message in messages %}
            <div id="error_login">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% endwith %}
            <div class="resultadoContainerMainStudent">
                {% if datosGrupo %}
                <div class="cardBusquedaGrupoMain shadow-3e">
                    <div id="cardBusqueda" class="part1cardBusquedaGrupoMain fondoDinamico"
                        style="background-image: url('{{datosGrupo[4]}}');">

                    </div>
                    <div class="part2cardBusquedaGrupoMain colorGreyDarker colorTextReverse">
                        {{datosGrupo[2]}}
                    </div>
                    <div class="part3cardBusquedaGrupoMain colorGrey colorTextReverse">
                        {{datosGrupo[3]}}
                    </div>
                    <div class="part4cardBusquedaGrupoMain colorGreyDarker">
                        <a id="linkGrupoAccess" href="/entrarGrupo/{{datosGrupo[0]}}/{{datosGrupo[1]}}/{{datos[0]}}/"
                        class="btn waves-effect waves-light bordered3 color2 colorText politicasNButton TDI">Enter</a>
                    </div>
                    <script>
                        let idioma = localStorage.getItem('idioma');
                        let linkGrupoAccess = document.getElementById('linkGrupoAccess');
                        let linkAcceso = linkGrupoAccess.getAttribute('href');
                        let valorAccesoFinal = linkAcceso+idioma
                        linkGrupoAccess.setAttribute('href', valorAccesoFinal)
                    </script>
                </div>
                {% endif %}
            </div>
        </section>

    </section>
    <!--
        Seccion de notificaciones
    -->

    <!--Modal para las notificaciones-->
    <div id="modal1" class="modal bordered2 colorGreyWhiter" style="height: 100vh;">
        <div class="modal-content">
            <h4 class="TDI">Notificaciones recientes</h4>

            <section id="contenidoNotificaciones">

            </section>

            <div class="bordered1 shadow-1e gotoMoreNotifications hiddenElement" id="yesNoti">
                <form action="/gestorNotificacionesAlumno" method="post">
                    <input type="hidden" value="{{datos[0]}}" name="idUsuarioNotificaciones"
                        id="idUsuarioNotificaciones">
                    <button type="submit" class="btn btn-large bordered3 color2 colorText TDI">Ver todas las
                        notificaciones</button>
                </form>
            </div>

            <div class="notFoundMsg_custom" id="notNoti">
                <div>
                    <h5><b class="TDI">Sin notificaciones por el momento.</b></h5>
                </div>
                <div><img src="../../static/images/icons/icon_no_notification.svg"></div>
            </div>
        </div>
    </div>

    <input type="hidden" value="{{notificaciones}}" name="notificacionesValue" id="notificacionesValue">

    <!--Boton para notificaciones-->
    <div class="fixed-action-btn" id="buttonNotificationOurs">
        <a class="btn-floating btn-large color3 modal-trigger" href="#modal1">
            <i class="large material-icons animate__animated" id="iconNotificationOurs">notifications</i>
        </a>
        <div id="contadorNotificacion" class="color1 colorText bordered3">0</div>
    </div>

    <!--Botones para que el gestor de idiomas no falle-->
    <span class="hiddenElement" id="seleccionarEspanol"></span>
    <span class="hiddenElement" id="seleccionarIngles"></span>
    <span class="hiddenElement" id="seleccionarPortugues"></span>
    <span class="hiddenElement" id="seleccionarChino"></span>

</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<script src="../../static/js/bienvenidaEfectos.js"></script>
<script src="../../static/js/buscadorGruposCodigo.js"></script>
<script src="../../static/js/efectosNotificaciones.js"></script>

<script src="../static/js/idiomas/textos.mjs" type="module"></script>
<script src="../static/js/idiomas/gestorIdiomas.js" type="module"></script>


</html>