<!doctype html>
<html lang="en">

<head>
    <title>La revisión sigue pendiente</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto color2">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color1">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">Pendiente.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Pendiente.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>

    <section class="containerIntentosInfo">
        <h4 class="colorText hide-on-small-only">Debe esperar a que su docente evalué algunas preguntas.</h4>
        <h5 class="colorText hide-on-med-and-up">Debe esperar a que su docente evalué algunas preguntas.</h5>
        <p class="colorText">Algunas preguntas del cuestionario deben ser evaluadas de manera manual por el docente.</p>
        <img src="../../static/images/icons/icon_cuestionario_pending.svg" id="iconIntentos">
        <form action="/cuestionarioPendiente/{{datosCuestionario[0][0]}}" method="post">
            <input type="hidden" name="idEstudiante" value="{{idEstudiante}}">
            <button type="submit" class="waves-effect waves-light btn-large colorWhite coloredText shadow-2e button-rounded">Regresar</button>
        </form>
    </section>
</body>
<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}
</html>