<!doctype html>
<html lang="en">

<head>
    <title>Ha terminado el cuestionario</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}

</head>

<body class="oculto color2">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}


    <!--Menu de página de inicio-->
    <nav class="color1">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only">Terminado.</a>
            <a href="bienvenidaProfesor" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up">Terminado.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="bienvenidaProfesor" class="btn color3 button-rounded">Volver al inicio</a></li>
            </ul>
        </div>
    </nav>

    <section class="containerIntentosInfo">
        <h4 class="colorText hide-on-small-only">La revisión ha sido terminada.</h4>
        <h5 class="colorText hide-on-med-and-up">La revisión ha sido terminada.</h5>
        <p class="colorText">El resultado ha sido registrado satisfactoriamente.</p>
        <img src="../../static/images/icons/icon_cuestionario_terminado.svg" id="iconIntentos">
        <form action="/cuestionarioListo/{{datosCuestionario[0][0]}}" method="post"
            style="display: flex; justify-content:center; align-items: center; flex-direction: column;">
            <input type="hidden" id="idEstudiante" name="idEstudiante" value="{{idEstudiante}}">
            <input type="hidden" id="pedirApelacion" name="pedirApelacion" value="apelar">
            <input type="hidden" id="idCuestionarioHecho" name="idCuestionarioHecho" value="{{idCuestionarioHecho}}">
            <button type="submit" id="aceptarResultado"
                class="waves-effect waves-light btn-large colorWhite coloredText shadow-2e button-rounded">Regresar</button><br>
            <button type="submit" id="apelarResultado"
                class="waves-effect waves-light btn-large color2 colorText shadow-2e button-rounded">Apelar
                resultado</button>
        </form>
    </section>

    <!--Pop up para agregar un comentario de retroalimentacion-->
    <div id="comentarioRetroalimentacion" class="modal bordered2 colorGrey">
        <div class="modal-content">
            <h4>Retroalimentación.</h4>
            <p>Escriba un comentario de retroalimentación para este curso y su profesor podrá saber las areas de
                oportunidad en las evaluaciones.</p>
            <hr>
            <form action="/enviarRetroalimentacion" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">feedback</i>
                        <textarea maxlength="160" name="feedbackContent" id="feedbackContent" class="materialize-textarea"></textarea>
                        <label for="feedbackContent">Feedback</label>
                    </div>
                </div>
                <input type="hidden" name="id_cuestionario" value="{{datosCuestionario[0][0]}}">
                <input type="hidden" name="id_grupo" value="{{datosCuestionario[0][1]}}">
                <input type="hidden" name="id_estudiante" value="{{idEstudiante}}">

                <button class="waves-effect waves-light btn infoColorButton shadow-2e button-rounded"
                    style="width: 100%;">Enviar</button>
            </form>
        </div>
    </div>

</body>

<!--Boton para ir hacia arriba-->
<div class="fixed-action-btn">
    <a href="#comentarioRetroalimentacion" class="btn-floating btn-large color1 modal-trigger">
        <i class="large material-icons">feedback</i>
    </a>
</div>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<!--Codigo para validar la apelacion-->
<script src="../../static/js/operacionDeApelarEstudiante.js"></script>

</html>