<!doctype html>
<html lang="en">

<head>
    <title class="TDI">Resultados alumno</title>

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/encabezadoRecursos.html" %}
    <link rel="stylesheet" href="../../static/css/reportesEstilosCards.css">

</head>

<body class="oculto colorGrey">

    <!--Jalamos todo el contenido del encabezado-->
    {% include "includes/cargador.html" %}

    <!--Menu de página de inicio-->
    <nav class="color2 fixedNavbarMine">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-small-only TDI">Mis resultados</a>
            <a href="/bienvenidaEstudiante" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">arrow_back</i></a>
            <p class="titleMobile colorText flow-text hide-on-med-and-up TDI">Mis resultados.</p>
            <ul class="right hide-on-med-and-down">
                <li><a href="/bienvenidaEstudiante" class="btn color3 button-rounded TDI">Volver</a></li>
            </ul>
        </div>
    </nav>

    <!--Menu lateral para las pantallas grandes-->
    <section class="operationContainerPrincipalCuestionarios">
        <!--Contenedor principal-->
        <section class="operationMainMisResultados">

            <!--Titulos de la página-->
            <div class="title-general color1 fixedTitleOperationMain shadow-2e" id="cajaTituloBuscadorId">
                <h6 class="colorText hide-on-large-only hide-on-med-only TDI" id="cajaTituloBuscadorContenidoId">Panel
                    global</h6>
                <h5 class="colorText hide-on-small-only TDI" id="cajaTituloBuscadorContenidoLargeId">Panel global</h5>
            </div>

            <br><br><br><br>

            <!--Stats de los estudiantes-->
            <div class="titleReportsStyle_student">
                <h5 class="colorTextReverse">Stats de interés</h5>
            </div>
            <section class="gridStatsEstudiantes_resultados">
                <div class="colorWhite bordered1 shadow-1" id="stat_1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ab repellat deserunt nulla ducimus provident tempore temporibus odit hic velit, accusamus laudantium accusantium eos et alias ullam. Tempore, vel aut!
                </div>
                <div class="colorWhite bordered1 shadow-1" id="stat_2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ab repellat deserunt nulla ducimus provident tempore temporibus odit hic velit, accusamus laudantium accusantium eos et alias ullam. Tempore, vel aut!
                </div>
                <div class="colorWhite bordered1 shadow-1" id="stat_3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ab repellat deserunt nulla ducimus provident tempore temporibus odit hic velit, accusamus laudantium accusantium eos et alias ullam. Tempore, vel aut!
                </div>
                <div class="colorWhite bordered1 shadow-1" id="stat_4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ab repellat deserunt nulla ducimus provident tempore temporibus odit hic velit, accusamus laudantium accusantium eos et alias ullam. Tempore, vel aut!
                </div>
                <div class="colorWhite bordered1 shadow-1" id="stat_5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ab repellat deserunt nulla ducimus provident tempore temporibus odit hic velit, accusamus laudantium accusantium eos et alias ullam. Tempore, vel aut!
                </div>
            </section>

            <!--Reportes de los estudiantes-->
            <div class="titleReportsStyle_student">
                <h5 class="colorTextReverse">Reportes</h5>
            </div>
            <div class="contenedorReportes-grid-card">
                {% if cuestionariosDevuelta %}
                {%for i in range(0, cuestionariosDevuelta|length)%}
                <div class="card-report-download colorGreyWhiter bordered1 shadow-1">
                    <div class="title-report-download">
                        <p class="title-report-download-content">{{cuestionariosDevuelta[i][2]}}</p>
                    </div>
                    <div class="btn-container-report-download">
                        <a href="/descargar_resultados_cuestionario_pdf/{{cuestionariosDevuelta[i][0]}}"
                            class="btn-report-download waves-effect waves-light btn colorWhite coloredText shadow-1">
                            <i class="material-icons md-24">file_download</i></a>

                    </div>
                </div>
                {%endfor%}
                {% endif %}
            </div>
        </section>
    </section>
    <!--Botones para que el gestor de idiomas no falle-->
    <span class="hiddenElement" id="seleccionarEspanol"></span>
    <span class="hiddenElement" id="seleccionarIngles"></span>
    <span class="hiddenElement" id="seleccionarPortugues"></span>
    <span class="hiddenElement" id="seleccionarChino"></span>

</body>

<!--Jalamos todo el contenido del encabezado-->
{% include "includes/footerRecursos.html" %}

<!--Boton para regresar a la parte de arriba-->
<script src="../../static/js/operacionesEditarPerfil.js"></script>

<!-------------------------------------------------------------------->
<!--Accedemos a la data de la BD con python-->
<input type="hidden" value="{{cuestionariosHechos_allData}}" id="datos_cuestionario_hechos_alumno">
<!--Tenemos nuestro script para limpiar los datos obtenidos-->
<script src="../../static/js/graficas_alumno/obtencionData_alumno.js"></script>
<!-------------------------------------------------------------------->

<!--Traductor-->
<script src="../static/js/idiomas/textos.mjs" type="module"></script>
<script src="../static/js/idiomas/gestorIdiomas.js" type="module"></script>

</html>