<!--Seccion para dispositivos moviles-->
<section class="mainBodyAdicional" id="slider_recomendaciones_id">
    <section class="owl-five owl-carousel owl-theme">
        <div class="item" style="margin-left: 20px;">
            <a href="gestionar_grupos">
                <div class="miniBadge bordered5 shadow-1e color1 colorText">
                    <i class="material-icons">local_fire_department</i>
                    Tendencias
                </div>
            </a>
        </div>
        <div class="item">
            <a href="gestionar_grupos">
                <div class="miniBadge bordered5 shadow-1e colorWhite colorTextReverse">
                    Ejemplo 1 texto largo
                </div>
            </a>
        </div>
        <div class="item">
            <a href="gestionar_grupos">
                <div class="miniBadge bordered5 shadow-1e colorWhite colorTextReverse">
                    Ejemplo 2
                </div>
            </a>
        </div>
        <div class="item">
            <a href="gestionar_grupos">
                <div class="miniBadge bordered5 shadow-1e colorWhite colorTextReverse">
                    Ejemplo 3
                </div>
            </a>
        </div>
        <div class="item">
            <a href="gestionar_grupos">
                <div class="miniBadge bordered5 shadow-1e colorWhite colorTextReverse">
                    Ejemplo 4 texto
                </div>
            </a>
        </div>
        <div class="item" style="width: 200px;">
        </div>
    </section>
</section>
