<!--Seccion de datos relevantes en las estadisticas
        para las tabletas y para los esxritorios.-->
        <section class="mainBodyAdicional">
            <div class="title-general colorGrey">
                <h4 class="hide-on-large-only hide-on-small-only">&nbsp;&nbsp;&nbsp;&nbsp;Datos relevantes</h4>
                <h5 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;</h5>
            </div>
    
            <section class="containerTabletaSecondary colorWhite hide-on-small-only colorGreyWhiter bordered2 shadow-1e row"
                style="margin: 0 65px 0 65px; padding: 20px;">
                <div class="col s12 hide-on-med-and-down">
                    <h5>Datos relevantes</h5>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                        <a href="#!" id="coloresAqua">
                            <div class="card-stacked">
                                <div class="card-content centerAligner verticalAligner">
                                    <div>
                                        <p class="colorTextReverse fontTabletSummary">Dato relevante 1</p>
                                    </div>
                                    <div class="fontCounterSummary colorTextReverse">
                                        80
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                        <a href="#!" id="coloresAqua">
                            <div class="card-stacked">
                                <div class="card-content centerAligner verticalAligner">
                                    <div>
                                        <p class="colorTextReverse fontTabletSummary">Dato relevante 2</p>
                                    </div>
                                    <div class="fontCounterSummary colorTextReverse">
                                        80
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                        <a href="#!" id="coloresAqua">
                            <div class="card-stacked">
                                <div class="card-content centerAligner verticalAligner">
                                    <div>
                                        <p class="colorTextReverse fontTabletSummary">Dato relevante 3</p>
                                    </div>
                                    <div class="fontCounterSummary colorTextReverse">
                                        80
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                        <a href="#!" id="coloresAqua">
                            <div class="card-stacked">
                                <div class="card-content centerAligner verticalAligner">
                                    <div>
                                        <p class="colorTextReverse fontTabletSummary">Dato relevante 4</p>
                                    </div>
                                    <div class="fontCounterSummary colorTextReverse">
                                        80
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </section>
        <br>