<!--Seccion de las estadisticas gráficas para la 
    version de dispositvos moviles.-->
<section class="owl-carousel owl-three owl-theme hide-on-med-and-up colorGrey">
    <div class="item">
        <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
            <div class="counterSummaryCarousel center-align bordered3 color1 colorText shadow-1e">8</div>
            <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de grupos</div>
        </div>
    </div>
    <div class="item">
        <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
            <div class="counterSummaryCarousel center-align bordered3 color1 colorText shadow-1e">120</div>
            <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de estudiantes</div>
        </div>
    </div>
    <div class="item">
        <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
            <div class="counterSummaryCarousel center-align bordered3 color1 colorText shadow-1e">19</div>
            <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de cuestionarios
            </div>
        </div>
    </div>
    <div class="item">
        <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
            <div class="counterSummaryCarousel center-align bordered3 color1 colorText shadow-1e">19</div>
            <div class="statisticSummary truncate flow-text colorTextReverse">&nbsp; &nbsp; Número de temas</div>
        </div>
    </div>

    <div class="item" style="width: 200px;">
    </div>
</section>
