<!--Seccion de datos relevantes en las estadisticas
        para las tabletas y para los esxritorios.-->
<section class="mainBodyAdicional">
    <div class="title-general colorGrey">
        <h4 class="hide-on-large-only hide-on-small-only">&nbsp;&nbsp;&nbsp;&nbsp;Resumen general</h4>
        <h5 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;</h5>
    </div>

    <section class="containerTabletaSecondary colorWhite hide-on-small-only colorGreyWhiter bordered2 shadow-1e row"
        style="margin: 0 65px 0 65px; padding: 20px;">
        <div class="col s12 hide-on-med-and-down">
            <h5>Resumen general</h5>
        </div>
        <div class="col s12 m4 l3">
            <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                <div class="card-stacked">
                    <div class="card-content centerAligner verticalAligner">
                        <div>
                            <p class="colorTextReverse fontTabletSummary">Grupos</p>
                        </div>
                        <div class="fontCounterSummary colorTextReverse" id="counterGroupsMed">
                            No data
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                <div class="card-stacked">
                    <div class="card-content centerAligner verticalAligner">
                        <div>
                            <p class="colorTextReverse fontTabletSummary">Alumnos</p>
                        </div>
                        <div class="fontCounterSummary colorTextReverse" id="counterStudentsMed">
                            No data
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                <div class="card-stacked">
                    <div class="card-content centerAligner verticalAligner">
                        <div>
                            <p class="colorTextReverse fontTabletSummary">Cuestionarios</p>
                        </div>
                        <div class="fontCounterSummary colorTextReverse" id="counterTestMed">
                            {{IDS_Cuestionarios}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l3">
            <div class="card bordered1 borderDecoration colorGreyWhiter shadow-2">
                <div class="card-stacked">
                    <div class="card-content centerAligner verticalAligner">
                        <div>
                            <p class="colorTextReverse fontTabletSummary">Promedio global</p>
                        </div>
                        <div class="fontCounterSummary colorTextReverse" id="counterGradeMed">
                            No data
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>