<!--Seccion de las estadisticas gráficas para la 
    version de dispositvos moviles.-->
<section class="owl-carousel owl-three owl-theme hide-on-med-and-up colorGrey">
    <div class="item">
        <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
            <div class="counterSummaryCarousel center-align bordered3 color1 colorText shadow-1e" id="counterGroupsSmall">Null</div>
            <div class="statisticSummary truncate flow-text colorTextReverse TDI">&nbsp; &nbsp; Número de grupos</div>
        </div>
    </div>
    <div class="item">
        <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
            <div class="counterSummaryCarousel center-align bordered3 color1 colorText shadow-1e" id="counterStudentsSmall">Null</div>
            <div class="statisticSummary truncate flow-text colorTextReverse TDI">&nbsp; &nbsp; Número de alumnos</div>
        </div>
    </div>
    <div class="item">
        <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
            <div class="counterSummaryCarousel center-align bordered3 color1 colorText shadow-1e" id="counterTestSmall">{{IDS_Cuestionarios}}</div>
            <div class="statisticSummary truncate flow-text colorTextReverse TDI">&nbsp; &nbsp; Número de cuestionarios
            </div>
        </div>
    </div>
    <div class="item">
        <div class="centerAligner borderDecorationStrong cardSummaryCarousel shadow-1e bordered1 colorGreyWhiter">
            <div class="counterSummaryCarousel center-align bordered3 color1 colorText shadow-1e" id="counterGradeSmall">Null</div>
            <div class="statisticSummary truncate flow-text colorTextReverse TDI">&nbsp; &nbsp; Promedio global</div>
        </div>
    </div>

    <div class="item" style="width: 200px;">
    </div>
</section>