<!--Seccion de datos relevantes en las estadisticas
            para los dispositivos moviles.-->
<div class="title-general colorGrey">
    <h4 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Gráficas</h4>
    <h5 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Gráficas</h5>
    &nbsp;&nbsp;&nbsp;
    <!-- Dropdown Trigger -->
    <a class='dropdown-trigger btn button-rounded colorGreyWhiter colorTextReverse' href='#' data-target='dropdown3'><i
            class="material-icons">settings</i></a>

    <!-- Dropdown Structure -->
    <ul id='dropdown3' class='dropdown-content'>
        <li class="hide-on-med-and-up"><a href="#!" id="listaGrafCuestionarios" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">view_list</i>Lista</a></li>
        <li class="hide-on-med-and-up"><a href="#!" id="carouselGrafCuestionarios" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">swap_horiz</i>Carrusel</a></li>
        <li class="hide-on-small-only"><a href="#!" id="dashboardGrafCuestionarios" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">dashboard</i>Cuadricula</a></li>
        <li class="hide-on-small-only"><a href="#!" id="dashboardVerticalGrafCuestionarios" class="colorTextReverse"><i
                    class="colorTextReverse material-icons">vertical_split</i>Vertical</a></li>
    </ul>
</div>

<!--SECCION PARA LOS DISPOSITIVOS MÓVILES-->

<section style="margin: 0px;" id="carouselGrafCuestionariosSegmento" class="hide-on-med-and-up">
    <!--Carousel con algunas cuantas graficas.-->
    <section class="owl-carousel owl-four owl-theme hide-on-med-and-up colorGrey">
        <div class="item">
            <div class="bordered2 shadow-2e cuerpoCardGrafica colorWhite">
                <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
                </div>
                <div class="graficoCardGrafica bordered2Down centerAligner">
                    {% include "includes/mensajesCasos/error.html" %}
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bordered2 shadow-2e cuerpoCardGrafica colorWhite">
                <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
                </div>
                <div class="graficoCardGrafica bordered2Down centerAligner">
                    {% include "includes/mensajesCasos/error.html" %}
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bordered2 shadow-2e cuerpoCardGrafica colorWhite">
                <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
                </div>
                <div class="graficoCardGrafica bordered2Down centerAligner">
                    {% include "includes/mensajesCasos/error.html" %}
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bordered2 shadow-2e cuerpoCardGrafica colorWhite">
                <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
                </div>
                <div class="graficoCardGrafica bordered2Down centerAligner">
                    {% include "includes/mensajesCasos/error.html" %}
                </div>
            </div>
        </div>

        <div class="item" style="width: 200px;">
        </div>
    </section>
</section>

<!--Listado de los elementos-->
<section style="margin: 0 50px 10px 50px;" class="row hidderMine hide-on-med-and-up" id="listadoGrafCuestionariosSegmento">
    <div class="col s12 m6 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaLista colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaLista colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaLista colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaLista colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
</section>


<!--SECCION PARA LAS TABLETAS Y PARA LAS COMPUTADORAS DE ESCRITORIO-->

<!--Listado de los elementos-->
<section style="margin: 40px;" class="row hide-on-small-only" id="dashboardGrafCuestionariosSegmento">
    <div class="col s12 m12 l12">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
</section>


<!--Listado de los elementos-->
<section style="margin: 40px;" class="row hidderMine hide-on-small-only" id="dashboardVerticalGrafCuestionariosSegmento">
    <div class="col s12 m6 l4">
        <div class="bordered2 shadow-2e cuerpoCardGraficaLista colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="bordered2 shadow-2e cuerpoCardGraficaLista colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="bordered2 shadow-2e cuerpoCardGraficaLista colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaLista colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaLista colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up center-align colorGreyWhiter">Titulo de la gráfica
            </div>
            <div class="graficoCardGrafica bordered2Down centerAligner">
                {% include "includes/mensajesCasos/error.html" %}
            </div>
        </div>
    </div>
</section>