<script src='https://cdn.plot.ly/plotly-2.14.0.min.js'></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<!--Seccion de datos relevantes en las estadisticas
            para los dispositivos moviles.-->
<div class="title-general colorGrey titleGraficas" style="margin: 20px 0px 0px 0px;">
    <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Gráficas globales</h5>
    <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Gráficas globales</h4>
    &nbsp;&nbsp;&nbsp;
    <!-- Dropdown Trigger -->
    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
            class="material-icons md-24">grid_view</i></a>
</div>

<!--SECCION PARA LAS TABLETAS Y PARA LAS COMPUTADORAS DE ESCRITORIO-->

<!--Listado de los elementos-->
<section style="margin: 20px 40px 20px 40px;" class="row" id="dashboardGrafGruposSegmento">
    <div class="col s12 m12 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                <div class="tituloCardGraficaText">
                    Promedio general de grupos
                </div>
                <div class="porcentageGraficaText">
                    <span class="porcentageGrafica coloredText"><i class="porcentageNumero">78</i>%</span>
                    <div class="porcentageGraficaTrends">
                        <span class="tendenciaGrafica goodColor"><i class="material-icons">trending_up</i></span>
                        <span class="tendenciaGrafica badColor"><i class="material-icons">trending_down</i></span>
                        <span class="tendenciaGrafica infoColor"><i class="material-icons">trending_flat</i></span>
                    </div>
                </div>
            </div>
            <div class="graficoCardGrafica centerAligner">
                <div id="graph1"></div>
            </div>
            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'
                        onclick="grafica_barras()"><i class="material-icons md-24">bar_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'
                        onclick="grafica_lineal()"><i class="material-icons md-24">show_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' onclick="grafica_pastel()"
                        href='#'><i class="material-icons md-24">pie_chart</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                <div class="tituloCardGraficaText">
                    Indice de aprobación de grupos
                </div>
                <div class="porcentageGraficaText">
                    <span class="porcentageGrafica coloredText"><i class="porcentageNumero">59</i>%</span>
                    <div class="porcentageGraficaTrends">
                        <span class="tendenciaGrafica goodColor"><i class="material-icons">trending_up</i></span>
                        <span class="tendenciaGrafica badColor"><i class="material-icons">trending_down</i></span>
                        <span class="tendenciaGrafica infoColor"><i class="material-icons">trending_flat</i></span>
                    </div>
                </div>
            </div>
            <div class="graficoCardGrafica centerAligner">
                <div id="graph2"></div>
            </div>
            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">bar_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">show_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">pie_chart</i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contenedor de elementos por grupo-->
<section class="contenedorGrupos">
    <ul class="collapsible bordered5 colorWhite">
        <li>
            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse">
                <i class="material-icons">groups</i>Grupo 1.
            </div>
            <div class="bordered5 collapsible-body">
                <!--Graficas de un grupo en concreto-->
                <section class="row" id="dashboardGrafGruposSegmento">
                    <!--Gráfica 1-->
                    <div class="col s12 m12 l6">
                        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
                            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                                <div class="tituloCardGraficaText">
                                    Promedio general del grupo 1
                                </div>
                                <div class="porcentageGraficaText">
                                    <span class="porcentageGrafica coloredText"><i
                                            class="porcentageNumero">0</i>%</span>
                                    <div class="porcentageGraficaTrends">
                                        <span class="tendenciaGrafica goodColor"><i
                                                class="material-icons">trending_up</i></span>
                                        <span class="tendenciaGrafica badColor"><i
                                                class="material-icons">trending_down</i></span>
                                        <span class="tendenciaGrafica infoColor"><i
                                                class="material-icons">trending_flat</i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="graficoCardGrafica centerAligner">
                                <!-- <div id='chart7' class='chart' ”></div> -->
                            </div>
                            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">bar_chart</i></a>
                                </div>
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">show_chart</i></a>
                                </div>
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">pie_chart</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gráfica 2-->
                    <div class="col s12 m12 l6">
                        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
                            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                                <div class="tituloCardGraficaText">
                                    Indice de aprobación de grupo 1
                                </div>
                                <div class="porcentageGraficaText">
                                    <span class="porcentageGrafica coloredText"><i
                                            class="porcentageNumero">89</i>%</span>
                                    <div class="porcentageGraficaTrends">
                                        <span class="tendenciaGrafica goodColor"><i
                                                class="material-icons">trending_up</i></span>
                                        <span class="tendenciaGrafica badColor"><i
                                                class="material-icons">trending_down</i></span>
                                        <span class="tendenciaGrafica infoColor"><i
                                                class="material-icons">trending_flat</i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="graficoCardGrafica centerAligner">
                                <!-- <div id='chart8' class='chart' ”></div> -->
                            </div>
                            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">bar_chart</i></a>
                                </div>
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">show_chart</i></a>
                                </div>
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">pie_chart</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </li>
    </ul>
</section>
<input type="hidden" value="{{ xgrupos }}" id="xgrupos"/>
<input type="hidden" value="{{ygrupos}}" id="ygrupos">
<script>
    //graficas por default
    var comillas_simples = new RegExp("\'", "g");
    
    let xgrupos=$('#xgrupos').val()
    xgrupos = xgrupos.replace(comillas_simples, "\"")
    xgrupos=JSON.parse(xgrupos)

    let ygrupos=$('#ygrupos').val()
    ygrupos=ygrupos.replace(comillas_simples,"\"")
    ygrupos=JSON.parse(ygrupos)
    
    var trace1 = {
        type: 'bar',
        x: xgrupos,
        y: ygrupos,
        marker: {
            color: ['#628E90', '#256D85', '#7895B2', '#5F6F94', '#2B4865'],
            line: {
                width: 2.5
            }
        }
    };

    var data = [trace1];

    var layout = {
        title: 'Responsive graphs examples',
        font: { size: 10 }
    };
    var config = { responsive: true }
    Plotly.newPlot('graph1', data, layout, config);
    Plotly.newPlot('graph2', data, layout, config);
    
    function grafica_barras() {
        var trace1 = {
            type: 'bar',
            x: [1, 2, 3, 4],
            y: [5, 10, 2, 8],
            marker: {
                color: ['#628E90', '#256D85', '#7895B2', '#5F6F94', '#2B4865'],
                line: {
                    width: 2.5
                }
            }
        };

        var data = [trace1];

        var layout = {
            title: 'Responsive graphs examples',
            font: { size: 10 }
        };
        var config = { responsive: true }
        Plotly.newPlot('graph1', data, layout, config);
    }

    function grafica_pastel() {

        var data2 = [{
            values: [19, 26, 55],
            labels: ['Residential', 'Non-Residential', 'Utility'],
            type: 'pie',
            marker:{
                colors: ['#628E90', '#256D85', '#7895B2', '#5F6F94', '#2B4865']
            }
        }];
        var layout = {
            title: 'Responsive graphs examples',
            font: { size: 10 }
        };
        var config = { responsive: true }
        Plotly.newPlot('graph1', data2, layout, config);

    }
    function grafica_lineal() {
        var trace1 = {
            x: [1, 2, 3, 4],
            y: [10, 15, 13, 17],
            type: 'scatter'
        };

        var trace2 = {
            x: [1, 2, 3, 4],
            y: [16, 5, 11, 9],
            type: 'scatter'
        };
        var layout = {
            title: 'Responsive graphs examples',
            font: { size: 10 }
        };
        var data = [trace1, trace2];
        var config = { responsive: true }

        Plotly.newPlot('graph1', data, layout, config);
    }


</script>