<script src='https://cdn.plot.ly/plotly-2.14.0.min.js'></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

<!--Seccion de datos relevantes en las estadisticas
            para los dispositivos moviles.-->
<div class="title-general colorGrey titleGraficas" style="margin: 20px 0px 0px 0px;">
    <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Gráficas globales</h5>
    <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Gráficas globales</h4>
    &nbsp;&nbsp;&nbsp;
    <!-- Dropdown Trigger -->
    <a class='btn button-rounded colorGreyWhiter colorTextReverse'><i class="material-icons md-24">grid_view</i></a>
</div>

<!--SECCION PARA LAS TABLETAS Y PARA LAS COMPUTADORAS DE ESCRITORIO-->

<!--Listado de los elementos-->
<section style="margin: 20px 40px 20px 40px;" class="row" id="dashboardGrafGruposSegmento">
    <div class="col s12 m12 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                <div class="tituloCardGraficaText">
                    Promedio general de grupos
                </div>
                <div class="porcentageGraficaText">
                    <span class="porcentageGrafica colorTextReverse"><i class="porcentageNumero">78</i>%</span>
                    <div class="porcentageGraficaTrends">
                        <span class="tendenciaGrafica goodColor"><i class="material-icons">trending_up</i></span>
                        <span class="tendenciaGrafica badColor"><i class="material-icons">trending_down</i></span>
                        <span class="tendenciaGrafica infoColor"><i class="material-icons">trending_flat</i></span>
                    </div>
                </div>
            </div>
            <div class="graficoCardGrafica centerAligner">
                <div id="graph1"></div>
            </div>
            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse'
                        onclick="grafica_barras_promedio_general()"><i class="material-icons md-24">bar_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse'
                        onclick="grafica_lineal_promedio_general()"><i class="material-icons md-24">ssid_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse'
                        onclick="grafica_pastel_promedio_general()"><i class="material-icons md-24">pie_chart</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                <div class="tituloCardGraficaText">
                    Indice aprobación grupos
                </div>
                <div class="porcentageGraficaText">
                    <span class="porcentageGrafica colorTextReverse"><i class="porcentageNumero"
                            id="trendGlobalAprobacion">59</i>%</span>
                    <div class="porcentageGraficaTrends">
                        <span class="tendenciaGrafica goodColor"><i class="material-icons">trending_up</i></span>
                        <span class="tendenciaGrafica badColor"><i class="material-icons">trending_down</i></span>
                        <span class="tendenciaGrafica infoColor"><i class="material-icons">trending_flat</i></span>
                    </div>
                </div>
            </div>
            <div class="graficoCardGrafica centerAligner">
                <div id="graph2"></div>
            </div>
            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse'
                        onclick="grafica_barras_indice_aprobacion()"><i class="material-icons md-24">stacked_bar_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse'
                        onclick="barras_porcentage_por_grupo_aprobacion()"><i
                            class="material-icons md-24">insights</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse'
                        onclick="grafica_pastel_indice_aprobacion()"><i class="material-icons md-24">pie_chart</i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contenedor de elementos por grupo-->
<section class="contenedorGrupos">
    <!--Listado de los informes.-->
    <ul class="collapsible bordered2 colorWhite">
        {%for i in range(0, datosGrupo|length)%}
        <li>
            <div class="collapsible-header bordered2"><i class="material-icons">groups_3</i>{{datosGrupo[i][2]}}
                <span class="colorGrey colorTextReverse bordered5 porcentajeAprobacionContadorIndividual"></span> <!--Aqui van los indice de aprobacion-->
            </div>
            <div class="collapsible-body">
                <section class="contenedorGrupoIndividualInsights">
                    
                </section>      
            </div>
        </li>
        {%endfor%}
    </ul>
</section>

<!--Accedemos a la data de la BD con python-->
<input type="hidden" value="{{datosGrupo}}" id="datosDeLosGrupos">
<input type="hidden" value="{{idGrupos}}" id="idGrupos">
<input type="hidden" value="{{datosGlobalesAlumnos}}" id="datosGlobalesAlumnosDentroGrupo">
<input type="hidden" value="{{datosCuestionariosProfe}}" id="datosCuestionariosGeneralesCuestionarios">
<input type="hidden" value="{{datosCuestionariosTerminados}}" id="cuestionariosTerminados">
<input type="hidden" value="{{xgrupos}}" id="xgrupos">
<input type="hidden" value="{{ygrupos}}" id="ygrupos">
<!--Tenemos nuestro script para imprimir la data de lso gráficos-->
<script src="../../../static/js/graficas/obtencionData.js"></script>
<script src="../../../static/js/graficas/graficasGrupoPromedio.js"></script>
<script src="../../../static/js/graficas/graficasGrupoIndiceAprobacion.js"></script>
<script src="../../../static/js/graficas/graficasGrupoIndividual.js"></script>
