<!--Seccion de datos relevantes en las estadisticas
            para los dispositivos moviles.-->
<div class="title-general colorGrey titleGraficas" style="margin: 20px 0px 0px 0px;">
    <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Gráficas globales</h5>
    <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Gráficas globales</h4>
    &nbsp;&nbsp;&nbsp;
    <!-- Dropdown Trigger -->
    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
            class="material-icons md-24">grid_view</i></a>
</div>

<!--SECCION PARA LAS TABLETAS Y PARA LAS COMPUTADORAS DE ESCRITORIO-->

<!--Listado de los elementos-->
<section style="margin: 20px 40px 20px 40px;" class="row" id="dashboardGrafGruposSegmento">
    <div class="col s12 m12 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                <div class="tituloCardGraficaText">
                    Promedio general de cuestionarios
                </div>
                <div class="porcentageGraficaText">
                    <span class="porcentageGrafica coloredText"><i class="porcentageNumero">78</i>%</span>
                    <div class="porcentageGraficaTrends">
                        <span class="tendenciaGrafica goodColor"><i class="material-icons">trending_up</i></span>
                        <span class="tendenciaGrafica badColor"><i class="material-icons">trending_down</i></span>
                        <span class="tendenciaGrafica infoColor"><i class="material-icons">trending_flat</i></span>
                    </div>
                </div>
            </div>
            <div class="graficoCardGrafica centerAligner">
                <div id='chart9' class='chart' ”></div>
            </div>
            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">bar_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">show_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">pie_chart</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                <div class="tituloCardGraficaText">
                    Indice de aprobación de cuestionarios
                </div>
                <div class="porcentageGraficaText">
                    <span class="porcentageGrafica coloredText"><i class="porcentageNumero">59</i>%</span>
                    <div class="porcentageGraficaTrends">
                        <span class="tendenciaGrafica goodColor"><i class="material-icons">trending_up</i></span>
                        <span class="tendenciaGrafica badColor"><i class="material-icons">trending_down</i></span>
                        <span class="tendenciaGrafica infoColor"><i class="material-icons">trending_flat</i></span>
                    </div>
                </div>
            </div>
            <div class="graficoCardGrafica centerAligner">
                <div id='chart10' class='chart' ”></div>
            </div>
            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">bar_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">show_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">pie_chart</i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contenedor de elementos por grupo-->
<section class="contenedorGrupos">
    <ul class="collapsible bordered5 colorWhite">
        <li>
            <div class="bordered5 collapsible-header colorWhite shadow-1e colorTextReverse">
                <i class="material-icons">description</i>Cuestionario 1.
            </div>
            <div class="bordered5 collapsible-body">
                <!--Graficas de un grupo en concreto-->
                <section class="row" id="dashboardGrafGruposSegmento">
                    <!--Gráfica 1-->
                    <div class="col s12 m12 l6">
                        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
                            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                                <div class="tituloCardGraficaText">
                                    Promedio general del cuestionario 1
                                </div>
                                <div class="porcentageGraficaText">
                                    <span class="porcentageGrafica coloredText"><i
                                            class="porcentageNumero">0</i>%</span>
                                    <div class="porcentageGraficaTrends">
                                        <span class="tendenciaGrafica goodColor"><i
                                                class="material-icons">trending_up</i></span>
                                        <span class="tendenciaGrafica badColor"><i
                                                class="material-icons">trending_down</i></span>
                                        <span class="tendenciaGrafica infoColor"><i
                                                class="material-icons">trending_flat</i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="graficoCardGrafica centerAligner">
                                <div id='chart11' class='chart' ”></div>
                            </div>
                            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">bar_chart</i></a>
                                </div>
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">show_chart</i></a>
                                </div>
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">pie_chart</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gráfica 2-->
                    <div class="col s12 m12 l6">
                        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
                            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                                <div class="tituloCardGraficaText">
                                    Indice de aprobación de cuestionario 1
                                </div>
                                <div class="porcentageGraficaText">
                                    <span class="porcentageGrafica coloredText"><i
                                            class="porcentageNumero">89</i>%</span>
                                    <div class="porcentageGraficaTrends">
                                        <span class="tendenciaGrafica goodColor"><i
                                                class="material-icons">trending_up</i></span>
                                        <span class="tendenciaGrafica badColor"><i
                                                class="material-icons">trending_down</i></span>
                                        <span class="tendenciaGrafica infoColor"><i
                                                class="material-icons">trending_flat</i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="graficoCardGrafica centerAligner">
                                <div id='chart12' class='chart' ”></div>
                            </div>
                            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">bar_chart</i></a>
                                </div>
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">show_chart</i></a>
                                </div>
                                <div>
                                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                                            class="material-icons md-24">pie_chart</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </li>
    </ul>
</section>