<!--Seccion de datos relevantes en las estadisticas
            para los dispositivos moviles.-->
<div class="title-general colorGrey titleGraficas" style="margin: 20px 0px 0px 0px;">
    <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Gráficas globales</h5>
    <h4 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Gráficas globales</h4>
    &nbsp;&nbsp;&nbsp;
    <!-- Dropdown Trigger -->
    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
            class="material-icons md-24">grid_view</i></a>
</div>

<!--SECCION PARA LAS TABLETAS Y PARA LAS COMPUTADORAS DE ESCRITORIO-->

<!--Listado de los elementos-->
<section style="margin: 20px 40px 20px 40px;" class="row" id="dashboardGrafGruposSegmento">
    <div class="col s12 m12 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                <div class="tituloCardGraficaText">
                    Promedio general de cuestionarios
                </div>
                <div class="porcentageGraficaText">
                    <span class="porcentageGrafica coloredText"><i class="porcentageNumero">78</i>%</span>
                    <div class="porcentageGraficaTrends">
                        <span class="tendenciaGrafica goodColor"><i class="material-icons">trending_up</i></span>
                        <span class="tendenciaGrafica badColor"><i class="material-icons">trending_down</i></span>
                        <span class="tendenciaGrafica infoColor"><i class="material-icons">trending_flat</i></span>
                    </div>
                </div>
            </div>
            <div class="graficoCardGrafica centerAligner">
                <div id="graph3"></div>
            </div>
            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse'
                    onclick="grafica_barras_numero_cuestionarios_por_grupo()"><i class="material-icons md-24">bar_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse'
                    onclick="grafica_barras_promedio_general_por_cuestinario()"><i class="material-icons md-24">bar_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse'
                    onclick="grafica_tiempo_respuesta_promedio_cuestionario()"><i class="material-icons md-24">radar</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div class="bordered2 shadow-2e cuerpoCardGraficaDashboard colorWhite">
            <div class="tituloCardGrafica flow-text bordered2Up colorGreyWhiter">
                <div class="tituloCardGraficaText">
                    Aprobación general de cuestionarios.
                </div>
                <div class="porcentageGraficaText">
                    <span class="porcentageGrafica coloredText"><i class="porcentageNumero">59</i>%</span>
                    <div class="porcentageGraficaTrends">
                        <span class="tendenciaGrafica goodColor"><i class="material-icons">trending_up</i></span>
                        <span class="tendenciaGrafica badColor"><i class="material-icons">trending_down</i></span>
                        <span class="tendenciaGrafica infoColor"><i class="material-icons">trending_flat</i></span>
                    </div>
                </div>
            </div>
            <div class="graficoCardGrafica centerAligner">
                <div id="graph4"></div>
            </div>
            <div class="bordered2Down centerAligner colorGrey viewsGraps">
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">bar_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">show_chart</i></a>
                </div>
                <div>
                    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
                            class="material-icons md-24">pie_chart</i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contenedor de elementos por grupo-->
<section class="contenedorGrupos">
    <!--Listado de los informes.-->
    <ul class="collapsible bordered2 colorWhite">
        {%for i in range(0, datosGrupo|length)%}
        <li>
            <div class="collapsible-header bordered2"><i class="material-icons">groups_3</i>{{datosGrupo[i][2]}}
                <span class="colorGrey colorTextReverse bordered5 porcentajeAprobacionContadorIndividual"></span> <!--Aqui van los indice de aprobacion-->
            </div>
            <div class="collapsible-body">
                <section class="contenedorGrupoIndividualInsights">
                    
                </section>      
            </div>
        </li>
        {%endfor%}
    </ul>
</section>