<div class="title-general colorGrey">
    <h4 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Informes</h4>
    <h5 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Informes</h5>
</div>
<section style="margin: 0 30px 30px 30px;">
    <!--Listado de los informes.-->
    <ul class="collapsible bordered2 colorWhite">
        <li>
            <div class="collapsible-header bordered2Up"><i class="material-icons">workspaces</i>Grupos</div>
            <div class="collapsible-body">
                <section class="row">
                    <div class="col s12 m6 l4">
                        <div
                            class="centerAligner horizontalAligner informeCard informeCardSmaller informeCardMargin bordered1 shadow-2e">
                            <div class="material-icons informeCardIcon colorText"><i>picture_as_pdf</i></div>
                            <div class="informeTitle truncate informeCardText colorText">Reporte grupo python
                                3CM13
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div
                            class="centerAligner horizontalAligner informeCard informeCardSmaller informeCardMargin bordered1 shadow-2e">
                            <div class="material-icons informeCardIcon colorText"><i>picture_as_pdf</i></div>
                            <div class="informeTitle truncate informeCardText colorText">Reporte grupo python
                                3CM13
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div
                            class="centerAligner horizontalAligner informeCard informeCardSmaller informeCardMargin bordered1 shadow-2e">
                            <div class="material-icons informeCardIcon colorText"><i>picture_as_pdf</i></div>
                            <div class="informeTitle truncate informeCardText colorText">Reporte grupo python
                                3CM13
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div
                            class="centerAligner horizontalAligner informeCard informeCardSmaller informeCardMargin bordered1 shadow-2e">
                            <div class="material-icons informeCardIcon colorText"><i>picture_as_pdf</i></div>
                            <div class="informeTitle truncate informeCardText colorText">Reporte grupo python
                                3CM13
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">rule</i>Cuestionarios</div>
            <div class="collapsible-body">
                {% include "includes/mensajesCasos/noInformes.html" %}
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">school</i>Alumnos</div>
            <div class="collapsible-body">
                {% include "includes/mensajesCasos/noInformes.html" %}
            </div>
        </li>
        <li>
            <div class="collapsible-header bordered2Down"><i class="material-icons">supervised_user_circle</i>Comunidad
            </div>
            <div class="collapsible-body">
                {% include "includes/mensajesCasos/noInformes.html" %}
            </div>
        </li>
    </ul>
</section>