<!--Seccion de datos relevantes en las estadisticas
            para los dispositivos moviles.-->
<div class="title-general colorGrey titleGraficas" style="margin: 20px 0px 0px 0px;">
    <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Retroalimentación de los alumnos.</h5>
    <h5 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Retroalimentación de los alumnos.</h5>
</div>

<!--SECCION PARA LAS TABLETAS Y PARA LAS COMPUTADORAS DE ESCRITORIO-->

<!--Listado de los comentarios de retroalimentacion-->
<section class="dashBoardRetroalimentacionCursos colorWhite bordered2 shadow-1e">
    <!--Selección del grupo-->
    <section class="dashBoardRetroalimentacionCursos-grupos">
        <div id="containerGruposComentarios">
            
        </div>
    </section>
    <!--Comentario del estudiante-->
    <section class="dashBoardRetroalimentacionCursos-comentarios" id="contenedorDinamicoComentarios">
        <div class="containerMessages_retro">
            <div class="comentarioContainerRetroalimentacion bordered1 colorGreyWhiter">
                <div class="comentarioContainerRetroalimentacion-userData">
                    <div class="comentarioContainerRetroalimentacion-userData-img">
                        <img class="shadow-1e" src="../../../static/images/avatares/avatar_1.jpg">
                    </div>
                    <div class="comentarioContainerRetroalimentacion-userData-name">
                        <p class="coloreTextReverse">Luis Enrique Chavarría Vázquez.</p>
                    </div>
                </div>
                <div class="comentarioContainerRetroalimentacion-comentary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex temporibus cumque labore, beatae
                    exercitationem eos voluptates praesentium perferendis ratione, totam numquam sunt quis atque corporis ea
                    sequi? Hic, temporibus vitae.aesentium perferendis ratione, totam numquam sunt quis atque corporis ea
                    sequi? Hic, temporibus vitae.
                </div>
            </div>
        </div>
    </section>

</section>