<!--Seccion de datos relevantes en las estadisticas
            para los dispositivos moviles.-->
<div class="title-general colorGrey titleGraficas" style="margin: 20px 0px 0px 0px;">
    <h5 class="hide-on-large-only">&nbsp;&nbsp;&nbsp;&nbsp;Retroalimentación de los alumnos.</h5>
    <h5 class="hide-on-med-and-down">&nbsp;&nbsp;&nbsp;&nbsp;Retroalimentación de los alumnos.</h5>
    &nbsp;&nbsp;&nbsp;
    <!-- Dropdown Trigger -->
    <a class='btn button-rounded colorGreyWhiter colorTextReverse' href='#'><i
            class="material-icons md-24">grid_view</i></a>
</div>

<!--SECCION PARA LAS TABLETAS Y PARA LAS COMPUTADORAS DE ESCRITORIO-->

<!--Listado de los elementos-->
<section style="margin: 20px 40px 20px 40px;" class="row" id="dashboardGrafGruposSegmento">
   
</section>