<!--Seccion de datos relevantes en las estadisticas
            para los dispositivos moviles.-->
<div class="title-general colorGrey titleGraficas" style="margin: 20px 0px 0px 0px;">
    <h5 class="hide-on-large-only TDI">&nbsp;&nbsp;&nbsp;&nbsp;Comentarios de los alumnos.</h5>
    <h5 class="hide-on-med-and-down TDI">&nbsp;&nbsp;&nbsp;&nbsp;Comentarios de los alumnos.</h5>
</div>

<!--SECCION PARA LAS TABLETAS Y PARA LAS COMPUTADORAS DE ESCRITORIO-->

<!--Listado de los comentarios de retroalimentacion-->
<section class="dashBoardRetroalimentacionCursos colorWhite bordered2 shadow-1e">
    <!--Selección del grupo-->
    <section class="dashBoardRetroalimentacionCursos-grupos">
        <div id="containerGruposComentarios">
            
        </div>
    </section>
    <!--Comentario del estudiante-->
    <section class="dashBoardRetroalimentacionCursos-comentarios" id="contenedorDinamicoComentarios">
        <div id="containerMessages_retro">
            
            
        </div>
    </section>

</section>